{% load static %}
{% load sass_tags %}
<div class="col-xl-4 col-md-6 col-sm-12 box-col-6">
  <div class="card">
    <div class="card-header pb-0">
      <h5>Mouse Speed Chart</h5>
    </div>
    <div class="card-body chart-block">
      <div class="flot-chart-container">
        <div class="flot-chart-placeholder" id="mouse-speed-chart-sparkline"></div>
      </div>
    </div>
  </div>
</div>
<div class="col-xl-4 col-md-6 col-sm-12 box-col-6">
  <div class="card">
    <div class="card-header pb-0">
      <h5>Simple Bar Charts</h5>
    </div>
    <div class="card-body chart-block">
      <div class="flot-chart-container">
        <div class="flot-chart-placeholder" id="custom-line-chart"></div>
      </div>
    </div>
  </div>
</div>
<div class="col-xl-4 col-md-6 col-sm-12 box-col-6">
  <div class="card">
    <div class="card-header pb-0">
      <h5>Line Chart</h5>
    </div>
    <div class="card-body chart-block">
      <div class="flot-chart-container">
        <div class="flot-chart-placeholder line-chart-sparkline" id="line-chart-sparkline"></div>
      </div>
    </div>
  </div>
</div>