{% load static %}
{% load sass_tags %}
<div class="col-sm-12 col-xl-6 box-col-6">
  <div class="card">
    <div class="card-header pb-0">
      <h5>Area Chart <span class="digits">1</span></h5>
    </div>
    <div class="card-body p-0 chart-block">
      <div class="chart-overflow" id="area-chart1"></div>
    </div>
  </div>
</div>
<div class="col-sm-12 col-xl-6 box-col-6">
  <div class="card">
    <div class="card-header pb-0">
      <h5>Area Chart <span class="digits">2</span></h5>
    </div>
    <div class="card-body p-0 chart-block">
      <div class="chart-overflow" id="area-chart2"></div>
    </div>
  </div>
</div>
<div class="col-sm-12 col-xl-6 box-col-6">
  <div class="card">
    <div class="card-header pb-0">
      <h5>Column Chart <span class="digits">1 </span></h5>
    </div>
    <div class="card-body chart-block">
      <div class="chart-overflow" id="column-chart1"></div>
    </div>
  </div>
</div>
<div class="col-sm-12 col-xl-6 box-col-6">
  <div class="card">
    <div class="card-header pb-0">
      <h5>Column Chart <span class="digits">2</span></h5>
    </div>
    <div class="card-body chart-block">
      <div class="chart-overflow" id="column-chart2"></div>
    </div>
  </div>
</div>
<div class="col-sm-12 box-col-12">
  <div class="card">
    <div class="card-header pb-0">
      <h5>Gantt Chart</h5>
    </div>
    <div class="card-body chart-block">
      <div class="chart-overflow" id="gantt_chart"></div>
    </div>
  </div>
</div>
<div class="col-sm-12 box-col-12">
  <div class="card">
    <div class="card-header pb-0">
      <h5>Line Chart</h5>
    </div>
    <div class="card-body chart-block">
      <div class="chart-overflow" id="line-chart"></div>
    </div>
  </div>
</div>