{% load static %}
{% load sass_tags %}
<div class="col-sm-6 col-xl-3 xl-25 col-lg-6 box-col-6">
  <div class="card social-widget-card">
    <div class="card-body">
      <div class="redial-social-widget radial-bar-70" data-label="50%"><i class="fa fa-facebook font-primary"></i></div>
      <h5 class="b-b-light">Facebook</h5>
      <div class="row">
        <div class="col text-center b-r-light"><span>Post</span>
          <h4 class="counter mb-0">6589</h4>
        </div>
        <div class="col text-center"><span>Like</span>
          <h4 class="counter mb-0">75269</h4>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-sm-6 col-xl-3 xl-25 col-lg-6 box-col-6">
  <div class="card social-widget-card">
    <div class="card-body">
      <div class="redial-social-widget radial-bar-70" data-label="50%"><i class="fa fa-twitter font-primary"></i></div>
      <h5 class="b-b-light">Twitter</h5>
      <div class="row">
        <div class="col text-center b-r-light"><span>Post</span>
          <h4 class="counter mb-0">6589</h4>
        </div>
        <div class="col text-center"><span>Follower</span>
          <h4 class="counter mb-0">75269</h4>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-sm-6 col-xl-3 xl-25 col-lg-6 box-col-6">
  <div class="card social-widget-card">
    <div class="card-body">
      <div class="redial-social-widget radial-bar-70" data-label="50%"><i class="fa fa-linkedin font-primary"></i></div>
      <h5 class="b-b-light">linkedin</h5>
      <div class="row">
        <div class="col text-center b-r-light"><span>Post</span>
          <h4 class="counter mb-0">1234</h4>
        </div>
        <div class="col text-center"><span>linkedin</span>
          <h4 class="counter mb-0">4369</h4>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-sm-6 col-xl-3 xl-25 col-lg-6 box-col-6">
  <div class="card social-widget-card">
    <div class="card-body">
      <div class="redial-social-widget radial-bar-70" data-label="50%"><i class="fa fa-google-plus font-primary"></i>
      </div>
      <h5 class="b-b-light">Google +</h5>
      <div class="row">
        <div class="col text-center b-r-light"><span>Post</span>
          <h4 class="counter mb-0">369</h4>
        </div>
        <div class="col text-center"><span>Follower</span>
          <h4 class="counter mb-0">3458</h4>
        </div>
      </div>
    </div>
  </div>
</div>