{% load static %}
{% load sass_tags %}
<div class="col-xl-4 col-sm-6 col-sm-12">
  <div class="card browser-widget">
    <div class="media card-body">
      <div class="media-img"><img src="{% static 'assets/images/dashboard/chrome.png' %}" alt=""></div>
      <div class="media-body align-self-center">
        <div>
          <p>Daily </p>
          <h4><span class="counter">36</span>%</h4>
        </div>
        <div>
          <p>Month </p>
          <h4><span class="counter">96</span>%</h4>
        </div>
        <div>
          <p>Week </p>
          <h4><span class="counter">46</span>%</h4>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-xl-4 col-sm-6">
  <div class="card browser-widget">
    <div class="media card-body">
      <div class="media-img"><img src="{% static 'assets/images/dashboard/firefox.png' %}" alt=""></div>
      <div class="media-body align-self-center">
        <div>
          <p>Daily </p>
          <h4><span class="counter">36</span>%</h4>
        </div>
        <div>
          <p>Month </p>
          <h4><span class="counter">96</span>%</h4>
        </div>
        <div>
          <p>Week </p>
          <h4><span class="counter">46</span>%</h4>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-xl-4 col-sm-6">
  <div class="card browser-widget">
    <div class="media card-body">
      <div class="media-img"><img src="{% static 'assets/images/dashboard/safari.png' %}" alt=""></div>
      <div class="media-body align-self-center">
        <div>
          <p>Daily </p>
          <h4><span class="counter">36</span>%</h4>
        </div>
        <div>
          <p>Month </p>
          <h4><span class="counter">96</span>%</h4>
        </div>
        <div>
          <p>Week </p>
          <h4><span class="counter">46</span>%</h4>
        </div>
      </div>
    </div>
  </div>
</div>