{% extends 'base.html' %}{% load static %}
{% load sass_tags %}
{% block content %}
<div class="page-body">
  {% include 'layout/breadcrumb.html' %}

  <!-- Container-fluid starts-->
  <div class="container-fluid">
    <div class="row">
      {% include 'forms/form_controls/checkbox_and_radio/components/custom-radio.html' %}
      {% include 'forms/form_controls/checkbox_and_radio/components/custom-checkbox.html' %}
      {% include 'forms/form_controls/checkbox_and_radio/components/animated-radio-buttons.html' %}
      {% include 'forms/form_controls/checkbox_and_radio/components/animated-checkbox-buttons.html' %}
      {% include 'forms/form_controls/checkbox_and_radio/components/square-checkbox.html' %}

    </div>
  </div>
  <!-- Container-fluid Ends-->
</div>
{% endblock content %}