{% load static %}
{% load sass_tags %}
<div class="col-sm-12 col-md-6">
  <div class="card b-r-0">
    <div class="card-header pb-0">
      <ul class="nav nav-tabs" id="icon-tab" role="tablist">
        <li class="nav-item"><a class="nav-link active" id="step-1-tab" data-bs-toggle="tab" href="#step-1" role="tab" aria-controls="step-1" aria-selected="false">Step 1</a></li>
        <li class="nav-item"><a class="nav-link" id="step-2-tab" data-bs-toggle="tab" href="#step-2" role="tab" aria-controls="step-2" aria-selected="true">Step 2 (Optional)</a></li>
      </ul>
      <div class="card-header-right">
        <ul class="setting-option">
          <li>
            <div class="setting-badge"><i class="fa fa-spin fa-cog font-primary"></i></div>
          </li>
          <!-- <li><i class="view-html fa fa-code font-primary"></i></li> -->
          <li><i class="icofont icofont-maximize full-card font-primary"></i></li>
          <li><i class="icofont icofont-minus minimize-card font-primary"></i></li>
          <!-- <li><i class="icofont icofont-refresh reload-card font-primary"></i></li> -->
          <!-- <li><i class="icofont icofont-error close-card font-primary"></i></li> -->
        </ul>
      </div>
    </div>
    <div class="card-body">
      <div class="tab-content" id="icon-tabContent">
        <div class="tab-pane fade active show" id="step-1" role="tabpanel" aria-labelledby="step-1-tab">
          <p class="m-0">
            <form class="needs-validation" id="form_step1" method="post" enctype="multipart/form-data" novalidate>
              {% csrf_token %}
              <div class="mb-3">
                <label class="form-label" for="validationCustom01">Upload new document</label>
                <input class="form-control" type="file" name="new_doc" id="new_doc" aria-label="file example" required="">
                <div class="invalid-feedback">Need to enter Upload new document</div>
              </div>
              <button class="btn btn-primary" id="btn_form_step1" type="button">Upload</button>
            </form>
          </p>
        </div>
        <div class="tab-pane fade" id="step-2" role="tabpanel" aria-labelledby="step-2-tab">
          <p class="m-0">
            <div class="row">
              <div class="col-sm-12 col-lg-12 col-xl-12">
                <label class="form-label" for="">Document History</label>
                <div class="table-responsive table-bordered">
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Document Name</th>
                        <th scope="col">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for doc_history in data %}
                      <tr id="row-{{ doc_history.id }}">
                        <th scope="row">{{ forloop.counter }}</th>
                        <td><a href="#" class="btn btn-link" onclick="btn_docname(this)" data-docname="{{ doc_history.document_name }}">{{ doc_history.document_name }}</a></td>
                        <td><a href="#" onclick="btn_del(this)" data-del="{{ doc_history.id }}" class="btn-pill btn-sm"><i data-feather="trash-2" style="color:#ff386c"></i></td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-sm-12 col-md-6">
  <div class="card">
    <div class="card-header pb-0">
      <h6>Step 3</h6>
      <div class="card-header-right">
        <ul class="setting-option">
          <li>
            <div class="setting-badge"><i class="fa fa-spin fa-cog font-primary"></i></div>
          </li>
          <!-- <li><i class="view-html fa fa-code font-primary"></i></li> -->
          <li><i class="icofont icofont-maximize full-card font-primary"></i></li>
          <li><i class="icofont icofont-minus minimize-card font-primary"></i></li>
          <!-- <li><i class="icofont icofont-refresh reload-card font-primary"></i></li> -->
          <!-- <li><i class="icofont icofont-error close-card font-primary"></i></li> -->
        </ul>
      </div>
    </div>
    <div class="card-body">
      <form class="needs-validation" id="form_step3" method="post" novalidate>
        {% csrf_token %}
        <div class="mb-3">
          <label class="form-label">Processing Time</label>
          <input class="form-control" name="processing_time" id="processing_time" type="text" placeholder="" readonly>
        </div>
        <div class="mb-3">
          <label class="form-label">Ocr_conf</label>
          <input class="form-control" name="ocr_conf" id="ocr_conf" type="text" placeholder="" readonly>
        </div>
        <div class="mb-3">
          <label class="form-label" for="validationCustom01">Preview OCR Result</label>
          <textarea class="form-control" id="preview_ocr_result" placeholder="" required=""></textarea>
          <div class="invalid-feedback">Need to enter Preview OCR Result</div>
        </div>
        <div class="mb-3">
          <label class="form-label" for="validationCustom01">Preview Translate Result</label>
          <textarea class="form-control" id="preview_translate_result" placeholder="" required=""></textarea>
          <div class="invalid-feedback">Need to enter </div>
        </div>
        <!-- <div class="mb-3">
          <label class="form-label" for="validationCustom02">Bank Name</label>
          <select class="form-select" required="" aria-label="select example">
            <option value="">Select Bank Name...</option>
            <option value="BCA">BCA</option>
            <option value="CIMB">CIMB</option>
            <option value="BRI">BRI</option>
          </select>
          <div class="invalid-feedback">Need to enter bank name</div>
        </div> -->
        <button class="btn btn-primary" id="btn_showconf" type="button">Show the confidence</button>
      </form>

      <div class="mt-3" id="display_conf" style="display: none;">
        <div class="default-according" id="accordion">
          <div class="card">
            <div class="card-header" id="headingOne">
              <button class="btn btn-link btn-block" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                  aria-expanded="true" aria-controls="collapseOne">OCR Confidence Score Model Test Tab</button>
            </div>
            <div class="collapse show" id="collapseOne" aria-labelledby="headingOne" data-bs-parent="#accordion">
              <div id="ocr_conf_score" class="card-body" style="overflow-y: auto; height:200px"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>