{% load static %}
{% load sass_tags %}
<div class="card">
  <div class="card-header pb-0">
    <h5>AOS Example animation</h5>
  </div>
  <div class="card-body">
    <div class="row gallery grid my-gallery" id="aniimated-thumbnials">
      <figure class="grid-item col-sm-3" data-aos="fade-down"><a href="{% static 'assets/images/big-masonry/1.jpg' %}"
          data-size="1600x950"><img class="img-thumbnail" src="{% static 'assets/images/masonry/1.jpg' %}"
            alt="Image description"></a>
        <figcaption>Image caption 1</figcaption>
      </figure>
      <figure class="grid-item col-sm-3" data-aos="zoom-out-down"><a
          href="{% static 'assets/images/big-masonry/2.jpg' %}" data-size="1600x950"><img class="img-thumbnail"
            src="{% static 'assets/images/masonry/2.jpg' %}" alt="Image description"></a>
        <figcaption>Image caption 2</figcaption>
      </figure>
      <figure class="grid-item col-sm-3" data-aos="flip-down"><a href="{% static 'assets/images/big-masonry/3.jpg' %}"
          data-size="1600x950"><img class="img-thumbnail" src="{% static 'assets/images/masonry/3.jpg' %}"
            alt="Image description"></a>
        <figcaption>Image caption 3</figcaption>
      </figure>
      <figure class="grid-item col-sm-3" data-aos="fade-up"><a href="{% static 'assets/images/big-masonry/4.jpg' %}"
          data-size="1600x950"><img class="img-thumbnail" src="{% static 'assets/images/masonry/4.jpg' %}"
            alt="Image description"></a>
        <figcaption>Image caption 4</figcaption>
      </figure>
      <figure class="grid-item col-sm-3" data-aos="flip-down"><a href="{% static 'assets/images/big-masonry/5.jpg' %}"
          data-size="1600x950"><img class="img-thumbnail" src="{% static 'assets/images/masonry/5.jpg' %}"
            alt="Image description"></a>
        <figcaption>Image caption 5</figcaption>
      </figure>
      <figure class="grid-item col-sm-3" data-aos="fade-up"><a href="{% static 'assets/images/big-masonry/6.jpg' %}"
          data-size="1600x950"><img class="img-thumbnail" src="{% static 'assets/images/masonry/6.jpg' %}"
            alt="Image description"></a>
        <figcaption>Image caption 6</figcaption>
      </figure>
      <figure class="grid-item col-sm-3" data-aos="flip-down"><a href="{% static 'assets/images/big-masonry/7.jpg' %}"
          data-size="11600x950"><img class="img-thumbnail" src="{% static 'assets/images/masonry/7.jpg' %}"
            alt="Image description"></a>
        <figcaption>Image caption 7</figcaption>
      </figure>
      <figure class="grid-item col-sm-3" data-aos="fade-up"><a href="{% static 'assets/images/big-masonry/8.jpg' %}"
          data-size="1600x950"><img class="img-thumbnail" src="{% static 'assets/images/masonry/8.jpg' %}"
            alt="Image description"></a>
        <figcaption>Image caption 8</figcaption>
      </figure>
      <figure class="grid-item col-sm-3" data-aos="flip-down"><a href="{% static 'assets/images/big-masonry/9.jpg' %}"
          data-size="1600x950"><img class="img-thumbnail" src="{% static 'assets/images/masonry/9.jpg' %}"
            alt="Image description"></a>
        <figcaption>Image caption 9</figcaption>
      </figure>
      <figure class="grid-item col-sm-3" data-aos="fade-up"><a href="{% static 'assets/images/big-masonry/10.jpg' %}"
          data-size="1600x950"><img class="img-thumbnail" src="{% static 'assets/images/masonry/10.jpg' %}"
            alt="Image description"></a>
        <figcaption>Image caption 10</figcaption>
      </figure>
      <figure class="grid-item col-sm-3" data-aos="flip-down"><a href="{% static 'assets/images/big-masonry/11.jpg' %}"
          data-size="1600x950"><img class="img-thumbnail" src="{% static 'assets/images/masonry/11.jpg' %}"
            alt="Image description"></a>
        <figcaption>Image caption 11</figcaption>
      </figure>
      <figure class="grid-item col-sm-3" data-aos="fade-up"><a href="{% static 'assets/images/big-masonry/12.jpg' %}"
          data-size="1600x950"><img class="img-thumbnail" src="{% static 'assets/images/masonry/12.jpg' %}"
            alt="Image description"></a>
        <figcaption>Image caption 12</figcaption>
      </figure>
      <figure class="grid-item col-sm-3" data-aos="flip-down"><a href="{% static 'assets/images/big-masonry/14.jpg' %}"
          data-size="1600x950"><img class="img-thumbnail" src="{% static 'assets/images/masonry/14.jpg' %}"
            alt="Image description"></a>
        <figcaption>Image caption 13</figcaption>
      </figure>
      <figure class="grid-item col-sm-3" data-aos="flip-left"><a href="{% static 'assets/images/big-masonry/15.jpg' %}"
          data-size="1600x950"><img class="img-thumbnail" src="{% static 'assets/images/masonry/15.jpg' %}"
            alt="Image description"></a>
        <figcaption>Image caption 14</figcaption>
      </figure>
      <figure class="grid-item col-sm-3" data-aos="flip-down"><a href="{% static 'assets/images/big-masonry/13.jpg' %}"
          data-size="1600x950"><img class="img-thumbnail" src="{% static 'assets/images/masonry/13.jpg' %}"
            alt="Image description"></a>
        <figcaption>Image caption 15</figcaption>
      </figure>
      <figure class="grid-item col-sm-3" data-aos="zoom-out"><a href="{% static 'assets/images/big-masonry/4.jpg' %}"
          data-size="1600x950"><img class="img-thumbnail" src="{% static 'assets/images/masonry/4.jpg' %}"
            alt="Image description"></a>
        <figcaption>Image caption 16</figcaption>
      </figure>
      <figure class="grid-item col-sm-3" data-aos="flip-right"><a href="{% static 'assets/images/big-masonry/5.jpg' %}"
          data-size="1600x950"><img class="img-thumbnail" src="{% static 'assets/images/masonry/5.jpg' %}"
            alt="Image description"></a>
        <figcaption>Image caption 17</figcaption>
      </figure>
      <figure class="grid-item col-sm-3" data-aos="zoom-out"><a href="{% static 'assets/images/big-masonry/6.jpg' %}"
          data-size="1600x950"><img class="img-thumbnail" src="{% static 'assets/images/masonry/6.jpg' %}"
            alt="Image description"></a>
        <figcaption>Image caption 18</figcaption>
      </figure>
      <figure class="grid-item col-sm-3" data-aos="zoom-out-up"><a href="{% static 'assets/images/big-masonry/7.jpg' %}"
          data-size="11600x950"><img class="img-thumbnail" src="{% static 'assets/images/masonry/7.jpg' %}"
            alt="Image description"></a>
        <figcaption>Image caption 19</figcaption>
      </figure>
      <figure class="grid-item col-sm-3" data-aos="zoom-out-down"><a
          href="{% static 'assets/images/big-masonry/8.jpg' %}" data-size="1600x950"><img class="img-thumbnail"
            src="{% static 'assets/images/masonry/8.jpg' %}" alt="Image description"></a>
        <figcaption>Image caption 20</figcaption>
      </figure>
      <figure class="grid-item col-sm-3" data-aos="flip-down"><a href="{% static 'assets/images/big-masonry/9.jpg' %}"
          data-size="1600x950"><img class="img-thumbnail" src="{% static 'assets/images/masonry/9.jpg' %}"
            alt="Image description"></a>
        <figcaption>Image caption 21</figcaption>
      </figure>
      <figure class="grid-item col-sm-3" data-aos="slide-up"><a href="{% static 'assets/images/big-masonry/10.jpg' %}"
          data-size="1600x950"><img class="img-thumbnail" src="{% static 'assets/images/masonry/10.jpg' %}"
            alt="Image description"></a>
        <figcaption>Image caption 22</figcaption>
      </figure>
      <figure class="grid-item col-sm-3" data-aos="flip-down"><a href="{% static 'assets/images/big-masonry/9.jpg' %}"
          data-size="1600x950"><img class="img-thumbnail" src="{% static 'assets/images/masonry/9.jpg' %}"
            alt="Image description"></a>
        <figcaption>Image caption 23</figcaption>
      </figure>
      <figure class="grid-item col-sm-3" data-aos="fade-up"><a href="{% static 'assets/images/big-masonry/10.jpg' %}"
          data-size="1600x950"><img class="img-thumbnail" src="{% static 'assets/images/masonry/10.jpg' %}"
            alt="Image description"></a>
        <figcaption>Image caption 24</figcaption>
      </figure>
      <figure class="grid-item col-sm-3" data-aos="flip-down"><a href="{% static 'assets/images/big-masonry/11.jpg' %}"
          data-size="1600x950"><img class="img-thumbnail" src="{% static 'assets/images/masonry/11.jpg' %}"
            alt="Image description"></a>
        <figcaption>Image caption 25</figcaption>
      </figure>
      <figure class="grid-item col-sm-3" data-aos="fade-up"><a href="{% static 'assets/images/big-masonry/12.jpg' %}"
          data-size="1600x950"><img class="img-thumbnail" src="{% static 'assets/images/masonry/12.jpg' %}"
            alt="Image description"></a>
        <figcaption>Image caption 26</figcaption>
      </figure>
      <figure class="grid-item col-sm-3" data-aos="flip-down"><a href="{% static 'assets/images/big-masonry/14.jpg' %}"
          data-size="1600x950"><img class="img-thumbnail" src="{% static 'assets/images/masonry/14.jpg' %}"
            alt="Image description"></a>
        <figcaption>Image caption 27</figcaption>
      </figure>
      <figure class="grid-item col-sm-3" data-aos="flip-left"><a href="{% static 'assets/images/big-masonry/15.jpg' %}"
          data-size="1600x950"><img class="img-thumbnail" src="{% static 'assets/images/masonry/15.jpg' %}"
            alt="Image description"></a>
        <figcaption>Image caption 28</figcaption>
      </figure>
      <figure class="grid-item col-sm-3" data-aos="flip-down"><a href="{% static 'assets/images/big-masonry/13.jpg' %}"
          data-size="1600x950"><img class="img-thumbnail" src="{% static 'assets/images/masonry/13.jpg' %}"
            alt="Image description"></a>
        <figcaption>Image caption 29</figcaption>
      </figure>
      <figure class="grid-item col-sm-3" data-aos="zoom-out"><a href="{% static 'assets/images/big-masonry/4.jpg' %}"
          data-size="1600x950"><img class="img-thumbnail" src="{% static 'assets/images/masonry/4.jpg' %}"
            alt="Image description"></a>
        <figcaption>Image caption 30</figcaption>
      </figure>
      <figure class="grid-item col-sm-3" data-aos="flip-right"><a href="{% static 'assets/images/big-masonry/5.jpg' %}"
          data-size="1600x950"><img class="img-thumbnail" src="{% static 'assets/images/masonry/5.jpg' %}"
            alt="Image description"></a>
        <figcaption>Image caption 31</figcaption>
      </figure>
      <figure class="grid-item col-sm-3" data-aos="zoom-out"><a href="{% static 'assets/images/big-masonry/6.jpg' %}"
          data-size="1600x950"><img class="img-thumbnail" src="{% static 'assets/images/masonry/6.jpg' %}"
            alt="Image description"></a>
        <figcaption>Image caption 32</figcaption>
      </figure>
      <figure class="grid-item col-sm-3" data-aos="zoom-out-up"><a href="{% static 'assets/images/big-masonry/7.jpg' %}"
          data-size="11600x950"><img class="img-thumbnail" src="{% static 'assets/images/masonry/7.jpg' %}"
            alt="Image description"></a>
        <figcaption>Image caption 33</figcaption>
      </figure>
    </div>
    <!-- Root element of PhotoSwipe. Must have class pswp.-->
    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
      <!--
      Background of PhotoSwipe.
      It's a separate element, as animating opacity is faster than rgba().
      -->
      <div class="pswp__bg"></div>
      <!-- Slides wrapper with overflow:hidden.-->
      <div class="pswp__scroll-wrap">
        <!-- Container that holds slides. PhotoSwipe keeps only 3 slides in DOM to save memory.-->
        <!-- don't modify these 3 pswp__item elements, data is added later on.-->
        <div class="pswp__container">
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
        </div>
        <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed.-->
        <div class="pswp__ui pswp__ui--hidden">
          <div class="pswp__top-bar">
            <!-- Controls are self-explanatory. Order can be changed.-->
            <div class="pswp__counter"></div>
            <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
            <button class="pswp__button pswp__button--share" title="Share"></button>
            <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
            <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
            <!-- Preloader demo https://codepen.io/dimsemenov/pen/yyBWoR-->
            <!-- element will get class pswp__preloader--active when preloader is running-->
            <div class="pswp__preloader">
              <div class="pswp__preloader__icn">
                <div class="pswp__preloader__cut">
                  <div class="pswp__preloader__donut"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
            <div class="pswp__share-tooltip"></div>
          </div>
          <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
          <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
          <div class="pswp__caption">
            <div class="pswp__caption__center"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>