{% load static %}
{% load sass_tags %}
<div class="col-12">
  <div class="card">
    <div class="card-header pb-0">
      <h5>API</h5>
      <p class="mb-0">add item, add board, delete board:</p>
    </div>
    <div class="card-body">
      <div id="demo3"></div>
      <button class="btn btn-primary" id="addDefault">Add &quot;Default&quot; board</button>
      <button class="btn btn-success" id="addToDo">Add element in &quot;To Do&quot; Board</button>
      <button class="btn btn-danger mb-0" id="removeBoard">Remove &quot;Done&quot; Board</button>
    </div>
  </div>
</div>