{% load static %}
{% load sass_tags %}
<div class="card">
  <div class="card-header pb-0">
    <h5>bold Border outline buttons</h5>
    <div class="card-header-right">
      <ul class="setting-option">
        <li>
          <div class="setting-badge"><i class="fa fa-spin fa-cog font-primary"></i></div>
        </li>
        <li><i class="view-html fa fa-code font-primary"></i></li>
        <li><i class="icofont icofont-maximize full-card font-primary"></i></li>
        <li><i class="icofont icofont-minus minimize-card font-primary"></i></li>
        <li><i class="icofont icofont-refresh reload-card font-primary"></i></li>
        <li><i class="icofont icofont-error close-card font-primary"></i></li>
        <li><i class="icofont icofont-error close-card font-primary"></i></li>
      </ul>
    </div><span>Add <code>.btn-pill</code>,<code>.btn-air-*</code> and <code>.btn-outline-*-2x</code> class for button
      with bold outline</span>
  </div>
  <div class="card-body btn-showcase">
    <button class="btn btn-pill btn-outline-primary-2x btn-air-primary" type="button">Primary Button</button>
    <button class="btn btn-pill btn-outline-secondary-2x btn-air-secondary" type="button">Secondary Button</button>
    <button class="btn btn-pill btn-outline-success-2x btn-air-success" type="button">Success Button</button>
    <button class="btn btn-pill btn-outline-info-2x btn-air-info" type="button">Info Button</button>
    <button class="btn btn-pill btn-outline-warning-2x btn-air-warning" type="button">Warning Button</button>
    <button class="btn btn-pill btn-outline-danger-2x btn-air-danger" type="button">Danger Button</button>
    <button class="btn btn-pill btn-outline-light-2x btn-air-light txt-dark" type="button">Light Button</button>
    <div class="code-box-copy">
      <button class="code-box-copy__btn btn-clipboard" data-clipboard-target="#example-head8" title="Copy"><i
          class="icofont icofont-copy-alt"></i></button>
      <pre><code class="language-html" id="example-head8">&lt;!-- Cod Box Copy begin --&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-pill btn-outline-primary-2x btn-air-primary&quot;&gt;Primary button&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-pill btn-outline-secondary-2x btn-air-secondary&quot;&gt;Secondary button&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-pill btn-outline-success-2x btn-air-success&quot;&gt;Success button&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-pill btn-outline-info-2x btn-air-info&quot;&gt;Info button&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-pill btn-outline-warning-2x btn-air-warning&quot;&gt;Warning button&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-pill btn-outline-danger-2x btn-air-danger&quot;&gt;Danger button&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-pill btn-outline-light-2x btn-air-light txt-dark&quot;&gt;Light button&lt;/button&gt;
&lt;!-- Cod Box Copy end --&gt;</code></pre>
    </div>
  </div>
</div>
<div class="card">
  <div class="card-header pb-0">
    <h5>outline Large buttons</h5>
    <div class="card-header-right">
      <ul class="setting-option">
        <li>
          <div class="setting-badge"><i class="fa fa-spin fa-cog font-primary"></i></div>
        </li>
        <li><i class="view-html fa fa-code font-primary"></i></li>
        <li><i class="icofont icofont-maximize full-card font-primary"></i></li>
        <li><i class="icofont icofont-minus minimize-card font-primary"></i></li>
        <li><i class="icofont icofont-refresh reload-card font-primary"></i></li>
        <li><i class="icofont icofont-error close-card font-primary"></i></li>
        <li><i class="icofont icofont-error close-card font-primary"></i></li>
      </ul>
    </div><span><code>.btn-pill</code>,<code>.btn-air-*</code>,<code>.btn-outline-*</code> and <code>.btn-lg</code>
      class for large button with outline</span>
  </div>
  <div class="card-body btn-showcase">
    <button class="btn btn-pill btn-outline-primary btn-air-primary btn-lg" type="button">Primary Button</button>
    <button class="btn btn-pill btn-outline-secondary btn-air-secondary btn-lg" type="button">Secondary Button</button>
    <button class="btn btn-pill btn-outline-success btn-air-success btn-lg" type="button">Success Button</button>
    <button class="btn btn-pill btn-outline-info btn-air-info btn-lg" type="button">Info Button</button>
    <button class="btn btn-pill btn-outline-warning btn-air-warning btn-lg" type="button">Warning Button</button>
    <button class="btn btn-pill btn-outline-danger btn-air-danger btn-lg" type="button">Danger Button</button>
    <button class="btn btn-pill btn-outline-light btn-air-light btn-lg txt-dark" type="button">Light Button</button>
    <div class="code-box-copy">
      <button class="code-box-copy__btn btn-clipboard" data-clipboard-target="#example-head9" title="Copy"><i
          class="icofont icofont-copy-alt"></i></button>
      <pre><code class="language-html" id="example-head9">&lt;!-- Cod Box Copy begin --&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-pill btn-outline-primary btn-air-primary btn-lg&quot;&gt;Primary button&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-pill btn-outline-secondary btn-air-secondary btn-lg&quot;&gt;Secondary button&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-pill btn-outline-success btn-air-success btn-lg&quot;&gt;Success button&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-pill btn-outline-info btn-air-info btn-lg&quot;&gt;Info button&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-pill btn-outline-warning btn-air-warning btn-lg&quot;&gt;Warning button&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-pill btn-outline-danger btn-air-danger btn-lg&quot;&gt;Danger button&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-pill btn-outline-light btn-air-light btn-lg txt-dark&quot;&gt;Light button&lt;/button&gt;
&lt;!-- Cod Box Copy end --&gt;</code></pre>
    </div>
  </div>
</div>
<div class="card">
  <div class="card-header pb-0">
    <h5>outline small buttons</h5>
    <div class="card-header-right">
      <ul class="setting-option">
        <li>
          <div class="setting-badge"><i class="fa fa-spin fa-cog font-primary"></i></div>
        </li>
        <li><i class="view-html fa fa-code font-primary"></i></li>
        <li><i class="icofont icofont-maximize full-card font-primary"></i></li>
        <li><i class="icofont icofont-minus minimize-card font-primary"></i></li>
        <li><i class="icofont icofont-refresh reload-card font-primary"></i></li>
        <li><i class="icofont icofont-error close-card font-primary"></i></li>
        <li><i class="icofont icofont-error close-card font-primary"></i></li>
      </ul>
    </div><span><code>.btn-pill</code>,<code>.btn-air-*</code>,<code>.btn-outline-*</code> and <code>.btn-sm</code>
      class for small button with outline</span>
  </div>
  <div class="card-body btn-showcase">
    <button class="btn btn-pill btn-outline-primary btn-air-primary btn-sm" type="button">Primary Button</button>
    <button class="btn btn-pill btn-outline-secondary btn-air-secondary btn-sm" type="button">Secondary Button</button>
    <button class="btn btn-pill btn-outline-success btn-air-success btn-sm" type="button">Success Button</button>
    <button class="btn btn-pill btn-outline-info btn-air-info btn-sm" type="button">Info Button</button>
    <button class="btn btn-pill btn-outline-warning btn-air-warning btn-sm" type="button">Warning Button</button>
    <button class="btn btn-pill btn-outline-danger btn-air-danger btn-sm" type="button">Danger Button</button>
    <button class="btn btn-pill btn-outline-light btn-air-light btn-sm txt-dark" type="button">Light Button</button>
    <div class="code-box-copy">
      <button class="code-box-copy__btn btn-clipboard" data-clipboard-target="#example-head10" title="Copy"><i
          class="icofont icofont-copy-alt"></i></button>
      <pre><code class="language-html" id="example-head10">&lt;!-- Cod Box Copy begin --&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-pill btn-outline-primary btn-air-primary btn-sm&quot;&gt;Primary button&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-pill btn-outline-secondary btn-air-secondary btn-sm&quot;&gt;Secondary button&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-pill btn-outline-success btn-air-success btn-sm&quot;&gt;Success button&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-pill btn-outline-info btn-air-info btn-sm&quot;&gt;Info button&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-pill btn-outline-warning btn-air-warning btn-sm&quot;&gt;Warning button&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-pill btn-outline-danger btn-air-danger btn-sm&quot;&gt;Danger button&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-pill btn-outline-light btn-air-light btn-sm txt-dark&quot;&gt;Light button&lt;/button&gt;
&lt;!-- Cod Box Copy end --&gt;</code></pre>
    </div>
  </div>
</div>
<div class="card">
  <div class="card-header pb-0">
    <h5>outline extra small buttons</h5>
    <div class="card-header-right">
      <ul class="setting-option">
        <li>
          <div class="setting-badge"><i class="fa fa-spin fa-cog font-primary"></i></div>
        </li>
        <li><i class="view-html fa fa-code font-primary"></i></li>
        <li><i class="icofont icofont-maximize full-card font-primary"></i></li>
        <li><i class="icofont icofont-minus minimize-card font-primary"></i></li>
        <li><i class="icofont icofont-refresh reload-card font-primary"></i></li>
        <li><i class="icofont icofont-error close-card font-primary"></i></li>
        <li><i class="icofont icofont-error close-card font-primary"></i></li>
      </ul>
    </div><span><code>.btn-pill</code>,<code>.btn-air-*</code>,<code>.btn-outline-*</code> and <code>.btn-xs</code>
      class for extra small button with outline</span>
  </div>
  <div class="card-body btn-showcase">
    <button class="btn btn-pill btn-outline-primary btn-air-primary btn-xs" type="button">Primary Button</button>
    <button class="btn btn-pill btn-outline-secondary btn-air-secondary btn-xs" type="button">Secondary Button</button>
    <button class="btn btn-pill btn-outline-success btn-air-success btn-xs" type="button">Success Button</button>
    <button class="btn btn-pill btn-outline-info btn-air-info btn-xs" type="button">Info Button</button>
    <button class="btn btn-pill btn-outline-warning btn-air-warning btn-xs" type="button">Warning Button</button>
    <button class="btn btn-pill btn-outline-danger btn-air-danger btn-xs" type="button">Danger Button</button>
    <button class="btn btn-pill btn-outline-light btn-air-light btn-xs txt-dark" type="button">Light Button</button>
    <div class="code-box-copy">
      <button class="code-box-copy__btn btn-clipboard" data-clipboard-target="#example-head11" title="Copy"><i
          class="icofont icofont-copy-alt"></i></button>
      <pre><code class="language-html" id="example-head11">&lt;!-- Cod Box Copy begin --&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-pill btn-outline-primary btn-air-primary btn-xs&quot;&gt;Primary button&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-pill btn-outline-secondary btn-air-secondary btn-xs&quot;&gt;Secondary button&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-pill btn-outline-success btn-air-success btn-xs&quot;&gt;Success button&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-pill btn-outline-info btn-air-info btn-xs&quot;&gt;Info button&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-pill btn-outline-warning btn-air-warning btn-xs&quot;&gt;warning button&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-pill btn-outline-danger btn-air-danger btn-xs&quot;&gt;Danger button&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-pill btn-outline-light btn-air-light btn-xs txt-dark&quot;&gt;Light button&lt;/button&gt;
&lt;!-- Cod Box Copy end --&gt;</code></pre>
    </div>
  </div>
</div>