{% load static %}
{% load sass_tags %}
<div class="card">
  <div class="card-header pb-0">
    <h5>Disabled outline buttons</h5>
    <div class="card-header-right">
      <ul class="setting-option">
        <li>
          <div class="setting-badge"><i class="fa fa-spin fa-cog font-primary"></i></div>
        </li>
        <li><i class="view-html fa fa-code font-primary"></i></li>
        <li><i class="icofont icofont-maximize full-card font-primary"></i></li>
        <li><i class="icofont icofont-minus minimize-card font-primary"></i></li>
        <li><i class="icofont icofont-refresh reload-card font-primary"></i></li>
        <li><i class="icofont icofont-error close-card font-primary"></i></li>
        <li><i class="icofont icofont-error close-card font-primary"></i></li>
      </ul>
    </div><span>Add <code>.disabled</code> class or <code>disabled="disabled"</code> attribute for disabled
      button</span>
  </div>
  <div class="card-body btn-showcase">
    <button class="btn btn-pill btn-outline-primary btn-air-primary disabled" type="button">Disabled</button>
    <button class="btn btn-pill btn-outline-secondary btn-air-secondary disabled" type="button">Disabled</button>
    <button class="btn btn-pill btn-outline-success btn-air-success disabled" type="button">Disabled</button>
    <button class="btn btn-pill btn-outline-info btn-air-info disabled" type="button">Disabled</button>
    <button class="btn btn-pill btn-outline-warning btn-air-warning disabled" type="button">Disabled</button>
    <button class="btn btn-pill btn-outline-danger btn-air-danger disabled" type="button">Disabled</button>
    <button class="btn btn-pill btn-outline-light btn-air-light disabled txt-dark" type="button">Disabled</button>
    <div class="code-box-copy">
      <button class="code-box-copy__btn btn-clipboard" data-clipboard-target="#example-head12" title="Copy"><i
          class="icofont icofont-copy-alt"></i></button>
      <pre><code class="language-html" id="example-head12">&lt;!-- Cod Box Copy begin --&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-pill btn-outline-primary btn-air-primary disabled&quot;&gt;Disabled&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-pill btn-outline-secondary btn-air-secondary disabled&quot;&gt;Disabled&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-pill btn-outline-success btn-air-success disabled&quot;&gt;Disabled&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-pill btn-outline-info btn-air-info disabled&quot;&gt;Disabled&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-pill btn-outline-warning btn-air-warning disabled&quot;&gt;Disabled&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-pill btn-outline-danger btn-air-danger disabled&quot;&gt;Disabled&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-pill btn-outline-light btn-air-light disabled txt-dark&quot;&gt;Disabled&lt;/button&gt;
&lt;!-- Cod Box Copy end --&gt;</code></pre>
    </div>
  </div>
</div>
<div class="card">
  <div class="card-header pb-0">
    <h5>Gradien buttons</h5>
    <div class="card-header-right">
      <ul class="setting-option">
        <li>
          <div class="setting-badge"><i class="fa fa-spin fa-cog font-primary"></i></div>
        </li>
        <li><i class="view-html fa fa-code font-primary"></i></li>
        <li><i class="icofont icofont-maximize full-card font-primary"></i></li>
        <li><i class="icofont icofont-minus minimize-card font-primary"></i></li>
        <li><i class="icofont icofont-refresh reload-card font-primary"></i></li>
        <li><i class="icofont icofont-error close-card font-primary"></i></li>
        <li><i class="icofont icofont-error close-card font-primary"></i></li>
      </ul>
    </div><span><code>.btn-pill</code>,<code>.btn-air-*</code>,<code>.btn-*</code> and <code>.btn-*-gradien</code> class
      for gradien button</span>
  </div>
  <div class="card-body btn-showcase">
    <button class="btn btn-pill btn-primary btn-air-primary btn-primary-gradien" type="button">Primary Button</button>
    <button class="btn btn-pill btn-secondary btn-air-secondary btn-secondary-gradien" type="button">Secondary
      Button</button>
    <button class="btn btn-pill btn-success btn-air-success btn-success-gradien" type="button">Success Button</button>
    <button class="btn btn-pill btn-info btn-air-info btn-info-gradien" type="button">Info Button</button>
    <button class="btn btn-pill btn-warning btn-air-warning btn-warning-gradien" type="button">Warning Button</button>
    <button class="btn btn-pill btn-danger btn-air-danger btn-danger-gradien" type="button">Danger Button</button>
    <button class="btn btn-pill btn-light btn-air-light btn-light-gradien txt-dark" type="button">Light Button</button>
    <div class="code-box-copy">
      <button class="code-box-copy__btn btn-clipboard" data-clipboard-target="#example-head13" title="Copy"><i
          class="icofont icofont-copy-alt"></i></button>
      <pre><code class="language-html" id="example-head13">&lt;!-- Cod Box Copy begin --&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-pill btn-primary btn-air-primary btn-primary-gradien&quot;&gt;Primary button&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-pill btn-secondary btn-air-secondary btn-secondary-gradien&quot;&gt;Secondary button&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-pill btn-success btn-air-success btn-success-gradien&quot;&gt;Success button&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-pill btn-info btn-air-info btn-info-gradien&quot;&gt;Info button&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-pill btn-warning btn-air-warning btn-warning-gradien&quot;&gt;warning button&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-pill btn-danger btn-air-danger btn-danger-gradien&quot;&gt;Danger button&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-pill btn-light btn-air-light btn-light-gradien txt-dark&quot;&gt;Light button&lt;/button&gt;
&lt;!-- Cod Box Copy end --&gt;</code></pre>
    </div>
  </div>
</div>