{% load static %}
{% load sass_tags %}
<!-- u-step with icon-->
<div class="col-sm-12">
  <div class="card">
    <div class="card-header pb-0">
      <h5>Step Sizing</h5><span>A step with classname
        <code>.u-steps-xs</code><code>.u-steps-sm</code><code>.u-steps-lg</code></span>
    </div>
    <div class="card-body">
      <div class="u-steps row u-steps-xs steps-sizing-sm-mb">
        <div class="u-step col-md-4"><span class="u-step-icon icon wb-shopping-cart" aria-hidden="true"></span>
          <div class="u-step-desc"><span class="u-step-title">Shopping</span></div>
        </div>
        <div class="u-step col-md-4 current"><span class="u-step-icon icon wb-pluse" aria-hidden="true"></span>
          <div class="u-step-desc"><span class="u-step-title">Billing</span></div>
        </div>
        <div class="u-step col-md-4"><span class="u-step-icon icon wb-time" aria-hidden="true"></span>
          <div class="u-step-desc"><span class="u-step-title">Getting</span></div>
        </div>
      </div>
      <div class="u-steps row u-steps-sm steps-sizing-sm-mb">
        <div class="u-step col-md-4"><span class="u-step-icon icon wb-shopping-cart" aria-hidden="true"></span>
          <div class="u-step-desc"><span class="u-step-title">Shopping</span></div>
        </div>
        <div class="u-step col-md-4 current"><span class="u-step-icon icon wb-pluse" aria-hidden="true"></span>
          <div class="u-step-desc"><span class="u-step-title">Billing</span></div>
        </div>
        <div class="u-step col-md-4"><span class="u-step-icon icon wb-time" aria-hidden="true"></span>
          <div class="u-step-desc"><span class="u-step-title">Getting</span></div>
        </div>
      </div>
      <div class="u-steps row steps-sizing-sm-mb">
        <div class="u-step col-md-4"><span class="u-step-icon icon wb-shopping-cart" aria-hidden="true"></span>
          <div class="u-step-desc"><span class="u-step-title">Shopping</span></div>
        </div>
        <div class="u-step col-md-4 current"><span class="u-step-icon icon wb-pluse" aria-hidden="true"></span>
          <div class="u-step-desc"><span class="u-step-title">Billing</span></div>
        </div>
        <div class="u-step col-md-4"><span class="u-step-icon icon wb-time" aria-hidden="true"></span>
          <div class="u-step-desc"><span class="u-step-title">Getting</span></div>
        </div>
      </div>
      <div class="u-steps row u-steps-lg">
        <div class="u-step col-md-4"><span class="u-step-icon icon wb-shopping-cart" aria-hidden="true"></span>
          <div class="u-step-desc"><span class="u-step-title">Shopping</span></div>
        </div>
        <div class="u-step col-md-4 current"><span class="u-step-icon icon wb-pluse" aria-hidden="true"></span>
          <div class="u-step-desc"><span class="u-step-title">Billing</span></div>
        </div>
        <div class="u-step col-md-4"><span class="u-step-icon icon wb-time" aria-hidden="true"></span>
          <div class="u-step-desc"><span class="u-step-title">Getting</span></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-sm-12">
  <div class="card">
    <div class="card-header pb-0">
      <h5>Vertical Step</h5>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-lg-4">
          <div class="u-steps u-steps-vertical">
            <div class="u-step"><span class="u-step-number">1</span>
              <div class="u-step-desc"><span class="u-step-title">Shopping</span>
                <p>Choose what you want</p>
              </div>
            </div>
            <div class="u-step current"><span class="u-step-number">2</span>
              <div class="u-step-desc"><span class="u-step-title">Billing</span>
                <p>Pay for the bill</p>
              </div>
            </div>
            <div class="u-step"><span class="u-step-number">3</span>
              <div class="u-step-desc"><span class="u-step-title">Getting</span>
                <p>Waiting for the goods</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-sm-12">
  <div class="card">
    <div class="card-header pb-0">
      <h5>Default Pearls Steps</h5>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="u-pearl done col-4"><span class="u-pearl-number">1</span><span class="u-pearl-title">Account
            Info</span></div>
        <div class="u-pearl current col-4"><span class="u-pearl-number">2</span><span class="u-pearl-title">Billing
            Info</span></div>
        <div class="u-pearl col-4"><span class="u-pearl-number">3</span><span class="u-pearl-title">Confirmation</span>
        </div>
      </div>
    </div>
  </div>
</div>