{% extends 'base.html' %}{% load static %}
{% load sass_tags %}
{% block content %}
<div class="page-body">
  {% include 'layout/breadcrumb.html' %}
  <!-- Container-fluid starts-->
  <div class="container-fluid">
    <div class="row">
      {% include 'internationalization/components/internationalization.html' %}
      {% include 'internationalization/components/how-to-use-it.html' %}
      {% include 'internationalization/components/how-to-add-language.html' %}
    </div>
  </div>
  <!-- Container-fluid Ends-->
</div>
{% endblock content %}
{% block scriptcontent %}
<!-- Plugins JS start-->
<script src="{% static 'assets/js/internationalization/language-picker.js' %}"></script>
<!-- Plugins JS Ends-->
{% endblock scriptcontent %}