{% extends 'base.html' %}{% load static %}
{% load sass_tags %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% sass_src 'assets/scss/vendors/photoswipe.scss' %}">

{% endblock css %}
{% block content %}
<div class="page-body">
  {% include 'layout/breadcrumb.html' %}
  <!-- Container-fluid starts-->
  {% include 'search_website/components/search.html' %}
  <!-- Container-fluid Ends-->
</div>
{% endblock content %} 
{% block scriptcontent %}
<script src="{% static 'assets/js/photoswipe/photoswipe.min.js' %}"></script>
<script src="{% static 'assets/js/photoswipe/photoswipe-ui-default.min.js' %}"></script>
<script src="{% static 'assets/js/photoswipe/photoswipe.js' %}"></script>


{% endblock scriptcontent %}