{% extends 'base.html' %}{% load static %}
{% load sass_tags %}
{% block content %}
<div class="page-body">
  {% include 'layout/breadcrumb.html' %}
  <!-- Container-fluid starts-->
  <div class="container-fluid">
    {% include 'forms/form_layout/form_wizard_1/components/simple-form-wizard.html' %}
  </div>
</div>
{% endblock content %}
{% block scriptcontent %}
<!-- Plugins JS start-->
<script src="{% static 'assets/js/form-wizard/form-wizard.js' %}"></script>
<!-- Plugins JS Ends-->
{% endblock scriptcontent %}