{% extends 'base.html' %}{% load static %}
{% load sass_tags %}
{% block content %}
<div class="page-body">
  {% include 'layout/breadcrumb.html' %}

  <!-- Container-fluid starts-->
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">

        {% include 'forms/form_controls/base_inputs/components/base-form-control.html' %}
        {% include 'forms/form_controls/base_inputs/components/basic-html-input-control.html' %}
        {% include 'forms/form_controls/base_inputs/components/edge-input-style.html' %}
        {% include 'forms/form_controls/base_inputs/components/flat-input-style.html' %}
        {% include 'forms/form_controls/base_inputs/components/raise-input-style.html' %}
        {% include 'forms/form_controls/base_inputs/components/solid-input-style.html' %}
        {% include 'forms/form_controls/base_inputs/components/input-sizing.html' %}
        {% include 'forms/form_controls/base_inputs/components/custom-controls.html' %}

      </div>
    </div>
  </div>
  <!-- Container-fluid Ends-->
</div>
{% endblock content %}