{% load static %}
{% load sass_tags %}
<div class="col-xl-4 col-sm-6 box-col-12 des-xl-50 des-sm-100">
  <div class="card our-activity-table">
    <div class="card-header">
      <h5>Our Activities</h5>
      <div class="card-header-right">
        <ul class="setting-option">
          <li>
            <div class="setting-badge primary-badge"><i class="fa fa-spin fa-cog font-primary"></i></div>
          </li>
          <li><i class="view-html fa fa-code font-primary"></i></li>
          <li><i class="icofont icofont-maximize full-card font-primary"></i></li>
          <li><i class="icofont icofont-minus minimize-card font-primary"></i></li>
          <li><i class="icofont icofont-refresh reload-card font-primary"></i></li>
          <li><i class="icofont icofont-error close-card font-primary"></i></li>
        </ul>
      </div>
    </div>
    <div class="card-body p-t-0">
      <div class="table-responsive groups-table">
        <table class="table table-bordernone">
          <tbody>
            <tr>
              <td>
                <div class="media">
                  <div class="round-light icon-secondary"><i class="fa fa-star"></i></div>
                  <div class="media-body"><span>Win best seller of the year award</span>
                    <p class="d-block">Company,San Francisco</p>
                  </div>
                </div>
              </td>
              <td>
                <p>34 min ago</p>
              </td>
            </tr>
            <tr>
              <td>
                <div class="media">
                  <div class="round-light icon-primary"><i class="fa fa-check-circle"></i></div>
                  <div class="media-body"><span>Approved our product in checking</span>
                    <p class="d-block">Elisse Joson,San Francisco</p>
                  </div>
                </div>
              </td>
              <td>
                <p>1 hour ago</p>
              </td>
            </tr>
            <tr>
              <td>
                <div class="media">
                  <div class="round-light icon-success"><i class="fa fa-bookmark"></i></div>
                  <div class="media-body"><span>Win best seller of the year award</span>
                    <p class="d-block">Company,San Francisco</p>
                  </div>
                </div>
              </td>
              <td>
                <p>34 min ago</p>
              </td>
            </tr>
            <tr>
              <td>
                <div class="media">
                  <div class="round-light icon-warning"><i class="fa fa-shopping-basket"></i></div>
                  <div class="media-body"><span>Approved our product in checking</span>
                    <p class="d-block">Elisse Joson,San Francisco</p>
                  </div>
                </div>
              </td>
              <td>
                <p>1 hour ago</p>
              </td>
            </tr>
            <tr>
              <td>
                <div class="media">
                  <div class="round-light icon-primary"><i class="fa fa-microchip"></i></div>
                  <div class="media-body"><span>Win best seller of the year award</span>
                    <p class="d-block">Company,San Francisco</p>
                  </div>
                </div>
              </td>
              <td>
                <p>34 min ago</p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="text-center"><a class="f-w-700 btn-more" href="javascript:void(0)">More...</a></div>
      <div class="code-box-copy">
        <button class="code-box-copy__btn btn-clipboard" data-clipboard-target="#our-activiti" title="Copy"><i
            class="icofont icofont-copy-alt"></i></button>
        <pre><code class="language-html" id="our-activiti">&lt;div class="card our-activity-table"&gt;
&lt;div class="card-header"&gt;
&lt;h5&gt;Our Activities&lt;/h5&gt;
&lt;div class="card-header-right"&gt;
&lt;ul class="setting-option"&gt;
&lt;li&gt;
&lt;div class="setting-badge primary-badge"&gt;&lt;i class="fa fa-spin fa-cog font-primary"&gt;&lt;/i&gt;&lt;/div&gt;
&lt;/li&gt;
&lt;li&gt;&lt;i class="view-html fa fa-code font-primary"&gt;&lt;/i&gt;&lt;/li&gt;
&lt;li&gt;&lt;i class="icofont icofont-maximize full-card font-primary"&gt;&lt;/i&gt;&lt;/li&gt;
&lt;li&gt;&lt;i class="icofont icofont-minus minimize-card font-primary"&gt;&lt;/i&gt;&lt;/li&gt;
&lt;li&gt;&lt;i class="icofont icofont-refresh reload-card font-primary"&gt;&lt;/i&gt;&lt;/li&gt;
&lt;li&gt;&lt;i class="icofont icofont-error close-card font-primary"&gt;&lt;/i&gt;&lt;/li&gt;
&lt;/ul&gt;
&lt;/div&gt;
&lt;/div&gt;
&lt;div class="card-body p-t-0"&gt;
&lt;div class="table-responsive groups-table"&gt;
&lt;table class="table table-bordernone"&gt;
&lt;tbody&gt;
&lt;tr&gt;
&lt;td&gt;
&lt;div class="media"&gt;
 &lt;div class="round-light icon-secondary"&gt;
   &lt;i class="fa fa-star"&gt;&lt;/i&gt;
 &lt;/div&gt;
 &lt;div class="media-body"&gt;
   &lt;span&gt;Win best seller of the year award&lt;/span&gt;
   &lt;p class="d-block"&gt;Company,San Francisco&lt;/p&gt;
 &lt;/div&gt;
&lt;/div&gt;
&lt;/td&gt;
&lt;td&gt;
&lt;p&gt;34 min ago&lt;/p&gt;
&lt;/td&gt;
&lt;/tr&gt;
&lt;tr&gt;
&lt;td&gt;
&lt;div class="media"&gt;
 &lt;div class="round-light icon-primary"&gt;&lt;i class="fa fa-check-circle"&gt;&lt;/i&gt;
&lt;/div&gt;
&lt;div class="media-body"&gt;
 &lt;span&gt;Approved our product in checking&lt;/span&gt;
 &lt;p class="d-block"&gt;Elisse Joson,San Francisco&lt;/p&gt;
&lt;/div&gt;
&lt;/div&gt;
&lt;/td&gt;
&lt;td&gt;
&lt;p&gt;1 hour ago&lt;/p&gt;
&lt;/td&gt;
&lt;/tr&gt;
&lt;tr&gt;
&lt;td&gt;
&lt;div class="media"&gt;
 &lt;div class="round-light icon-success"&gt;
   &lt;i class="fa fa-bookmark"&gt;&lt;/i&gt;&lt;/div&gt;
 &lt;div class="media-body"&gt;
   &lt;span&gt;Win best seller of the year award&lt;/span&gt;
   &lt;p class="d-block"&gt;Company,San Francisco&lt;/p&gt;
 &lt;/div&gt;
&lt;/div&gt;
&lt;/td&gt;
&lt;td&gt;
&lt;p&gt;34 min ago&lt;/p&gt;
&lt;/td&gt;
&lt;/tr&gt;
&lt;tr&gt;
&lt;td&gt;
&lt;div class="media"&gt;
 &lt;div class="round-light icon-warning"&gt;
   &lt;i class="fa fa-shopping-basket"&gt;&lt;/i&gt;
 &lt;/div&gt;
 &lt;div class="media-body"&gt;
   &lt;span&gt;Approved our product in checking&lt;/span&gt;
   &lt;p class="d-block"&gt;Elisse Joson,San Francisco&lt;/p&gt;
 &lt;/div&gt;
&lt;/div&gt;
&lt;/td&gt;
&lt;td&gt;
&lt;p&gt;1 hour ago&lt;/p&gt;
&lt;/td&gt;
&lt;/tr&gt;
&lt;tr&gt;
&lt;td&gt;
&lt;div class="media"&gt;
 &lt;div class="round-light icon-primary"&gt;
   &lt;i class="fa fa-microchip"&gt;&lt;/i&gt;
 &lt;/div&gt;
 &lt;div class="media-body"&gt;
   &lt;span&gt;Win best seller of the year award&lt;/span&gt;
   &lt;p class="d-block"&gt;Company,San Francisco&lt;/p&gt;
 &lt;/div&gt;
&lt;/div&gt;
&lt;/td&gt;
&lt;td&gt;
&lt;p&gt;34 min ago&lt;/p&gt;
&lt;/td&gt;
&lt;/tr&gt;
&lt;/tbody&gt;
&lt;/table&gt;
&lt;/div&gt;
&lt;div class="text-center"&gt;
&lt;a class="f-w-700 btn-more" href="javascript:void(0)"&gt;More...&lt;/a&gt;
&lt;/div&gt;
&lt;/div&gt;
&lt;/div&gt;</code></pre>
      </div>
    </div>
  </div>
</div>
<div class="col-xl-4 col-lg-12 col-md-6 box-col-6 des-xl-50">
  <div class="card new-product-section">
    <div class="card-header justify-content-between">
      <h5>New Product</h5>
      <div class="center-content">
        <p>Sold Product</p><span class="m-l-10">84562</span>
      </div>
      <div class="card-header-right">
        <ul class="setting-option">
          <li>
            <div class="setting-badge primary-badge"><i class="fa fa-spin fa-cog font-primary"></i></div>
          </li>
          <li><i class="view-html fa fa-code font-primary"></i></li>
          <li><i class="icofont icofont-maximize full-card font-primary"></i></li>
          <li><i class="icofont icofont-minus minimize-card font-primary"></i></li>
          <li><i class="icofont icofont-refresh reload-card font-primary"></i></li>
          <li><i class="icofont icofont-error close-card font-primary"></i></li>
        </ul>
      </div>
    </div>
    <div class="card-body p-t-0">
      <div class="new-product-main">
        <div class="slider single-item">
          <div>
            <div class="row pro-block">
              <div class="col-sm-6">
                <div class="slid-wrapper">
                  <div class="plus-circle float-end"> <i class="icon-plus"></i></div>
                </div>
                <div class="slider single-item-small">
                  <div>
                    <div class="product-box"><img src="{% static 'assets/images/dashboard-2/product-1.png' %}"
                        alt="First slide">
                      <div class="carousel-content"><a href="/users_users_profile"> <span>Xiaomi Mix3</span></a>
                        <p>USD 115.00</p>
                      </div>
                    </div>
                  </div>
                  <div>
                    <div class="product-box"><img src="{% static 'assets/images/dashboard-2/product-1.png' %}"
                        alt="First slide">
                      <div class="carousel-content"><a href="/users_users_profile"> <span>Xiaomi Mix3</span></a>
                        <p>USD 115.00</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="slid-wrapper">
                  <div class="plus-circle float-end"><i class="icon-plus"></i></div>
                </div>
                <div class="slider single-item-small">
                  <div>
                    <div class="product-box"><img src="{% static 'assets/images/dashboard-2/product-2.png' %}"
                        alt="First slide">
                      <div class="carousel-content"><a href="/users_users_profile"> <span>Xiaomi
                            Speaker</span></a>
                        <p>USD 94.00</p>
                      </div>
                    </div>
                  </div>
                  <div>
                    <div class="product-box"><img src="{% static 'assets/images/dashboard-2/product-2.png' %}"
                        alt="First slide">
                      <div class="carousel-content"> <a href="/users_users_profile"> <span>Xiaomi
                            Speaker</span></a>
                        <p>USD 94.00</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="slid-wrapper">
                  <div class="plus-circle float-end"><i class="icon-plus"></i></div>
                </div>
                <div class="slider single-item-small">
                  <div>
                    <div class="product-box"> <img src="{% static 'assets/images/dashboard-2/product-3.png' %}"
                        alt="First slide">
                      <div class="carousel-content"><a href="/users_users_profile"> <span>Wireless
                            Mouse</span></a>
                        <p>USD 30.00</p>
                      </div>
                    </div>
                  </div>
                  <div>
                    <div class="product-box"><img src="{% static 'assets/images/dashboard-2/product-3.png' %}"
                        alt="First slide">
                      <div class="carousel-content"><a href="/users_users_profile"> <span>Wireless
                            Mouse</span></a>
                        <p>USD 30.00</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="slid-wrapper">
                  <div class="plus-circle float-end"><i class="icon-plus"></i></div>
                </div>
                <div class="slider single-item-small">
                  <div>
                    <div class="product-box"> <img src="{% static 'assets/images/dashboard-2/product-4.png' %}"
                        alt="First slide">
                      <div class="carousel-content"><a href="/users_users_profile"> <span>Wireless
                            Earbuds</span></a>
                        <p>USD 102.00</p>
                      </div>
                    </div>
                  </div>
                  <div>
                    <div class="product-box"><img src="{% static 'assets/images/dashboard-2/product-4.png' %}"
                        alt="First slide">
                      <div class="carousel-content"><a href="/users_users_profile"> <span>Wireless
                            Earbuds</span></a>
                        <p>USD 102.00</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="row pro-block">
              <div class="col-sm-6">
                <div class="slid-wrapper">
                  <div class="plus-circle float-end"><i class="icon-plus"></i></div>
                </div>
                <div class="slider single-item-small">
                  <div>
                    <div class="product-box"><img src="{% static 'assets/images/dashboard-2/product-1.png' %}"
                        alt="First slide">
                      <div class="carousel-content"><a href="/users_users_profile"> <span>Xiaomi Mix3</span></a>
                        <p>USD 115.00</p>
                      </div>
                    </div>
                  </div>
                  <div>
                    <div class="product-box"><img src="{% static 'assets/images/dashboard-2/product-1.png' %}"
                        alt="First slide">
                      <div class="carousel-content"><a href="/users_users_profile"> <span>Xiaomi Mix3</span></a>
                        <p>USD 115.00</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="slid-wrapper">
                  <div class="plus-circle float-end"><i class="icon-plus"></i></div>
                </div>
                <div class="slider single-item-small">
                  <div>
                    <div class="product-box"> <img src="{% static 'assets/images/dashboard-2/product-2.png' %}"
                        alt="First slide">
                      <div class="carousel-content"><a href="/users_users_profile"> </a><span>Xiaomi
                          Speaker</span>
                        <p>USD 94.00</p>
                      </div>
                    </div>
                  </div>
                  <div>
                    <div class="product-box"><img src="{% static 'assets/images/dashboard-2/product-2.png' %}"
                        alt="First slide">
                      <div class="carousel-content"><a href="/users_users_profile"> <span>Xiaomi
                            Speaker</span></a>
                        <p>USD 94.00</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="slid-wrapper">
                  <div class="plus-circle float-end"><i class="icon-plus"></i></div>
                </div>
                <div class="slider single-item-small">
                  <div>
                    <div class="product-box"><img src="{% static 'assets/images/dashboard-2/product-3.png' %}"
                        alt="First slide">
                      <div class="carousel-content"><a href="/users_users_profile"> <span>Wireless
                            Mouse</span></a>
                        <p>USD 30.00</p>
                      </div>
                    </div>
                  </div>
                  <div>
                    <div class="product-box"><img src="{% static 'assets/images/dashboard-2/product-3.png' %}"
                        alt="First slide">
                      <div class="carousel-content"><a href="/users_users_profile"> <span>Wireless
                            Mouse</span></a>
                        <p>USD 30.00</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="slid-wrapper">
                  <div class="plus-circle float-end"><i class="icon-plus"></i></div>
                </div>
                <div class="slider single-item-small">
                  <div>
                    <div class="product-box"><img src="{% static 'assets/images/dashboard-2/product-4.png' %}"
                        alt="First slide">
                      <div class="carousel-content"><a href="/users_users_profile"> <span>Wireless
                            Earbuds</span></a>
                        <p>USD 102.00</p>
                      </div>
                    </div>
                  </div>
                  <div>
                    <div class="product-box"><img src="{% static 'assets/images/dashboard-2/product-4.png' %}"
                        alt="First slide">
                      <div class="carousel-content"><a href="/users_users_profile"> <span>Wireless
                            Earbuds</span></a>
                        <p>USD 102.00</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="row pro-block">
              <div class="col-sm-6">
                <div class="slid-wrapper">
                  <div class="plus-circle float-end"><i class="icon-plus"></i></div>
                </div>
                <div class="slider single-item-small">
                  <div>
                    <div class="product-box"><img src="{% static 'assets/images/dashboard-2/product-1.png' %}"
                        alt="First slide">
                      <div class="carousel-content"><a href="/users_users_profile"> <span>Xiaomi Mix3</span></a>
                        <p>USD 115.00</p>
                      </div>
                    </div>
                  </div>
                  <div>
                    <div class="product-box"><img src="{% static 'assets/images/dashboard-2/product-4.png' %}"
                        alt="First slide">
                      <div class="carousel-content"><a href="/users_users_profile"> <span>Xiaomi Mix3</span></a>
                        <p>USD 115.00</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="slid-wrapper">
                  <div class="plus-circle float-end"><i class="icon-plus"></i></div>
                </div>
                <div class="slider single-item-small">
                  <div>
                    <div class="product-box"><img src="{% static 'assets/images/dashboard-2/product-2.png' %}"
                        alt="First slide">
                      <div class="carousel-content"><a href="/users_users_profile"> <span>Xiaomi
                            Speaker</span></a>
                        <p>USD 94.00</p>
                      </div>
                    </div>
                  </div>
                  <div>
                    <div class="product-box"><img src="{% static 'assets/images/dashboard-2/product-2.png' %}"
                        alt="First slide">
                      <div class="carousel-content"><a href="/users_users_profile"> <span>Xiaomi
                            Speaker</span></a>
                        <p>USD 94.00</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="slid-wrapper">
                  <div class="plus-circle float-end"><i class="icon-plus"></i></div>
                </div>
                <div class="slider single-item-small">
                  <div>
                    <div class="product-box"><img src="{% static 'assets/images/dashboard-2/product-3.png' %}"
                        alt="First slide">
                      <div class="carousel-content"><a href="/users_users_profile"> <span>Wireless
                            Mouse</span></a>
                        <p>USD 30.00</p>
                      </div>
                    </div>
                  </div>
                  <div>
                    <div class="product-box"><img src="{% static 'assets/images/dashboard-2/product-3.png' %}"
                        alt="First slide">
                      <div class="carousel-content"><a href="/users_users_profile"> <span>Wireless
                            Mouse</span></a>
                        <p>USD 30.00</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="slid-wrapper">
                  <div class="plus-circle float-end"><i class="icon-plus"></i></div>
                </div>
                <div class="slider single-item-small">
                  <div>
                    <div class="product-box"><img src="{% static 'assets/images/dashboard-2/product-4.png' %}"
                        alt="First slide">
                      <div class="carousel-content"><a href="/users_users_profile"> <span>Wireless
                            Earbuds</span></a>
                        <p>USD 102.00</p>
                      </div>
                    </div>
                  </div>
                  <div>
                    <div class="product-box"><img src="{% static 'assets/images/dashboard-2/product-4.png' %}"
                        alt="First slide">
                      <div class="carousel-content"><a href="/users_users_profile"> <span> Wireless
                            Earbuds</span></a>
                        <p>USD 102.00</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="code-box-copy">
        <button class="code-box-copy__btn btn-clipboard" data-clipboard-target="#new-pro" title="Copy"><i
            class="icofont icofont-copy-alt"></i></button>
        <pre><code class="language-html" id="new-pro">&lt;div class="card new-product-section"&gt;
&lt;div class="card-header justify-content-between"&gt;
&lt;h5&gt;New Product&lt;/h5&gt;
&lt;div class="center-content"&gt;
&lt;p&gt;Sold Product&lt;/p&gt;&lt;span class="m-l-10"&gt;84562&lt;/span&gt;
&lt;/div&gt;
&lt;div class="card-header-right"&gt;
&lt;ul class="setting-option"&gt;
&lt;li&gt;
&lt;div class="setting-badge primary-badge"&gt;&lt;i class="fa fa-spin fa-cog font-primary"&gt;&lt;/i&gt;&lt;/div&gt;
&lt;/li&gt;
&lt;li&gt;&lt;i class="view-html fa fa-code font-primary"&gt;&lt;/i&gt;&lt;/li&gt;
&lt;li&gt;&lt;i class="icofont icofont-maximize full-card font-primary"&gt;&lt;/i&gt;&lt;/li&gt;
&lt;li&gt;&lt;i class="icofont icofont-minus minimize-card font-primary"&gt;&lt;/i&gt;&lt;/li&gt;
&lt;li&gt;&lt;i class="icofont icofont-refresh reload-card font-primary"&gt;&lt;/i&gt;&lt;/li&gt;
&lt;li&gt;&lt;i class="icofont icofont-error close-card font-primary"&gt;&lt;/i&gt;&lt;/li&gt;
&lt;/ul&gt;
&lt;/div&gt;
&lt;/div&gt;
&lt;div class="card-body p-t-0"&gt;
&lt;div class="new-product-main"&gt;
&lt;div class="slider single-item"&gt;
&lt;div&gt;
&lt;div class="row pro-block"&gt;
&lt;div class="col-sm-6"&gt;
&lt;div class="slid-wrapper"&gt;
 &lt;div class="plus-circle float-end"&gt; &lt;i class="icon-plus"&gt;&lt;/i&gt;&lt;/div&gt;
&lt;/div&gt;
&lt;div class="slider single-item-small"&gt;
   &lt;div&gt;
     &lt;div class="product-box"&gt;
       &lt;img src="{% static 'assets/images/dashboard-2/product-1.png' %}" alt="First slide"/&gt;
       &lt;div class="carousel-content"&gt;
         &lt;a href="/users_users_profile' %}"&gt; 
           &lt;span&gt;Xiaomi Mix3&lt;/span&gt;
         &lt;/a&gt;
         &lt;p&gt;USD 115.00&lt;/p&gt;
       &lt;/div&gt;
     &lt;/div&gt;
   &lt;/div&gt;
   &lt;div&gt;
     &lt;div class="product-box"&gt;
       &lt;img src="{% static 'assets/images/dashboard-2/product-1.png' %}" alt="First slide"/&gt;
       &lt;div class="carousel-content"&gt;
         &lt;a href="/users_users_profile' %}"&gt; 
           &lt;span&gt;Xiaomi Mix3&lt;/span&gt;
         &lt;/a&gt;
         &lt;p&gt;USD 115.00&lt;/p&gt;
       &lt;/div&gt;
     &lt;/div&gt;
   &lt;/div&gt;
&lt;/div&gt;
&lt;/div&gt;
&lt;div class="col-sm-6"&gt;
&lt;div class="slid-wrapper"&gt;
 &lt;div class="plus-circle float-end"&gt; &lt;i class="icon-plus"&gt;&lt;/i&gt;&lt;/div&gt;
&lt;/div&gt;
&lt;div class="slider single-item-small"&gt;
   &lt;div&gt;
     &lt;div class="product-box"&gt;
       &lt;img src="{% static 'assets/images/dashboard-2/product-2.png' %}" alt="First slide"/&gt;
       &lt;div class="carousel-content"&gt;
         &lt;a href="/users_users_profile' %}"&gt; 
           &lt;span&gt;Xiaomi Speaker&lt;/span&gt;
         &lt;/a&gt;
         &lt;p&gt;USD 94.00&lt;/p&gt;
       &lt;/div&gt;
     &lt;/div&gt;
   &lt;/div&gt;
   &lt;div&gt;
     &lt;div class="product-box"&gt;
       &lt;img src="{% static 'assets/images/dashboard-2/product-2.png' %}" alt="First slide"/&gt;
       &lt;div class="carousel-content"&gt;
         &lt;a href="/users_users_profile' %}"&gt; 
           &lt;span&gt;Xiaomi Speaker&lt;/span&gt;
         &lt;/a&gt;
         &lt;p&gt;USD 94.00&lt;/p&gt;
       &lt;/div&gt;
     &lt;/div&gt;
   &lt;/div&gt;
&lt;/div&gt;
&lt;/div&gt;
&lt;div class="col-sm-6"&gt;
&lt;div class="slid-wrapper"&gt;
 &lt;div class="plus-circle float-end"&gt; &lt;i class="icon-plus"&gt;&lt;/i&gt;&lt;/div&gt;
&lt;/div&gt;
&lt;div class="slider single-item-small"&gt;
   &lt;div&gt;
     &lt;div class="product-box"&gt;
       &lt;img src="{% static 'assets/images/dashboard-2/product-3.png' %}" alt="First slide"/&gt;
       &lt;div class="carousel-content"&gt;
         &lt;a href="/users_users_profile' %}"&gt; 
           &lt;span&gt;Wireless Mouse&lt;/span&gt;
         &lt;/a&gt;
         &lt;p&gt;USD 30.00&lt;/p&gt;
       &lt;/div&gt;
     &lt;/div&gt;
   &lt;/div&gt;
   &lt;div&gt;
     &lt;div class="product-box"&gt;
       &lt;img src="{% static 'assets/images/dashboard-2/product-3.png' %}" alt="First slide"/&gt;
       &lt;div class="carousel-content"&gt;
         &lt;a href="/users_users_profile' %}"&gt; 
           &lt;span&gt;Wireless Mouse&lt;/span&gt;
         &lt;/a&gt;
         &lt;p&gt;USD 30.00&lt;/p&gt;
       &lt;/div&gt;
     &lt;/div&gt;
   &lt;/div&gt;
&lt;/div&gt;
&lt;/div&gt;
&lt;div class="col-sm-6"&gt;
&lt;div class="slid-wrapper"&gt;
 &lt;div class="plus-circle float-end"&gt; &lt;i class="icon-plus"&gt;&lt;/i&gt;&lt;/div&gt;
&lt;/div&gt;
&lt;div class="slider single-item-small"&gt;
   &lt;div&gt;
     &lt;div class="product-box"&gt;
       &lt;img src="{% static 'assets/images/dashboard-2/product-4.png' %}" alt="First slide"/&gt;
       &lt;div class="carousel-content"&gt;
         &lt;a href="/users_users_profile' %}"&gt; 
           &lt;span&gt;Wireless Earbuds&lt;/span&gt;
         &lt;/a&gt;
         &lt;p&gt;USD 102.00&lt;/p&gt;
       &lt;/div&gt;
     &lt;/div&gt;
   &lt;/div&gt;
   &lt;div&gt;
     &lt;div class="product-box"&gt;
       &lt;img src="{% static 'assets/images/dashboard-2/product-4.png' %}" alt="First slide"/&gt;
       &lt;div class="carousel-content"&gt;
         &lt;a href="/users_users_profile' %}"&gt; 
           &lt;span&gt;Wireless Earbuds&lt;/span&gt;
         &lt;/a&gt;
         &lt;p&gt;USD 102.00&lt;/p&gt;
       &lt;/div&gt;
     &lt;/div&gt;
   &lt;/div&gt;
&lt;/div&gt;
&lt;/div&gt;
&lt;/div&gt;
&lt;/div&gt;
&lt;div&gt;
&lt;div class="row pro-block"&gt;
&lt;div class="col-sm-6"&gt;
&lt;div class="slid-wrapper"&gt;
 &lt;div class="plus-circle float-end"&gt; &lt;i class="icon-plus"&gt;&lt;/i&gt;&lt;/div&gt;
&lt;/div&gt;
&lt;div class="slider single-item-small"&gt;
   &lt;div&gt;
     &lt;div class="product-box"&gt;
       &lt;img src="{% static 'assets/images/dashboard-2/product-1.png' %}" alt="First slide"/&gt;
       &lt;div class="carousel-content"&gt;
         &lt;a href="/users_users_profile' %}"&gt; 
           &lt;span&gt;Xiaomi Mix3&lt;/span&gt;
         &lt;/a&gt;
         &lt;p&gt;USD 115.00&lt;/p&gt;
       &lt;/div&gt;
     &lt;/div&gt;
   &lt;/div&gt;
   &lt;div&gt;
     &lt;div class="product-box"&gt;
       &lt;img src="{% static 'assets/images/dashboard-2/product-1.png' %}" alt="First slide"/&gt;
       &lt;div class="carousel-content"&gt;
         &lt;a href="/users_users_profile' %}"&gt; 
           &lt;span&gt;Xiaomi Mix3&lt;/span&gt;
         &lt;/a&gt;
         &lt;p&gt;USD 115.00&lt;/p&gt;
       &lt;/div&gt;
     &lt;/div&gt;
   &lt;/div&gt;
&lt;/div&gt;
&lt;/div&gt;
&lt;div class="col-sm-6"&gt;
&lt;div class="slid-wrapper"&gt;
 &lt;div class="plus-circle float-end"&gt; &lt;i class="icon-plus"&gt;&lt;/i&gt;&lt;/div&gt;
&lt;/div&gt;
&lt;div class="slider single-item-small"&gt;
   &lt;div&gt;
     &lt;div class="product-box"&gt;
       &lt;img src="{% static 'assets/images/dashboard-2/product-2.png' %}" alt="First slide"/&gt;
       &lt;div class="carousel-content"&gt;
         &lt;a href="/users_users_profile' %}"&gt; 
           &lt;span&gt;Xiaomi Speaker&lt;/span&gt;
         &lt;/a&gt;
         &lt;p&gt;USD 94.00&lt;/p&gt;
       &lt;/div&gt;
     &lt;/div&gt;
   &lt;/div&gt;
   &lt;div&gt;
     &lt;div class="product-box"&gt;
       &lt;img src="{% static 'assets/images/dashboard-2/product-2.png' %}" alt="First slide"/&gt;
       &lt;div class="carousel-content"&gt;
         &lt;a href="/users_users_profile' %}"&gt; 
           &lt;span&gt;Xiaomi Speaker&lt;/span&gt;
         &lt;/a&gt;
         &lt;p&gt;USD 94.00&lt;/p&gt;
       &lt;/div&gt;
     &lt;/div&gt;
   &lt;/div&gt;
&lt;/div&gt;
&lt;/div&gt;
&lt;div class="col-sm-6"&gt;
&lt;div class="slid-wrapper"&gt;
 &lt;div class="plus-circle float-end"&gt; &lt;i class="icon-plus"&gt;&lt;/i&gt;&lt;/div&gt;
&lt;/div&gt;
&lt;div class="slider single-item-small"&gt;
   &lt;div&gt;
     &lt;div class="product-box"&gt;
       &lt;img src="{% static 'assets/images/dashboard-2/product-3.png' %}" alt="First slide"/&gt;
       &lt;div class="carousel-content"&gt;
         &lt;a href="/users_users_profile' %}"&gt; 
           &lt;span&gt;Wireless Mouse&lt;/span&gt;
         &lt;/a&gt;
         &lt;p&gt;USD 30.00&lt;/p&gt;
       &lt;/div&gt;
     &lt;/div&gt;
   &lt;/div&gt;
   &lt;div&gt;
     &lt;div class="product-box"&gt;
       &lt;img src="{% static 'assets/images/dashboard-2/product-3.png' %}" alt="First slide"/&gt;
       &lt;div class="carousel-content"&gt;
         &lt;a href="/users_users_profile' %}"&gt; 
           &lt;span&gt;Wireless Mouse&lt;/span&gt;
         &lt;/a&gt;
         &lt;p&gt;USD 30.00&lt;/p&gt;
       &lt;/div&gt;
     &lt;/div&gt;
   &lt;/div&gt;
&lt;/div&gt;
&lt;/div&gt;
&lt;div class="col-sm-6"&gt;
&lt;div class="slid-wrapper"&gt;
 &lt;div class="plus-circle float-end"&gt; &lt;i class="icon-plus"&gt;&lt;/i&gt;&lt;/div&gt;
&lt;/div&gt;
&lt;div class="slider single-item-small"&gt;
   &lt;div&gt;
     &lt;div class="product-box"&gt;
       &lt;img src="{% static 'assets/images/dashboard-2/product-4.png' %}" alt="First slide"/&gt;
       &lt;div class="carousel-content"&gt;
         &lt;a href="/users_users_profile' %}"&gt; 
           &lt;span&gt;Wireless Earbuds&lt;/span&gt;
         &lt;/a&gt;
         &lt;p&gt;USD 102.00&lt;/p&gt;
       &lt;/div&gt;
     &lt;/div&gt;
   &lt;/div&gt;
   &lt;div&gt;
     &lt;div class="product-box"&gt;
       &lt;img src="{% static 'assets/images/dashboard-2/product-4.png' %}" alt="First slide"/&gt;
       &lt;div class="carousel-content"&gt;
         &lt;a href="/users_users_profile' %}"&gt; 
           &lt;span&gt;Wireless Earbuds&lt;/span&gt;
         &lt;/a&gt;
         &lt;p&gt;USD 102.00&lt;/p&gt;
       &lt;/div&gt;
     &lt;/div&gt;
   &lt;/div&gt;
&lt;/div&gt;
&lt;/div&gt;
&lt;/div&gt;
&lt;/div&gt;
&lt;div&gt;
&lt;div class="row pro-block"&gt;
&lt;div class="col-sm-6"&gt;
&lt;div class="slid-wrapper"&gt;
 &lt;div class="plus-circle float-end"&gt; &lt;i class="icon-plus"&gt;&lt;/i&gt;&lt;/div&gt;
&lt;/div&gt;
&lt;div class="slider single-item-small"&gt;
   &lt;div&gt;
     &lt;div class="product-box"&gt;
       &lt;img src="{% static 'assets/images/dashboard-2/product-1.png' %}" alt="First slide"/&gt;
       &lt;div class="carousel-content"&gt;
         &lt;a href="/users_users_profile' %}"&gt; 
           &lt;span&gt;Xiaomi Mix3&lt;/span&gt;
         &lt;/a&gt;
         &lt;p&gt;USD 115.00&lt;/p&gt;
       &lt;/div&gt;
     &lt;/div&gt;
   &lt;/div&gt;
   &lt;div&gt;
     &lt;div class="product-box"&gt;
       &lt;img src="{% static 'assets/images/dashboard-2/product-1.png' %}" alt="First slide"/&gt;
       &lt;div class="carousel-content"&gt;
         &lt;a href="/users_users_profile' %}"&gt; 
           &lt;span&gt;Xiaomi Mix3&lt;/span&gt;
         &lt;/a&gt;
         &lt;p&gt;USD 115.00&lt;/p&gt;
       &lt;/div&gt;
     &lt;/div&gt;
   &lt;/div&gt;
&lt;/div&gt;
&lt;/div&gt;
&lt;div class="col-sm-6"&gt;
&lt;div class="slid-wrapper"&gt;
 &lt;div class="plus-circle float-end"&gt; &lt;i class="icon-plus"&gt;&lt;/i&gt;&lt;/div&gt;
&lt;/div&gt;
&lt;div class="slider single-item-small"&gt;
   &lt;div&gt;
     &lt;div class="product-box"&gt;
       &lt;img src="{% static 'assets/images/dashboard-2/product-2.png' %}" alt="First slide"/&gt;
       &lt;div class="carousel-content"&gt;
         &lt;a href="/users_users_profile' %}"&gt; 
           &lt;span&gt;Xiaomi Speaker&lt;/span&gt;
         &lt;/a&gt;
         &lt;p&gt;USD 94.00&lt;/p&gt;
       &lt;/div&gt;
     &lt;/div&gt;
   &lt;/div&gt;
   &lt;div&gt;
     &lt;div class="product-box"&gt;
       &lt;img src="{% static 'assets/images/dashboard-2/product-2.png' %}" alt="First slide"/&gt;
       &lt;div class="carousel-content"&gt;
         &lt;a href="/users_users_profile' %}"&gt; 
           &lt;span&gt;Xiaomi Speaker&lt;/span&gt;
         &lt;/a&gt;
         &lt;p&gt;USD 94.00&lt;/p&gt;
       &lt;/div&gt;
     &lt;/div&gt;
   &lt;/div&gt;
&lt;/div&gt;
&lt;/div&gt;
&lt;div class="col-sm-6"&gt;
&lt;div class="slid-wrapper"&gt;
 &lt;div class="plus-circle float-end"&gt; &lt;i class="icon-plus"&gt;&lt;/i&gt;&lt;/div&gt;
&lt;/div&gt;
&lt;div class="slider single-item-small"&gt;
   &lt;div&gt;
     &lt;div class="product-box"&gt;
       &lt;img src="{% static 'assets/images/dashboard-2/product-3.png' %}" alt="First slide"/&gt;
       &lt;div class="carousel-content"&gt;
         &lt;a href="/users_users_profile' %}"&gt; 
           &lt;span&gt;Wireless Mouse&lt;/span&gt;
         &lt;/a&gt;
         &lt;p&gt;USD 30.00&lt;/p&gt;
       &lt;/div&gt;
     &lt;/div&gt;
   &lt;/div&gt;
   &lt;div&gt;
     &lt;div class="product-box"&gt;
       &lt;img src="{% static 'assets/images/dashboard-2/product-3.png' %}" alt="First slide"/&gt;
       &lt;div class="carousel-content"&gt;
         &lt;a href="/users_users_profile' %}"&gt; 
           &lt;span&gt;Wireless Mouse&lt;/span&gt;
         &lt;/a&gt;
         &lt;p&gt;USD 30.00&lt;/p&gt;
       &lt;/div&gt;
     &lt;/div&gt;
   &lt;/div&gt;
&lt;/div&gt;
&lt;/div&gt;
&lt;div class="col-sm-6"&gt;
&lt;div class="slid-wrapper"&gt;
 &lt;div class="plus-circle float-end"&gt; &lt;i class="icon-plus"&gt;&lt;/i&gt;&lt;/div&gt;
&lt;/div&gt;
&lt;div class="slider single-item-small"&gt;
   &lt;div&gt;
     &lt;div class="product-box"&gt;
       &lt;img src="{% static 'assets/images/dashboard-2/product-4.png' %}" alt="First slide"/&gt;
       &lt;div class="carousel-content"&gt;
         &lt;a href="/users_users_profile' %}"&gt; 
           &lt;span&gt;Wireless Earbuds&lt;/span&gt;
         &lt;/a&gt;
         &lt;p&gt;USD 102.00&lt;/p&gt;
       &lt;/div&gt;
     &lt;/div&gt;
   &lt;/div&gt;
   &lt;div&gt;
     &lt;div class="product-box"&gt;
       &lt;img src="{% static 'assets/images/dashboard-2/product-4.png' %}" alt="First slide"/&gt;
       &lt;div class="carousel-content"&gt;
         &lt;a href="/users_users_profile' %}"&gt; 
           &lt;span&gt;Wireless Earbuds&lt;/span&gt;
         &lt;/a&gt;
         &lt;p&gt;USD 102.00&lt;/p&gt;
       &lt;/div&gt;
     &lt;/div&gt;
   &lt;/div&gt;
&lt;/div&gt;
&lt;/div&gt;
&lt;/div&gt;
&lt;/div&gt;
&lt;/div&gt;
&lt;/div&gt;
&lt;/div&gt;
&lt;/div&gt;</code></pre>
      </div>
    </div>
  </div>
</div>
<div class="col-xl-4 col-lg-12 col-md-6 box-col-6 des-xl-50">
  <div class="card o-hidden payment-sec-main">
    <div class="card-header">
      <h5 class="font-light">Payment</h5>
      <div class="card-header-right">
        <ul class="setting-option bg-transparent">
          <li>
            <div class="setting-badge light-badge"><i class="fa fa-spin fa-cog"></i></div>
          </li>
          <li><i class="view-html fa fa-code"></i></li>
          <li><i class="icofont icofont-maximize full-card"></i></li>
          <li><i class="icofont icofont-minus minimize-card"></i></li>
          <li><i class="icofont icofont-refresh reload-card"></i></li>
          <li><i class="icofont icofont-error close-card"></i></li>
        </ul>
      </div>
    </div>
    <div class="card-body p-t-0">
      <div class="payment-main">
        <div class="owl-carousel owl-theme" id="sync1">
          <div class="item p-0">
            <div class="visa-card">
              <div class="card-logo"><img class="img-fluid"
                  src="{% static 'assets/images/dashboard-2/visa-card/visa.png' %}" alt=""></div>
              <ul class="card-number">
                <li>****</li>
                <li>****</li>
                <li>****</li>
                <li>8597</li>
              </ul>
              <h6 class="carl-holder">Johan deo </h6>
              <div class="d-flex justify-content-between align-items-center">
                <div class="valid-thru"> <span>VALID THRU</span><span class="vdate">11/21</span></div><a
                  class="card-btn" href="javascript:void(0)">next <i
                    class="fa fa-arrow-circle-right font-primary"></i></a>
              </div>
            </div>
          </div>
          <div class="item p-0">
            <div class="visa-card">
              <div class="card-logo"><img class="img-fluid"
                  src="{% static 'assets/images/dashboard-2/visa-card/master-card.png' %}" alt=""></div>
              <ul class="card-number">
                <li>****</li>
                <li>****</li>
                <li>****</li>
                <li>8597</li>
              </ul>
              <h6 class="carl-holder">Johan deo </h6>
              <div class="d-flex justify-content-between align-items-center">
                <div class="valid-thru"> <span>VALID THRU</span><span class="vdate">11/21</span></div><a
                  class="card-btn" href="javascript:void(0)">next <i
                    class="fa fa-arrow-circle-right font-primary"></i></a>
              </div>
            </div>
          </div>
          <div class="item p-0">
            <div class="visa-card">
              <div class="card-logo"><img class="img-fluid"
                  src="{% static 'assets/images/dashboard-2/american-ex.png' %}" alt=""></div>
              <ul class="card-number">
                <li>****</li>
                <li>****</li>
                <li>****</li>
                <li>358</li>
              </ul>
              <h6 class="carl-holder">Johan deo </h6>
              <div class="d-flex justify-content-between align-items-center">
                <div class="valid-thru"> <span>VALID THRU</span><span class="vdate">9/22</span></div><a class="card-btn"
                  href="javascript:void(0)">next <i class="fa fa-arrow-circle-right font-primary"> </i></a>
              </div>
            </div>
          </div>
          <div class="item">
            <h1>4</h1>
          </div>
        </div>
        <h5 class="font-light">Active Card</h5>
        <div class="owl-carousel owl-theme" id="sync2">
          <div class="item"><img src="{% static 'assets/images/dashboard-2/visa.png' %}" alt="" data-original-title=""
              title="">
            <div class="check-circle"><i class="fa fa-check"></i></div>
          </div>
          <div class="item"><img src="{% static 'assets/images/dashboard-2/card.png' %}" alt="" data-original-title=""
              title="">
            <div class="check-circle"><i class="fa fa-check"></i></div>
          </div>
          <div class="item"><img src="{% static 'assets/images/dashboard-2/american-ex.png' %}" alt=""
              data-original-title="" title="">
            <div class="check-circle"><i class="fa fa-check"></i></div>
          </div>
          <div class="item"><img src="{% static 'assets/images/dashboard-2/card-last.png' %}" alt=""
              data-original-title="" title="">
            <div class="check-circle"><i class="fa fa-check"></i></div>
          </div>
        </div>
      </div>
      <div class="code-box-copy">
        <button class="code-box-copy__btn btn-clipboard" data-clipboard-target="#payment-sec" title="Copy"><i
            class="icofont icofont-copy-alt"></i></button>
        <pre><code class="language-html" id="payment-sec">&lt;div class="card o-hidden payment-sec-main"&gt;
&lt;div class="card-header"&gt;
&lt;h5 class="font-light"&gt;Payment&lt;/h5&gt;
&lt;div class="card-header-right"&gt;
&lt;ul class="setting-option bg-transparent"&gt;
&lt;li&gt;
 &lt;div class="setting-badge light-badge"&gt;&lt;i class="fa fa-spin fa-cog"&gt;&lt;/i&gt;&lt;/div&gt;
&lt;/li&gt;
&lt;li&gt;&lt;i class="view-html fa fa-code"&gt;&lt;/i&gt;&lt;/li&gt;
&lt;li&gt;&lt;i class="icofont icofont-maximize full-card"&gt;&lt;/i&gt;&lt;/li&gt;
&lt;li&gt;&lt;i class="icofont icofont-minus minimize-card"&gt;&lt;/i&gt;&lt;/li&gt;
&lt;li&gt;&lt;i class="icofont icofont-refresh reload-card"&gt;&lt;/i&gt;&lt;/li&gt;
&lt;li&gt;&lt;i class="icofont icofont-error close-card"&gt;&lt;/i&gt;&lt;/li&gt;
&lt;/ul&gt;
&lt;/div&gt;
&lt;/div&gt;
&lt;div class="card-body p-t-0"&gt; 
&lt;div class="payment-main"&gt;
&lt;div class="owl-carousel owl-theme" id="sync1"&gt;
&lt;div class="item p-0"&gt;
 &lt;div class="visa-card"&gt;
   &lt;div class="card-logo"&gt;
     &lt;img class="img-fluid" src="{% static 'assets/images/dashboard-2/visa-card/visa.png' %}" alt=""/&gt;
   &lt;/div&gt;
   &lt;ul class="card-number"&gt;
     &lt;li&gt;****&lt;/li&gt;
     &lt;li&gt;****&lt;/li&gt;
     &lt;li&gt;****&lt;/li&gt;
     &lt;li&gt;8597&lt;/li&gt;
   &lt;/ul&gt;
   &lt;h6 class="carl-holder"&gt;Johan deo &lt;/h6&gt;
   &lt;div class="d-flex justify-content-between align-items-center"&gt;
     &lt;div class="valid-thru"&gt; 
       &lt;span&gt;VALID THRU&lt;/span&gt;
       &lt;span class="vdate"&gt;11/21&lt;/span&gt;
     &lt;/div&gt;
     &lt;a class="card-btn" href="javascript:void(0)"&gt;next &lt;i class="fa fa-arrow-circle-right font-primary"&gt;&lt;/i&gt;&lt;/a&gt;
   &lt;/div&gt;
   &lt;/div&gt;
 &lt;/div&gt;
 &lt;div class="item p-0"&gt;
   &lt;div class="visa-card"&gt;
     &lt;div class="card-logo"&gt;
       &lt;img class="img-fluid" src="{% static 'assets/images/dashboard-2/visa-card/master-card.png' %}" alt=""/&gt;
     &lt;/div&gt;
     &lt;ul class="card-number"&gt;
       &lt;li&gt;****&lt;/li&gt;
       &lt;li&gt;****&lt;/li&gt;
       &lt;li&gt;****&lt;/li&gt;
       &lt;li&gt;8597&lt;/li&gt;
     &lt;/ul&gt;
     &lt;h6 class="carl-holder"&gt;Johan deo &lt;/h6&gt;
     &lt;div class="d-flex justify-content-between align-items-center"&gt;
       &lt;div class="valid-thru"&gt;
          &lt;span&gt;VALID THRU&lt;/span&gt;
          &lt;span class="vdate"&gt;11/21&lt;/span&gt;
       &lt;/div&gt;
       &lt;a class="card-btn" href="javascript:void(0)"&gt;next &lt;i class="fa fa-arrow-circle-right font-primary"&gt;&lt;/i&gt;&lt;/a&gt;
     &lt;/div&gt;
     &lt;/div&gt;
     &lt;/div&gt;
     &lt;div class="item p-0"&gt;
      &lt;div class="visa-card"&gt;
      &lt;div class="card-logo"&gt;
      &lt;img class="img-fluid" src="{% static 'assets/images/dashboard-2/american-ex.png' %}" alt=""/&gt;
     &lt;/div&gt;
     &lt;ul class="card-number"&gt;
       &lt;li&gt;****&lt;/li&gt;
       &lt;li&gt;****&lt;/li&gt;
       &lt;li&gt;****&lt;/li&gt;
       &lt;li&gt;358&lt;/li&gt;
     &lt;/ul&gt;
     &lt;h6 class="carl-holder"&gt;Johan deo &lt;/h6&gt;
     &lt;div class="d-flex justify-content-between align-items-center"&gt;
     &lt;div class="valid-thru"&gt; 
       &lt;span&gt;VALID THRU&lt;/span&gt;
       &lt;span class="vdate"&gt;9/22&lt;/span&gt;
     &lt;/div&gt;
     &lt;a class="card-btn" href="javascript:void(0)"&gt;next &lt;i class="fa fa-arrow-circle-right font-primary"&gt; &lt;/i&gt;&lt;/a&gt;
     &lt;/div&gt;
     &lt;/div&gt;
     &lt;/div&gt;
     &lt;div class="item"&gt;
       &lt;h1&gt;4&lt;/h1&gt;
     &lt;/div&gt;
     &lt;/div&gt;
     &lt;h5 class="font-light"&gt;Active Card&lt;/h5&gt;
     &lt;div class="owl-carousel owl-theme" id="sync2"&gt;
     &lt;div class="item"&gt;&lt;img src="{% static 'assets/images/dashboard-2/visa.png' %}" alt="" data-original-title="" title=""/&gt;
     &lt;div class="check-circle"&gt;&lt;i class="fa fa-check"&gt;&lt;/i&gt;&lt;/div&gt;
     &lt;/div&gt;
     &lt;div class="item"&gt;&lt;img src="{% static 'assets/images/dashboard-2/card.png' %}" alt="" data-original-title="" title=""/&gt;
     &lt;div class="check-circle"&gt;&lt;i class="fa fa-check"&gt;&lt;/i&gt;&lt;/div&gt;
     &lt;/div&gt;
     &lt;div class="item"&gt;&lt;img src="{% static 'assets/images/dashboard-2/american-ex.png' %}" alt="" data-original-title="" title=""/&gt;
     &lt;div class="check-circle"&gt;&lt;i class="fa fa-check"&gt;&lt;/i&gt;&lt;/div&gt;
     &lt;/div&gt;
     &lt;div class="item"&gt;&lt;img src="{% static 'assets/images/dashboard-2/card-last.png' %}" alt="" data-original-title="" title=""/&gt;
     &lt;div class="check-circle"&gt;&lt;i class="fa fa-check"&gt;&lt;/i&gt;&lt;/div&gt;
     &lt;/div&gt;
     &lt;/div&gt;
     &lt;/div&gt;
     &lt;/div&gt;
     &lt;/div&gt;</code></pre>
      </div>
    </div>
  </div>
</div>
<div class="col-xl-12 box-col-12">
  <div class="card pro-market-sec">
    <div class="card-header pb-0 justify-content-between">
      <h5>Product Market Value</h5>
      <div class="center-content">
        <div class="center-content-left">
          <p>This Month</p><span class="m-l-10">$42866</span>
        </div>
        <div class="center-content-right">
          <p>Last Month</p><span class="m-l-10">$20548</span>
        </div>
      </div>
      <div class="card-header-right">
        <ul class="setting-option">
          <li>
            <div class="setting-badge"><i class="fa fa-spin fa-cog"></i></div>
          </li>
          <li><i class="view-html fa fa-code"></i></li>
          <li><i class="icofont icofont-maximize full-card"></i></li>
          <li><i class="icofont icofont-minus minimize-card"></i></li>
          <li><i class="icofont icofont-refresh reload-card"></i></li>
          <li><i class="icofont icofont-error close-card"></i></li>
        </ul>
      </div>
    </div>
    <div class="card-body">
      <div class="github-chart">
        <div class="flot-chart-placeholder" id="github-issues"></div>
      </div>
      <div class="code-box-copy">
        <button class="code-box-copy__btn btn-clipboard" data-clipboard-target="#market-value" title="Copy"><i
            class="icofont icofont-copy-alt"></i></button>
        <pre><code class="language-html" id="market-value">&lt;div class="card pro-market-sec"&gt;
&lt;div class="card-header pb-0 justify-content-between"&gt;
&lt;h5&gt;Product Market Value&lt;/h5&gt;
&lt;div class="center-content"&gt;  
&lt;div class="center-content-left"&gt;
 &lt;p&gt;This Month&lt;/p&gt;
 &lt;span class="m-l-10"&gt;$42866&lt;/span&gt;
&lt;/div&gt;
&lt;div class="center-content-right"&gt;
 &lt;p&gt;Last Month&lt;/p&gt;&lt;span class="m-l-10"&gt;$20548&lt;/span&gt;
&lt;/div&gt;
&lt;/div&gt;
&lt;div class="card-header-right"&gt;
&lt;ul class="setting-option"&gt;
 &lt;li&gt;&lt;div class="setting-badge"&gt;&lt;i class="fa fa-spin fa-cog"&gt;&lt;/i&gt;&lt;/div&gt;&lt;/li&gt;
 &lt;li&gt;&lt;i class="view-html fa fa-code"&gt;&lt;/i&gt;&lt;/li&gt;
 &lt;li&gt;&lt;i class="icofont icofont-maximize full-card"&gt;&lt;/i&gt;&lt;/li&gt;
 &lt;li&gt;&lt;i class="icofont icofont-minus minimize-card"&gt;&lt;/i&gt;&lt;/li&gt;
 &lt;li&gt;&lt;i class="icofont icofont-refresh reload-card"&gt;&lt;/i&gt;&lt;/li&gt;
 &lt;li&gt;&lt;i class="icofont icofont-error close-card"&gt;&lt;/i&gt;&lt;/li&gt;
&lt;/ul&gt;
&lt;/div&gt;
&lt;/div&gt;
&lt;div class="card-body"&gt;
&lt;div class="github-chart"&gt;
&lt;div class="flot-chart-placeholder" id="github-issues"&gt;&lt;/div&gt;
&lt;/div&gt;
&lt;/div&gt;
&lt;/div&gt;</code></pre>
      </div>
    </div>
  </div>
</div>