{% load static %}
{% load sass_tags %}
<div class="col-xl-12 box-col-12">
  <div class="card perform-overview-sec">
    <div class="card-header">
      <h5>Performance Overview </h5>
    </div>
    <div class="card-body p-t-0">
      <div class="media d-none">
        <div class="badge-groups w-100 px-0">
          <h5 class="font-light">Performance Overview</h5>
        </div>
      </div>
      <div class="slide-4 overview">
        <div>
          <div class="card">
            <div class="card-body">
              <div class="media">
                <div class="media-body">
                  <ul class="widget-card">
                    <li><img class="img-fluid me-2" src="{% static 'assets/images/dashboard-2/p_1.png' %}"
                        alt="Image description"><span class="font-primary">Total Revenue</span></li>
                    <li>
                      <h4 class="counter">985624</h4>
                    </li>
                    <li class="star-main">
                      <p>Balanace +98%</p>
                      <ul class="rating-cionlist">
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                      </ul>
                    </li>
                  </ul>
                </div>
                <svg viewbox="0 0 0 0" style="height:0; width: 0;">
                  <defs>
                    <lineargradient id="gradient-a" x2="0%" y2="100%">
                      <stop offset="0%" stop-color="#4d8aff"></stop>
                      <stop offset="100%" stop-color="transparent"></stop>
                    </lineargradient>
                  </defs>
                </svg>
                <div class="chartist-main-sec">
                  <div class="ct-chart1"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div class="card">
            <div class="card-body">
              <div class="media">
                <div class="media-body">
                  <ul class="widget-card">
                    <li><img class="img-fluid me-2" src="{% static 'assets/images/dashboard-2/p_1.png' %}"
                        alt="Image description"><span class="font-primary">Total Sale</span></li>
                    <li>
                      <h4 class="counter">6895</h4>
                    </li>
                    <li class="star-main">
                      <p>Balanace +82%</p>
                      <ul class="rating-cionlist">
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                      </ul>
                    </li>
                  </ul>
                </div>
                <svg viewbox="0 0 0 0" style="height:0; width: 0;">
                  <defs>
                    <lineargradient id="gradient-b" x2="0%" y2="100%">
                      <stop offset="0%" stop-color="#f73164"></stop>
                      <stop offset="100%" stop-color="transparent"></stop>
                    </lineargradient>
                  </defs>
                </svg>
                <div class="chartist-main-sec">
                  <div class="ct-chart2"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div class="card">
            <div class="card-body">
              <div class="media">
                <div class="media-body">
                  <ul class="widget-card">
                    <li><img class="img-fluid me-2" src="{% static 'assets/images/dashboard-2/p_3.png' %}"
                        alt="Image description"><span class="font-success">Total Client</span></li>
                    <li>
                      <h4 class="counter">1568</h4>
                    </li>
                    <li class="star-main">
                      <p>Balanace +96%</p>
                      <ul class="rating-cionlist">
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                      </ul>
                    </li>
                  </ul>
                </div>
                <svg viewbox="0 0 0 0" style="height:0; width: 0;">
                  <defs>
                    <lineargradient id="gradient-c" x2="0%" y2="100%">
                      <stop offset="0%" stop-color="#46d15e"></stop>
                      <stop offset="100%" stop-color="transparent"></stop>
                    </lineargradient>
                  </defs>
                </svg>
                <div class="chartist-main-sec">
                  <div class="ct-chart3"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div class="card">
            <div class="card-body">
              <div class="media">
                <div class="media-body">
                  <ul class="widget-card">
                    <li><img class="img-fluid me-2" src="{% static 'assets/images/dashboard-2/p_4.png' %}"
                        alt="Image description"><span class="font-warning">Total Product</span></li>
                    <li>
                      <h4 class="counter">850</h4>
                    </li>
                    <li class="star-main">
                      <p>Balanace +79%</p>
                      <ul class="rating-cionlist">
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                      </ul>
                    </li>
                  </ul>
                </div>
                <svg viewbox="0 0 0 0" style="height:0; width: 0;">
                  <defs>
                    <lineargradient id="gradient-d" x2="0%" y2="100%">
                      <stop offset="0%" stop-color="#ff781e"></stop>
                      <stop offset="100%" stop-color="transparent"></stop>
                    </lineargradient>
                  </defs>
                </svg>
                <div class="chartist-main-sec">
                  <div class="ct-chart4"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div class="card">
            <div class="card-body">
              <div class="media">
                <div class="media-body">
                  <ul class="widget-card">
                    <li><img class="img-fluid me-2" src="{% static 'assets/images/dashboard-2/p_1.png' %}"
                        alt="Image description"><span class="font-primary">Total Revenue</span></li>
                    <li>
                      <h4 class="counter">985624</h4>
                    </li>
                    <li class="star-main">
                      <p>Balanace +98%</p>
                      <ul class="rating-cionlist">
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                      </ul>
                    </li>
                  </ul>
                </div>
                <svg viewbox="0 0 0 0" style="height:0; width: 0;">
                  <defs>
                    <lineargradient id="gradient-a" x2="0%" y2="100%">
                      <stop offset="0%" stop-color="#4d8aff"></stop>
                      <stop offset="100%" stop-color="transparent"></stop>
                    </lineargradient>
                  </defs>
                </svg>
                <div class="chartist-main-sec">
                  <div class="ct-chart5"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div class="card">
            <div class="card-body">
              <div class="media">
                <div class="media-body">
                  <ul class="widget-card">
                    <li><img class="img-fluid me-2" src="{% static 'assets/images/dashboard-2/p_1.png' %}"
                        alt="Image description"><span class="font-primary">Total Sale</span></li>
                    <li>
                      <h4 class="counter">6895</h4>
                    </li>
                    <li class="star-main">
                      <p>Balanace +82%</p>
                      <ul class="rating-cionlist">
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                      </ul>
                    </li>
                  </ul>
                </div>
                <svg viewbox="0 0 0 0" style="height:0; width: 0;">
                  <defs>
                    <lineargradient id="gradient-b" x2="0%" y2="100%">
                      <stop offset="0%" stop-color="#f73164"></stop>
                      <stop offset="100%" stop-color="transparent"></stop>
                    </lineargradient>
                  </defs>
                </svg>
                <div class="chartist-main-sec">
                  <div class="ct-chart6"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div class="card">
            <div class="card-body">
              <div class="media">
                <div class="media-body">
                  <ul class="widget-card">
                    <li><img class="img-fluid me-2" src="{% static 'assets/images/dashboard-2/p_3.png' %}"
                        alt="Image description"><span class="font-success">Total Client</span></li>
                    <li>
                      <h4 class="counter">1568</h4>
                    </li>
                    <li class="star-main">
                      <p>Balanace +96%</p>
                      <ul class="rating-cionlist">
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                      </ul>
                    </li>
                  </ul>
                </div>
                <svg viewbox="0 0 0 0" style="height:0; width: 0;">
                  <defs>
                    <lineargradient id="gradient-c" x2="0%" y2="100%">
                      <stop offset="0%" stop-color="#46d15e"></stop>
                      <stop offset="100%" stop-color="transparent"></stop>
                    </lineargradient>
                  </defs>
                </svg>
                <div class="chartist-main-sec">
                  <div class="ct-chart7"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div class="card">
            <div class="card-body">
              <div class="media">
                <div class="media-body">
                  <ul class="widget-card">
                    <li><img class="img-fluid me-2" src="{% static 'assets/images/dashboard-2/p_4.png' %}"
                        alt="Image description"><span class="font-warning">Total Product</span></li>
                    <li>
                      <h4 class="counter">850</h4>
                    </li>
                    <li class="star-main">
                      <p>Balanace +79%</p>
                      <ul class="rating-cionlist">
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                      </ul>
                    </li>
                  </ul>
                </div>
                <svg viewbox="0 0 0 0" style="height:0; width: 0;">
                  <defs>
                    <lineargradient id="gradient-d" x2="0%" y2="100%">
                      <stop offset="0%" stop-color="#ff781e"></stop>
                      <stop offset="100%" stop-color="transparent"></stop>
                    </lineargradient>
                  </defs>
                </svg>
                <div class="chartist-main-sec">
                  <div class="ct-chart8"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>