{% load static %}
{% load sass_tags %}
<div class="col-sm-12 col-md-6">
  <div class="card">
    <div class="card-header pb-0">
      <h5 class="card-title">Touchspin mousewheel Disable</h5><span>Add <code>.touchspin-stop-mousewheel</code> class to
        diable mousewheel.</span>
    </div>
    <div class="card-body">
      <fieldset>
        <div class="input-group">
          <input class="touchspin-stop-mousewheel" type="text" value="40">
        </div>
      </fieldset>
    </div>
  </div>
</div>
<div class="col-sm-12 col-md-6">
  <div class="card">
    <div class="card-header pb-0">
      <h5 class="card-title">Small Horizontal Touchspin</h5><span>Add <code>.input-group-sm</code> class to
        input-group.</span>
    </div>
    <div class="card-body">
      <fieldset>
        <div class="input-group">
          <input class="touchspin" type="text" value="60">
        </div>
      </fieldset>
    </div>
  </div>
</div>
<div class="col-sm-12 col-md-12 col-xl-6">
  <div class="card">
    <div class="card-header pb-0">
      <h5 class="card-title">Large Horizontal Touchspin</h5><span>Add <code>.input-group-lg</code> class to
        input-group.</span>
    </div>
    <div class="card-body">
      <fieldset>
        <div class="input-group">
          <input class="touchspin" type="text" value="40">
        </div>
      </fieldset>
      <!-- Bootstrap TouchSpin Spinners End-->
      <!-- Container-fluid Ends-->
    </div>
  </div>
</div>