{% load static %}
{% load sass_tags %}
<div class="col-lg-6 col-sm-12 box-col-12">
  <div class="card">
    <div class="card-header pb-0">
      <h5>Bar Line Chart</h5>
    </div>
    <div class="card-body chart-block">
      <div class="flot-chart-container">
        <div class="flot-chart-placeholder" id="bar-line-chart-morris"></div>
      </div>
    </div>
  </div>
</div>
<div class="col-lg-6 col-sm-12 box-col-12">
  <div class="card">
    <div class="card-header pb-0">
      <h5>Displaying X Labels Diagonally(Bar Chart)</h5>
    </div>
    <div class="card-body chart-block">
      <div class="flot-chart-container">
        <div class="flot-chart-placeholder" id="x-lable-morris-chart"></div>
      </div>
    </div>
  </div>
</div>
<div class="col-lg-6 col-sm-12 box-col-12">
  <div class="card">
    <div class="card-header pb-0">
      <h5>Stacked Bars Chart</h5>
    </div>
    <div class="card-body chart-block">
      <div class="flot-chart-container">
        <div class="flot-chart-placeholder" id="stacked-bar-chart"></div>
      </div>
    </div>
  </div>
</div>
<div class="col-lg-6 col-sm-12 box-col-12">
  <div class="card">
    <div class="card-header pb-0">
      <h5>Simple Bar Charts</h5>
    </div>
    <div class="card-body chart-block">
      <div class="flot-chart-container">
        <div class="flot-chart-placeholder" id="morris-simple-bar-chart"></div>
      </div>
    </div>
  </div>
</div>
<div class="col-lg-6 col-sm-12 box-col-12">
  <div class="card">
    <div class="card-header pb-0">
      <h5>Area charts behaving like line Charts</h5>
    </div>
    <div class="card-body chart-block">
      <div class="flot-chart-container">
        <div class="flot-chart-placeholder" id="graph123"></div>
      </div>
    </div>
  </div>
</div>
<div class="col-lg-6 col-sm-12 box-col-12">
  <div class="card">
    <div class="card-header pb-0">
      <h5>Donut Color Chart</h5>
    </div>
    <div class="card-body chart-block">
      <div class="flot-chart-container">
        <div class="flot-chart-placeholder" id="donut-color-chart-morris"></div>
      </div>
    </div>
  </div>
</div>