{% extends 'base.html' %}{% load static %}
{% load sass_tags %}
{% block css %}
<!-- Plugins css start-->
<link rel="stylesheet" type="text/css" href="{% sass_src 'assets/scss/vendors/select2.scss' %}">
<!-- Plugins css Ends-->
{% endblock css %}
{% block content %}
<div class="page-body">
  {% include 'layout/breadcrumb.html' %}
  <!-- Container-fluid starts-->
  <div class="container-fluid">
    <div class="select2-drpdwn">
      <div class="row">
        <!-- Default Textbox start-->
        {% include 'forms/form_widgets/select2/components/select2.html' %}
        <!-- Default Textbox end-->
        <!-- Input Groups start-->
        {% include 'forms/form_widgets/select2/components/outline-color-variant.html' %}
        {% include 'forms/form_widgets/select2/components/full-color-variant.html' %}
        <!-- Input Groups end// Container-fluid Ends-->
      </div>
    </div>
  </div>
</div>
{% endblock content %}
{% block scriptcontent %}
<!-- Plugins JS start-->
<script src="{% static 'assets/js/select2/select2.full.min.js' %}"></script>
<script src="{% static 'assets/js/select2/select2-custom.js' %}"></script>
<!-- Plugins JS Ends-->
{% endblock scriptcontent %}