{% extends 'base.html' %}{% load static %}
{% load sass_tags %}
{% block css %}
<!-- Plugins css start-->
<link rel="stylesheet" type="text/css" href="{% sass_src 'assets/scss/vendors/owlcarousel.scss' %}">
<link rel="stylesheet" type="text/css" href="{% sass_src 'assets/scss/vendors/mapsjs-ui.scss' %}">
<!-- Plugins css Ends-->
{% endblock css %}
{% block content %}
<div class="page-body">
  {% include 'layout/breadcrumb.html' %}

  <!-- Container-fluid starts-->
  <div class="container-fluid">
    {% include 'maps/maps_js/components/map-js.html' %}
  </div>
  <!-- Container-fluid Ends-->
</div>
{% endblock content %}
{% block scriptcontent %}
<!-- Plugins JS start-->
<script src="{% static 'assets/js/owlcarousel/owl.carousel.js' %}"></script>
<script src="{% static 'assets/js/owlcarousel/owl-custom.js' %}"></script>
<script src="{% static 'assets/js/tooltip-init.js' %}"></script>
<script src="{% static 'assets/js/map-js/mapsjs-core.js' %}"></script>
<script src="{% static 'assets/js/map-js/mapsjs-service.js' %}"></script>
<script src="{% static 'assets/js/map-js/mapsjs-ui.js' %}"></script>
<script src="{% static 'assets/js/map-js/mapsjs-mapevents.js' %}"></script>
<script src="{% static 'assets/js/map-js/custom.js' %}"></script>
<!-- Plugins JS Ends-->
{% endblock scriptcontent %}