{% load static %}
{% load sass_tags %}
<div class="card">
  <div class="card-header pb-0">
    <h5>bold Border outline buttons</h5>
    <div class="card-header-right">
      <ul class="setting-option">
        <li>
          <div class="setting-badge"><i class="fa fa-spin fa-cog font-primary"></i></div>
        </li>
        <li><i class="view-html fa fa-code font-primary"></i></li>
        <li><i class="icofont icofont-maximize full-card font-primary"></i></li>
        <li><i class="icofont icofont-minus minimize-card font-primary"></i></li>
        <li><i class="icofont icofont-refresh reload-card font-primary"></i></li>
        <li><i class="icofont icofont-error close-card font-primary"></i></li>
      </ul>
    </div><span>Add <code>.btn-square</code> and <code>.btn-outline-*-2x</code> class for button with bold
      outline</span>
  </div>
  <div class="card-body btn-showcase">
    <button class="btn btn-square btn-outline-primary-2x" type="button">Primary Button</button>
    <button class="btn btn-square btn-outline-secondary-2x" type="button">Secondary Button</button>
    <button class="btn btn-square btn-outline-success-2x" type="button">Success Button</button>
    <button class="btn btn-square btn-outline-info-2x" type="button">Info Button</button>
    <button class="btn btn-square btn-outline-warning-2x" type="button">Warning Button</button>
    <button class="btn btn-square btn-outline-danger-2x" type="button">Danger Button</button>
    <button class="btn btn-square btn-outline-light-2x txt-dark" type="button">Light Button</button>
    <div class="code-box-copy">
      <button class="code-box-copy__btn btn-clipboard" data-clipboard-target="#example-head8" title="Copy"><i
          class="icofont icofont-copy-alt"></i></button>
      <pre><code class="language-html" id="example-head8">&lt;!-- Cod Box Copy begin --&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-square btn-outline-primary-2x&quot;&gt;primary button&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-square btn-outline-secondary-2x&quot;&gt;secondary button&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-square btn-outline-success-2x&quot;&gt;Success Button&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-square btn-outline-info-2x&quot;&gt;Info button&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-square btn-outline-warning-2x&quot;&gt;warning button&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-square btn-outline-danger-2x&quot;&gt;danger button&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-square btn-outline-light-2x txt-dark&quot;&gt;light button&lt;/button&gt; 
&lt;!-- Cod Box Copy end --&gt;</code></pre>
    </div>
  </div>
</div>
<div class="card">
  <div class="card-header pb-0">
    <h5>outline Large buttons</h5>
    <div class="card-header-right">
      <ul class="setting-option">
        <li>
          <div class="setting-badge"><i class="fa fa-spin fa-cog font-primary"></i></div>
        </li>
        <li><i class="view-html fa fa-code font-primary"></i></li>
        <li><i class="icofont icofont-maximize full-card font-primary"></i></li>
        <li><i class="icofont icofont-minus minimize-card font-primary"></i></li>
        <li><i class="icofont icofont-refresh reload-card font-primary"></i></li>
        <li><i class="icofont icofont-error close-card font-primary"></i></li>
      </ul>
    </div><span>Add <code>.btn-square</code>,<code>.btn-outline-*</code> and <code>.btn-lg</code> class for large
      button</span>
  </div>
  <div class="card-body btn-showcase">
    <button class="btn btn-square btn-outline-primary btn-lg" type="button">Primary Button</button>
    <button class="btn btn-square btn-outline-secondary btn-lg" type="button">Secondary Button</button>
    <button class="btn btn-square btn-outline-success btn-lg" type="button">Success Button</button>
    <button class="btn btn-square btn-outline-info btn-lg" type="button">Info Button</button>
    <button class="btn btn-square btn-outline-warning btn-lg" type="button">Warning Button</button>
    <button class="btn btn-square btn-outline-danger btn-lg" type="button">Danger Button</button>
    <button class="btn btn-square btn-outline-light btn-lg txt-dark" type="button">Light Button</button>
    <div class="code-box-copy">
      <button class="code-box-copy__btn btn-clipboard" data-clipboard-target="#example-head9" title="Copy"><i
          class="icofont icofont-copy-alt"></i></button>
      <pre><code class="language-html" id="example-head9">&lt;!-- Cod Box Copy begin --&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-square btn-outline-primary btn-lg&quot;&gt;primary button&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-square btn-outline-secondary btn-lg&quot;&gt;secondary button&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-square btn-outline-success btn-lg&quot;&gt;Success Button&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-square btn-outline-info btn-lg&quot;&gt;Info button&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-square btn-outline-warning btn-lg&quot;&gt;warning button&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-square btn-outline-danger btn-lg&quot;&gt;danger button&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-square btn-outline-light btn-lg txt-dark&quot;&gt;light button&lt;/button&gt; 
&lt;!-- Cod Box Copy end --&gt;</code></pre>
    </div>
  </div>
</div>
<div class="card">
  <div class="card-header pb-0">
    <h5>outline small buttons</h5>
    <div class="card-header-right">
      <ul class="setting-option">
        <li>
          <div class="setting-badge"><i class="fa fa-spin fa-cog font-primary"></i></div>
        </li>
        <li><i class="view-html fa fa-code font-primary"></i></li>
        <li><i class="icofont icofont-maximize full-card font-primary"></i></li>
        <li><i class="icofont icofont-minus minimize-card font-primary"></i></li>
        <li><i class="icofont icofont-refresh reload-card font-primary"></i></li>
        <li><i class="icofont icofont-error close-card font-primary"></i></li>
      </ul>
    </div><span>Add <code>.btn-square</code>,<code>.btn-outline-*</code> and <code>.btn-sm</code> class for small
      button</span>
  </div>
  <div class="card-body btn-showcase">
    <button class="btn btn-square btn-outline-primary btn-sm" type="button">Primary Button</button>
    <button class="btn btn-square btn-outline-secondary btn-sm" type="button">Secondary Button</button>
    <button class="btn btn-square btn-outline-success btn-sm" type="button">Success Button</button>
    <button class="btn btn-square btn-outline-info btn-sm" type="button">Info Button</button>
    <button class="btn btn-square btn-outline-warning btn-sm" type="button">Warning Button</button>
    <button class="btn btn-square btn-outline-danger btn-sm" type="button">Danger Button</button>
    <button class="btn btn-square btn-outline-light btn-sm txt-dark" type="button">Light Button</button>
    <div class="code-box-copy">
      <button class="code-box-copy__btn btn-clipboard" data-clipboard-target="#example-head10" title="Copy"><i
          class="icofont icofont-copy-alt"></i></button>
      <pre><code class="language-html" id="example-head10">&lt;!-- Cod Box Copy begin --&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-square btn-outline-primary btn-sm&quot;&gt;primary button&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-square btn-outline-secondary btn-sm&quot;&gt;secondary button&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-square btn-outline-success btn-sm&quot;&gt;Success Button&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-square btn-outline-info btn-sm&quot;&gt;Info button&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-square btn-outline-warning btn-sm&quot;&gt;warning button&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-square btn-outline-danger btn-sm&quot;&gt;danger button&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-square btn-outline-light btn-sm txt-dark&quot;&gt;light button&lt;/button&gt;
&lt;!-- Cod Box Copy end --&gt;</code></pre>
    </div>
  </div>
</div>
<div class="card">
  <div class="card-header pb-0">
    <h5>outline Extra small buttons</h5>
    <div class="card-header-right">
      <ul class="setting-option">
        <li>
          <div class="setting-badge"><i class="fa fa-spin fa-cog font-primary"></i></div>
        </li>
        <li><i class="view-html fa fa-code font-primary"></i></li>
        <li><i class="icofont icofont-maximize full-card font-primary"></i></li>
        <li><i class="icofont icofont-minus minimize-card font-primary"></i></li>
        <li><i class="icofont icofont-refresh reload-card font-primary"></i></li>
        <li><i class="icofont icofont-error close-card font-primary"></i></li>
      </ul>
    </div><span>Add <code>.btn-square</code>,<code>.btn-outline-*</code> and <code>.btn-xs</code> class for extra small
      button</span>
  </div>
  <div class="card-body btn-showcase">
    <button class="btn btn-square btn-outline-primary btn-xs" type="button">Primary Button</button>
    <button class="btn btn-square btn-outline-secondary btn-xs" type="button">Secondary Button</button>
    <button class="btn btn-square btn-outline-success btn-xs" type="button">Success Button</button>
    <button class="btn btn-square btn-outline-info btn-xs" type="button">Info Button</button>
    <button class="btn btn-square btn-outline-warning btn-xs" type="button">Warning Button</button>
    <button class="btn btn-square btn-outline-danger btn-xs" type="button">Danger Button</button>
    <button class="btn btn-square btn-outline-light btn-xs txt-dark" type="button">Light Button</button>
    <div class="code-box-copy">
      <button class="code-box-copy__btn btn-clipboard" data-clipboard-target="#example-head11" title="Copy"><i
          class="icofont icofont-copy-alt"></i></button>
      <pre><code class="language-html" id="example-head11">&lt;!-- Cod Box Copy begin --&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-square btn-outline-primary btn-xs&quot;&gt;primary button&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-square btn-outline-secondary btn-xs&quot;&gt;secondary button&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-square btn-outline-success btn-xs&quot;&gt;Success Button&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-square btn-outline-info btn-xs&quot;&gt;Info button&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-square btn-outline-warning btn-xs&quot;&gt;warning button&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-square btn-outline-danger btn-xs&quot;&gt;danger button&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-square btn-outline-light btn-xs txt-dark&quot;&gt;light button&lt;/button&gt;
&lt;!-- Cod Box Copy end --&gt;</code></pre>
    </div>
  </div>
</div>