{% extends 'base.html' %}{% load static %}
{% load sass_tags %}
{% block css %}
<!-- Plugins css start-->
<!-- Plugins css Ends-->
{% endblock css %}
{% block content %}
<div class="page-body">
  {% include 'layout/breadcrumb.html' %}
  <!-- Container-fluid starts-->
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header pb-0">
            <h5>Button Builder</h5>
          </div>
          <div class="card-body">
            <div class="button-builder-wrap">
              <div class="row">
                <div class="col-md-6 col-lg-7 order-2 order-xl-1">
                  {% include 'builders/button-builder/components/button-builder-buttons.html' %}
                  <div class="form-group row toggle">
                    <label class="col col-form-label">Choose Icon</label>
                    <div class="col-lg-9">
                      <div class="nav nav-pills mb-3" id="pills-tab-icon"><a class="btn btn-light" id="fontawesome-tab"
                          data-bs-toggle="pill" href="#pills-fontawesome" aria-controls="pills-fontawesome">Font
                          Awesome</a><a class="btn btn-light" id="icoicon-tab" data-bs-toggle="pill"
                          href="#pills-icoicon" aria-controls="pills-icoicon">Ico Icons</a><a
                          class="btn btn-light active" id="themify-tab" data-bs-toggle="pill" href="#pills-themify"
                          aria-controls="pills-themify">Themify</a></div>
                      <div class="tab-content">
                        <div class="tab-pane fade" id="pills-fontawesome" role="tabpanel"
                          aria-labelledby="fontawesome-tab">
                          <ul class="the-icons clearfix">
                            {% include 'builders/button-builder/components/icon-list/fa-list.html' %}
                          </ul>
                        </div>
                        <div class="tab-pane fade" id="pills-icoicon" role="tabpanel" aria-labelledby="icoicon-tab">
                          <ul class="the-icons clearfix">
                            {% include 'builders/button-builder/components/icon-list/ico.html' %}
                          </ul>
                        </div>
                        <div class="tab-pane fade show active" id="pills-themify" role="tabpanel"
                          aria-labelledby="themify-tab">
                          <ul class="the-icons clearfix">
                            {% include 'builders/button-builder/components/icon-list/themify.html' %}
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-lg-5 order-1 order-xl-2" id="myScrollspy">
                  <div class="button-generator-bx custom-scrollbar">
                    <div class="box button-preview" data-spy="affix" data-offset-top="248">
                      <h2>Bootstrap Button Preview</h2>
                      <div class="bg-transparent" id="result"><a class="btn btn-success btn-lg"
                          href="javascript:void(0)"><span class="fa fa-edit"></span> Button</a></div>
                    </div>
                    <div class="box" id="htmlBox">
                      <div class="code-wrapper bg-transparent">
                        <pre class="well"><code class="language-markup button-html" id="htmlCode">&lt;a href="javascript:void(0)" class="btn btn-success 
btn-lg"&gt;&lt;i class="icon-edit 
icon-white"&gt;&lt;/i&gt; Bootstrap 
Button Generator&lt;/a&gt;</code></pre>
                        <div class="copy"><a id="copyHTML" href="javascript:void(0);" data-clipboard-action="copy"
                            data-clipboard-target="#htmlCode">Click Here to Copy HTML</a></div>
                        <p class="sucess-msg" id="htmlAlert"><em>Copied to clipboard...</em></p>
                      </div>
                    </div>
                    <div id="cssBox">
                      <div class="box">
                        <div class="code-wrapper bg-transparent">
                          <div class="copy mt-0 m-b-20"><a id="copyCSS" href="javascript:void(0);"
                              data-clipboard-action="copy" data-clipboard-target="#cssCode">Click Here to Copy CSS</a>
                          </div>
                          <pre class="well"><code class="language-css button-css" id="cssCode">.btn.btn-success {
color: #ffffff;
background-color: #00c292;
background-image: linear-gradient(to bottom, #00c292, #00ebb1);
border-color: #00c292 #00c292 #00c292;
}
.btn.btn-success:hover {
color: #ffffff;
background-color: #00ebb1;
background-image: linear-gradient(to bottom, #00ebb1, #00ebb1);
border-color: #00c292 #00c292 #00c292;
}</code></pre>
                          <p class="sucess-msg" id="cssAlert"><em>Copied to clipboard...</em></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Container-fluid Ends-->
</div>
{% endblock content %}
{% block scriptcontent %}
<!-- Plugins JS start-->
<script src="{% static 'assets/js/button-builder/colorpicker.js' %}"></script>
<script src="{% static 'assets/js/button-builder/clipboard.min.js' %}"></script>
<script src="{% static 'assets/js/button-builder/generator.js' %}"></script>
<script src="{% static 'assets/js/button-builder/extend-1.0.js' %}"></script>
<!-- Plugins JS Ends-->
{% endblock scriptcontent %}