{% load static %}
{% load sass_tags %}
<div class="col-12">
  <div class="knowledgebase-bg"><img class="bg-img-cover bg-center"
      src="{% static 'assets/images/knowledgebase/bg_1.jpg' %}" alt="looginpage"></div>
  <div class="knowledgebase-search">
    <div>
      <h3>How Can I help you?</h3>
      <form class="form-inline" action="#" method="get">
        <div class="form-group w-100 mb-0"><i data-feather="search"></i>
          <input class="form-control-plaintext w-100" type="text" placeholder="Type question here" title="">
        </div>
      </form>
    </div>
  </div>
</div>
<div class="col-xl-4 xl-50 col-lg-6 box-col-6">
  <div class="card bg-primary">
    <div class="card-body">
      <div class="media faq-widgets">
        <div class="media-body"><a href="/knowledge_detail">
            <h5>Articles</h5>
          </a>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
            Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
        </div><i data-feather="book-open"></i>
      </div>
    </div>
  </div>
</div>
<div class="col-xl-4 xl-50 col-lg-6 box-col-6">
  <div class="card bg-primary">
    <div class="card-body">
      <div class="media faq-widgets">
        <div class="media-body"><a href="/knowledge_detail">
            <h5>Knowledgebase</h5>
          </a>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
            Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
        </div><i data-feather="aperture"></i>
      </div>
    </div>
  </div>
</div>
<div class="col-xl-4 col-lg-12 xl-100 box-col-12">
  <div class="card bg-primary">
    <div class="card-body">
      <div class="media faq-widgets">
        <div class="media-body"><a href="/knowledge_detail">
            <h5>Support</h5>
          </a>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
            Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
        </div><i data-feather="file-text"></i>
      </div>
    </div>
  </div>
</div>