{% load static %}
{% load sass_tags %}
<div class="card">
  <div class="card-header pb-0">
    <h5>Disabled outline buttons</h5>
    <div class="card-header-right">
      <ul class="setting-option">
        <li>
          <div class="setting-badge"><i class="fa fa-spin fa-cog font-primary"></i></div>
        </li>
        <li><i class="view-html fa fa-code font-primary"></i></li>
        <li><i class="icofont icofont-maximize full-card font-primary"></i></li>
        <li><i class="icofont icofont-minus minimize-card font-primary"></i></li>
        <li><i class="icofont icofont-refresh reload-card font-primary"></i></li>
        <li><i class="icofont icofont-error close-card font-primary"></i></li>
      </ul>
    </div><span>Add <code>.disabled</code> class or <code>disabled="disabled"</code> attribute for disabled state</span>
  </div>
  <div class="card-body btn-showcase">
    <button class="btn btn-outline-primary disabled" type="button">Disabled</button>
    <button class="btn btn-outline-secondary disabled" type="button">Disabled</button>
    <button class="btn btn-outline-success disabled" type="button">Disabled</button>
    <button class="btn btn-outline-info disabled" type="button">Disabled</button>
    <button class="btn btn-outline-warning disabled" type="button">Disabled</button>
    <button class="btn btn-outline-danger disabled" type="button">Disabled</button>
    <button class="btn btn-outline-light txt-dark disabled" type="button">Disabled</button>
    <div class="code-box-copy">
      <button class="code-box-copy__btn btn-clipboard" data-clipboard-target="#example-head12" title="Copy"><i
          class="icofont icofont-copy-alt"></i></button>
      <pre><code class="language-html" id="example-head12">&lt;!-- Cod Box Copy begin --&gt;
&lt;button type="button" class="btn btn-outline-primary disabled"&gt;Disabled&lt;/button&gt;
&lt;button type="button" class="btn btn-outline-secondary disabled"&gt;Disabled&lt;/button&gt;
&lt;button type="button" class="btn btn-outline-success disabled"&gt;Disabled&lt;/button&gt;
&lt;button type="button" class="btn btn-outline-info disabled"&gt;Disabled&lt;/button&gt;
&lt;button type="button" class="btn btn-outline-warning disabled"&gt;Disabled&lt;/button&gt;
&lt;button type="button" class="btn btn-outline-danger disabled"&gt;Disabled&lt;/button&gt;
&lt;button type="button" class="btn btn-outline-light disabled txt-dark"&gt;Disabled&lt;/button&gt; 
&lt;!-- Cod Box Copy end --&gt;</code></pre>
    </div>
  </div>
</div>
<div class="card" id="gradiant">
  <div class="card-header pb-0">
    <h5>Gradien buttons</h5>
    <div class="card-header-right">
      <ul class="setting-option">
        <li>
          <div class="setting-badge"><i class="fa fa-spin fa-cog font-primary"></i></div>
        </li>
        <li><i class="view-html fa fa-code font-primary"></i></li>
        <li><i class="icofont icofont-maximize full-card font-primary"></i></li>
        <li><i class="icofont icofont-minus minimize-card font-primary"></i></li>
        <li><i class="icofont icofont-refresh reload-card font-primary"></i></li>
        <li><i class="icofont icofont-error close-card font-primary"></i></li>
      </ul>
    </div><span>Add <code>.btn-*-gradien</code> class for gradien button</span>
  </div>
  <div class="card-body btn-showcase">
    <button class="btn btn-primary-gradien" type="button">Primary Button</button>
    <button class="btn btn-secondary-gradien" type="button">Secondary Button</button>
    <button class="btn btn-success-gradien" type="button">Success Button</button>
    <button class="btn btn-info-gradien" type="button">Info Button</button>
    <button class="btn btn-warning-gradien" type="button">Warning Button</button>
    <button class="btn btn-danger-gradien" type="button">Danger Button</button>
    <div class="code-box-copy">
      <button class="code-box-copy__btn btn-clipboard" data-clipboard-target="#example-head13" title="Copy"><i
          class="icofont icofont-copy-alt"></i></button>
      <pre><code class="language-html" id="example-head13">&lt;!-- Cod Box Copy begin --&gt;
&lt;button type="button" class="btn btn-primary-gradien"&gt;primary button&lt;/button&gt;
&lt;button type="button" class="btn btn-secondary-gradien"&gt;secondary button&lt;/button&gt;
&lt;button type="button" class="btn btn-success-gradien"&gt;Success button&lt;/button&gt;
&lt;button type="button" class="btn btn-info-gradien"&gt;Info button&lt;/button&gt;
&lt;button type="button" class="btn btn-warning-gradien"&gt;warning button&lt;/button&gt;
&lt;button type="button" class="btn btn-danger-gradien"&gt;danger button&lt;/button&gt; 
&lt;!-- Cod Box Copy end --&gt;</code></pre>
    </div>
  </div>
</div>