{% load static %}
{% load sass_tags %}
<div class="card" id="outline-bold-button">
  <div class="card-header pb-0">
    <h5>bold Border outline buttons</h5>
    <div class="card-header-right">
      <ul class="setting-option">
        <li>
          <div class="setting-badge"><i class="fa fa-spin fa-cog font-primary"></i></div>
        </li>
        <li><i class="view-html fa fa-code font-primary"></i></li>
        <li><i class="icofont icofont-maximize full-card font-primary"></i></li>
        <li><i class="icofont icofont-minus minimize-card font-primary"></i></li>
        <li><i class="icofont icofont-refresh reload-card font-primary"></i></li>
        <li><i class="icofont icofont-error close-card font-primary"></i></li>
      </ul>
    </div><span>Add <code>.btn-outline-*-2x</code> class for bold outline</span>
  </div>
  <div class="card-body btn-showcase">
    <button class="btn btn-outline-primary-2x" type="button">Primary Button</button>
    <button class="btn btn-outline-secondary-2x" type="button">Secondary Button</button>
    <button class="btn btn-outline-success-2x" type="button">Success Button</button>
    <button class="btn btn-outline-info-2x" type="button">Info Button</button>
    <button class="btn btn-outline-warning-2x" type="button">Warning Button</button>
    <button class="btn btn-outline-danger-2x" type="button">Danger Button</button>
    <button class="btn btn-outline-light-2x txt-dark" type="button">Light Button</button>
    <div class="code-box-copy">
      <button class="code-box-copy__btn btn-clipboard" data-clipboard-target="#example-head8" title="Copy"><i
          class="icofont icofont-copy-alt"></i></button>
      <pre><code class="language-html" id="example-head8">&lt;!-- Cod Box Copy begin --&gt;
&lt;button type="button" class="btn btn-outline-primary-2x"&gt;primary button&lt;/button&gt;
&lt;button type="button" class="btn btn-outline-secondary-2x"&gt;secondary button&lt;/button&gt;
&lt;button type="button" class="btn btn-outline-success-2x"&gt;Success button&lt;/button&gt;
&lt;button type="button" class="btn btn-outline-info-2x"&gt;Info button&lt;/button&gt;
&lt;button type="button" class="btn btn-outline-warning-2x"&gt;warning button&lt;/button&gt;
&lt;button type="button" class="btn btn-outline-danger-2x"&gt;danger button&lt;/button&gt;
&lt;button type="button" class="btn btn-outline-light-2x txt-dark"&gt;light button&lt;/button&gt; 
&lt;!-- Cod Box Copy end --&gt;</code></pre>
    </div>
  </div>
</div>
<div class="card" id="outline-large-button">
  <div class="card-header pb-0">
    <h5>outline Large buttons</h5>
    <div class="card-header-right">
      <ul class="setting-option">
        <li>
          <div class="setting-badge"><i class="fa fa-spin fa-cog font-primary"></i></div>
        </li>
        <li><i class="view-html fa fa-code font-primary"></i></li>
        <li><i class="icofont icofont-maximize full-card font-primary"></i></li>
        <li><i class="icofont icofont-minus minimize-card font-primary"></i></li>
        <li><i class="icofont icofont-refresh reload-card font-primary"></i></li>
        <li><i class="icofont icofont-error close-card font-primary"></i></li>
      </ul>
    </div><span>Add <code>.btn-outline-*</code> class for outline and <code>.btn-lg</code> class for large button</span>
  </div>
  <div class="card-body btn-showcase">
    <button class="btn btn-outline-primary btn-lg" type="button">Primary Button</button>
    <button class="btn btn-outline-secondary btn-lg" type="button">Secondary Button</button>
    <button class="btn btn-outline-success btn-lg" type="button">Success Button</button>
    <button class="btn btn-outline-info btn-lg" type="button">Info Button</button>
    <button class="btn btn-outline-warning btn-lg" type="button">Warning Button</button>
    <button class="btn btn-outline-danger btn-lg" type="button">Danger Button</button>
    <button class="btn btn-outline-light btn-lg txt-dark" type="button">Light Button</button>
    <div class="code-box-copy">
      <button class="code-box-copy__btn btn-clipboard" data-clipboard-target="#example-head9" title="Copy"><i
          class="icofont icofont-copy-alt"></i></button>
      <pre><code class="language-html" id="example-head9">&lt;!-- Cod Box Copy begin --&gt;
&lt;button type="button" class="btn btn-outline-primary btn-lg"&gt;primary button&lt;/button&gt;
&lt;button type="button" class="btn btn-outline-secondary btn-lg"&gt;secondary button&lt;/button&gt;
&lt;button type="button" class="btn btn-outline-success btn-lg"&gt;Success button&lt;/button&gt;
&lt;button type="button" class="btn btn-outline-info btn-lg"&gt;Info button&lt;/button&gt;
&lt;button type="button" class="btn btn-outline-warning btn-lg"&gt;warning button&lt;/button&gt;
&lt;button type="button" class="btn btn-outline-danger btn-lg"&gt;danger button&lt;/button&gt;
&lt;button type="button" class="btn btn-outline-light btn-lg txt-dark"&gt;light button&lt;/button&gt; 
&lt;!-- Cod Box Copy end --&gt;</code></pre>
    </div>
  </div>
</div>
<div class="card" id="outline-small-button">
  <div class="card-header pb-0">
    <h5>outline small buttons</h5>
    <div class="card-header-right">
      <ul class="setting-option">
        <li>
          <div class="setting-badge"><i class="fa fa-spin fa-cog font-primary"></i></div>
        </li>
        <li><i class="view-html fa fa-code font-primary"></i></li>
        <li><i class="icofont icofont-maximize full-card font-primary"></i></li>
        <li><i class="icofont icofont-minus minimize-card font-primary"></i></li>
        <li><i class="icofont icofont-refresh reload-card font-primary"></i></li>
        <li><i class="icofont icofont-error close-card font-primary"></i></li>
      </ul>
    </div><span>Add <code>.btn-outline-*</code> class for outline and <code>.btn-sm</code> class for small button</span>
  </div>
  <div class="card-body btn-showcase">
    <button class="btn btn-outline-primary btn-sm" type="button">Primary Button</button>
    <button class="btn btn-outline-secondary btn-sm" type="button">Secondary Button</button>
    <button class="btn btn-outline-success btn-sm" type="button">Success Button</button>
    <button class="btn btn-outline-info btn-sm" type="button">Info Button</button>
    <button class="btn btn-outline-warning btn-sm" type="button">Warning Button</button>
    <button class="btn btn-outline-danger btn-sm" type="button">Danger Button</button>
    <button class="btn btn-outline-light btn-sm txt-dark" type="button">Light Button</button>
    <div class="code-box-copy">
      <button class="code-box-copy__btn btn-clipboard" data-clipboard-target="#example-head10" title="Copy"><i
          class="icofont icofont-copy-alt"></i></button>
      <pre><code class="language-html" id="example-head10">&lt;!-- Cod Box Copy begin --&gt;
&lt;button type="button" class="btn btn-outline-primary btn-sm"&gt;primary button&lt;/button&gt;
&lt;button type="button" class="btn btn-outline-secondary btn-sm"&gt;secondary button&lt;/button&gt;
&lt;button type="button" class="btn btn-outline-success btn-sm"&gt;Success button&lt;/button&gt;
&lt;button type="button" class="btn btn-outline-info btn-sm"&gt;Info button&lt;/button&gt;
&lt;button type="button" class="btn btn-outline-warning btn-sm"&gt;warning button&lt;/button&gt;
&lt;button type="button" class="btn btn-outline-danger btn-sm"&gt;danger button&lt;/button&gt;
&lt;button type="button" class="btn btn-outline-light btn-sm txt-dark"&gt;light button&lt;/button&gt; 
&lt;!-- Cod Box Copy end --&gt;</code></pre>
    </div>
  </div>
</div>
<div class="card" id="ex-outline-small-button">
  <div class="card-header pb-0">
    <h5>Outline extra small buttons</h5>
    <div class="card-header-right">
      <ul class="setting-option">
        <li>
          <div class="setting-badge"><i class="fa fa-spin fa-cog font-primary"></i></div>
        </li>
        <li><i class="view-html fa fa-code font-primary"></i></li>
        <li><i class="icofont icofont-maximize full-card font-primary"></i></li>
        <li><i class="icofont icofont-minus minimize-card font-primary"></i></li>
        <li><i class="icofont icofont-refresh reload-card font-primary"></i></li>
        <li><i class="icofont icofont-error close-card font-primary"></i></li>
      </ul>
    </div><span>Add <code>.btn-outline-*</code> class for outline and <code>.btn-xs</code> class for extra small
      button</span>
  </div>
  <div class="card-body btn-showcase">
    <button class="btn btn-outline-primary btn-xs" type="button">Primary Button</button>
    <button class="btn btn-outline-secondary btn-xs" type="button">Secondary Button</button>
    <button class="btn btn-outline-success btn-xs" type="button">Success Button</button>
    <button class="btn btn-outline-info btn-xs" type="button">Info Button</button>
    <button class="btn btn-outline-warning btn-xs" type="button">Warning Button</button>
    <button class="btn btn-outline-danger btn-xs" type="button">Danger Button</button>
    <button class="btn btn-outline-light btn-xs txt-dark" type="button">Light Button</button>
    <div class="code-box-copy">
      <button class="code-box-copy__btn btn-clipboard" data-clipboard-target="#example-head11" title="Copy"><i
          class="icofont icofont-copy-alt"></i></button>
      <pre><code class="language-html" id="example-head11">&lt;!-- Cod Box Copy begin --&gt;
&lt;button type="button" class="btn btn-outline-primary btn-xs"&gt;primary button&lt;/button&gt;
&lt;button type="button" class="btn btn-outline-secondary btn-xs"&gt;secondary button&lt;/button&gt;
&lt;button type="button" class="btn btn-outline-success btn-xs"&gt;Success button&lt;/button&gt;
&lt;button type="button" class="btn btn-outline-info btn-xs"&gt;Info button&lt;/button&gt;
&lt;button type="button" class="btn btn-outline-warning btn-xs"&gt;warning button&lt;/button&gt;
&lt;button type="button" class="btn btn-outline-danger btn-xs"&gt;danger button&lt;/button&gt;
&lt;button type="button" class="btn btn-outline-light btn-xs txt-dark"&gt;light button&lt;/button&gt; 
&lt;!-- Cod Box Copy end --&gt;</code></pre>
    </div>
  </div>
</div>