{% load static %}
{% load sass_tags %}
<div class="card" id="default">
  <div class="card-header pb-0">
    <h5>Default buttons</h5>
    <div class="card-header-right">
      <ul class="setting-option">
        <li>
          <div class="setting-badge"><i class="fa fa-spin fa-cog font-primary"></i></div>
        </li>
        <li><i class="view-html fa fa-code font-primary"></i></li>
        <li><i class="icofont icofont-maximize full-card font-primary"></i></li>
        <li><i class="icofont icofont-minus minimize-card font-primary"></i></li>
        <li><i class="icofont icofont-refresh reload-card font-primary"></i></li>
        <li><i class="icofont icofont-error close-card font-primary"></i></li>
      </ul>
    </div><span>Bootstrap state buttons</span>
  </div>
  <div class="card-body btn-showcase">
    <button class="btn btn-primary" type="button">Primary Button</button>
    <button class="btn btn-secondary" type="button">Secondary Button</button>
    <button class="btn btn-success" type="button">Success Button</button>
    <button class="btn btn-info" type="button">Info Button</button>
    <button class="btn btn-warning" type="button">Warning Button</button>
    <button class="btn btn-danger" type="button">Danger Button</button>
    <button class="btn btn-light" type="button">Light Button</button>
    <div class="code-box-copy">
      <button class="code-box-copy__btn btn-clipboard" data-clipboard-target="#example-head" title="Copy"><i
          class="icofont icofont-copy-alt"></i></button>
      <pre><code class="language-html" id="example-head">&lt;!-- Cod Box Copy begin --&gt;
&lt;button type="button" class="btn btn-primary"&gt;primary button&lt;/button&gt;
&lt;button type="button" class="btn btn-secondary"&gt;secondary button&lt;/button&gt;
&lt;button type="button" class="btn btn-success"&gt;Success button&lt;/button&gt;
&lt;button type="button" class="btn btn-info"&gt;Info button&lt;/button&gt;
&lt;button type="button" class="btn btn-warning"&gt;warning button&lt;/button&gt;
&lt;button type="button" class="btn btn-danger"&gt;danger button&lt;/button&gt;
&lt;button type="button" class="btn btn-light"&gt;light button&lt;/button&gt; 
&lt;!-- Cod Box Copy end --&gt;</code></pre>
    </div>
  </div>
</div>
<div class="card" id="large-btn">
  <div class="card-header pb-0">
    <h5>Large buttons</h5>
    <div class="card-header-right">
      <ul class="setting-option">
        <li>
          <div class="setting-badge"><i class="fa fa-spin fa-cog font-primary"></i></div>
        </li>
        <li><i class="view-html fa fa-code font-primary"></i></li>
        <li><i class="icofont icofont-maximize full-card font-primary"></i></li>
        <li><i class="icofont icofont-minus minimize-card font-primary"></i></li>
        <li><i class="icofont icofont-refresh reload-card font-primary"></i></li>
        <li><i class="icofont icofont-error close-card font-primary"></i></li>
      </ul>
    </div><span>Add <code>.btn-lg</code> class for large size buttons</span>
  </div>
  <div class="card-body btn-showcase">
    <button class="btn btn-primary btn-lg" type="button">Primary Button</button>
    <button class="btn btn-secondary btn-lg" type="button">Secondary Button</button>
    <button class="btn btn-success btn-lg" type="button">Success Button</button>
    <button class="btn btn-info btn-lg" type="button">Info Button</button>
    <button class="btn btn-warning btn-lg" type="button">Warning Button</button>
    <button class="btn btn-danger btn-lg" type="button">Danger Button</button>
    <button class="btn btn-light btn-lg" type="button">Light Button</button>
    <div class="code-box-copy">
      <button class="code-box-copy__btn btn-clipboard" data-clipboard-target="#example-head1" title="Copy"><i
          class="icofont icofont-copy-alt"></i></button>
      <pre><code class="language-html" id="example-head1">&lt;!-- Cod Box Copy begin --&gt;
&lt;button type="button" class="btn btn-primary btn-lg"&gt;primary button&lt;/button&gt;
&lt;button type="button" class="btn btn-secondary btn-lg"&gt;secondary button&lt;/button&gt;
&lt;button type="button" class="btn btn-success btn-lg"&gt;Success button&lt;/button&gt;
&lt;button type="button" class="btn btn-info btn-lg"&gt;Info button&lt;/button&gt;
&lt;button type="button" class="btn btn-warning btn-lg"&gt;warning button&lt;/button&gt;
&lt;button type="button" class="btn btn-danger btn-lg"&gt;danger button&lt;/button&gt;
&lt;button type="button" class="btn btn-light btn-lg"&gt;light button&lt;/button&gt; 
&lt;!-- Cod Box Copy end --&gt;</code></pre>
    </div>
  </div>
</div>
<div class="card" id="small-btn">
  <div class="card-header pb-0">
    <h5>Small buttons</h5>
    <div class="card-header-right">
      <ul class="setting-option">
        <li>
          <div class="setting-badge"><i class="fa fa-spin fa-cog font-primary"></i></div>
        </li>
        <li><i class="view-html fa fa-code font-primary"></i></li>
        <li><i class="icofont icofont-maximize full-card font-primary"></i></li>
        <li><i class="icofont icofont-minus minimize-card font-primary"></i></li>
        <li><i class="icofont icofont-refresh reload-card font-primary"></i></li>
        <li><i class="icofont icofont-error close-card font-primary"></i></li>
      </ul>
    </div><span>Add <code>.btn-sm</code> class for small size buttons</span>
  </div>
  <div class="card-body btn-showcase">
    <button class="btn btn-primary btn-sm" type="button">Primary Button</button>
    <button class="btn btn-secondary btn-sm" type="button">Secondary Button</button>
    <button class="btn btn-success btn-sm" type="button">Success Button</button>
    <button class="btn btn-info btn-sm" type="button">Info Button</button>
    <button class="btn btn-warning btn-sm" type="button">Warning Button</button>
    <button class="btn btn-danger btn-sm" type="button">Danger Button</button>
    <button class="btn btn-light btn-sm" type="button">Light Button</button>
    <div class="code-box-copy">
      <button class="code-box-copy__btn btn-clipboard" data-clipboard-target="#example-head2" title="Copy"><i
          class="icofont icofont-copy-alt"></i></button>
      <pre><code class="language-html" id="example-head2">&lt;!-- Cod Box Copy begin --&gt;
&lt;button type="button" class="btn btn-primary btn-sm"&gt;primary button&lt;/button&gt;
&lt;button type="button" class="btn btn-secondary btn-sm"&gt;secondary button&lt;/button&gt;
&lt;button type="button" class="btn btn-success btn-sm"&gt;Success button&lt;/button&gt;
&lt;button type="button" class="btn btn-info btn-sm"&gt;Info button&lt;/button&gt;
&lt;button type="button" class="btn btn-warning btn-sm"&gt;warning button&lt;/button&gt;
&lt;button type="button" class="btn btn-danger btn-sm"&gt;danger button&lt;/button&gt;
&lt;button type="button" class="btn btn-light btn-sm"&gt;light button&lt;/button&gt; 
&lt;!-- Cod Box Copy end --&gt;</code></pre>
    </div>
  </div>
</div>
<div class="card" id="ex-small-btn">
  <div class="card-header pb-0">
    <h5>Extra Small buttons</h5>
    <div class="card-header-right">
      <ul class="setting-option">
        <li>
          <div class="setting-badge"><i class="fa fa-spin fa-cog font-primary"></i></div>
        </li>
        <li><i class="view-html fa fa-code font-primary"></i></li>
        <li><i class="icofont icofont-maximize full-card font-primary"></i></li>
        <li><i class="icofont icofont-minus minimize-card font-primary"></i></li>
        <li><i class="icofont icofont-refresh reload-card font-primary"></i></li>
        <li><i class="icofont icofont-error close-card font-primary"></i></li>
      </ul>
    </div><span>Add <code>.btn-xs</code> class for extra small size buttons</span>
  </div>
  <div class="card-body btn-showcase">
    <button class="btn btn-primary btn-xs" type="button">Primary Button</button>
    <button class="btn btn-secondary btn-xs" type="button">Secondary Button</button>
    <button class="btn btn-success btn-xs" type="button">Success Button</button>
    <button class="btn btn-info btn-xs" type="button">Info Button</button>
    <button class="btn btn-warning btn-xs" type="button">Warning Button</button>
    <button class="btn btn-danger btn-xs" type="button">Danger Button</button>
    <button class="btn btn-light btn-xs" type="button">Light Button</button>
    <div class="code-box-copy">
      <button class="code-box-copy__btn btn-clipboard" data-clipboard-target="#example-head3" title="Copy"><i
          class="icofont icofont-copy-alt"></i></button>
      <pre><code class="language-html" id="example-head3">&lt;!-- Cod Box Copy begin --&gt;
&lt;button type="button" class="btn btn-primary btn-xs"&gt;primary button&lt;/button&gt;
&lt;button type="button" class="btn btn-secondary btn-xs"&gt;secondary button&lt;/button&gt;
&lt;button type="button" class="btn btn-success btn-xs"&gt;Success button&lt;/button&gt;
&lt;button type="button" class="btn btn-info btn-xs"&gt;Info button&lt;/button&gt;
&lt;button type="button" class="btn btn-warning btn-xs"&gt;warning button&lt;/button&gt;
&lt;button type="button" class="btn btn-danger btn-xs"&gt;danger button&lt;/button&gt;
&lt;button type="button" class="btn btn-light btn-xs"&gt;light button&lt;/button&gt; 
&lt;!-- Cod Box Copy end --&gt;</code></pre>
    </div>
  </div>
</div>