{% extends 'base.html' %}{% load static %}
{% load sass_tags %}
{% block css %}
<!-- Plugins css start-->
<link rel="stylesheet" type="text/css" href="{% sass_src 'assets/scss/vendors/daterange-picker.scss' %}">
<!-- Plugins css Ends-->
{% endblock css %}
{% block content %}
<div class="page-body">
  {% include 'layout/breadcrumb.html' %}
  <!-- Container-fluid starts-->
  <div class="container-fluid">
    {% include 'forms/form_widgets/dateRangePicker/components/daterangepicker.html' %}
  </div>
  <!-- Container-fluid Ends-->
</div>
{% endblock content %}
{% block scriptcontent %}
<!-- Plugins JS start-->
<script src="{% static 'assets/js/datepicker/daterange-picker/moment.min.js' %}"></script>
<script src="{% static 'assets/js/datepicker/daterange-picker/daterangepicker.js' %}"></script>
<script src="{% static 'assets/js/datepicker/daterange-picker/daterange-picker.custom.js' %}"></script>
<!-- Plugins JS Ends-->
{% endblock scriptcontent %}