{% load static %}
{% load sass_tags %}
<div class="col-sm-12 col-xl-6 box-col-6">
  <div class="card">
    <div class="card-header pb-0">
      <h5>Default pie chart</h5>
    </div>
    <div class="card-body chart-block">
      <div class="flot-chart-container">
        <div class="flot-chart-placeholder" id="default-pie-flot-chart"></div>
      </div>
    </div>
  </div>
</div>
<div class="col-sm-12 col-xl-6 box-col-6">
  <div class="card">
    <div class="card-header pb-0">
      <h5>Default pie chart (Interactive)</h5>
    </div>
    <div class="card-body chart-block">
      <div class="flot-chart-container">
        <div class="flot-chart-placeholder" id="default-pie-flot-chart-hover"></div>
      </div>
    </div>
  </div>
</div>
<div class="col-sm-12 col-xl-6 box-col-6">
  <div class="card">
    <div class="card-header pb-0">
      <h5>Default pie chart without legend</h5>
    </div>
    <div class="card-body chart-block">
      <div class="flot-chart-container">
        <div class="flot-chart-placeholder" id="default-pie-legend-flot-chart"></div>
      </div>
    </div>
  </div>
</div>
<div class="col-sm-12 col-xl-6 box-col-6">
  <div class="card">
    <div class="card-header pb-0">
      <h5>Custom Label Formatter</h5>
    </div>
    <div class="card-body chart-block">
      <div class="flot-chart-container">
        <div class="flot-chart-placeholder" id="custom-label1pie"></div>
      </div>
    </div>
  </div>
</div>
<div class="col-sm-12 col-xl-6 box-col-6">
  <div class="card">
    <div class="card-header pb-0">
      <h5>Label Radius chart</h5>
    </div>
    <div class="card-body chart-block">
      <div class="flot-chart-container">
        <div class="flot-chart-placeholder" id="label-radius-flot-chart"></div>
      </div>
    </div>
  </div>
</div>
<div class="col-sm-12 col-xl-6 box-col-6">
  <div class="card">
    <div class="card-header pb-0">
      <h5>Hidden Labels chart</h5>
    </div>
    <div class="card-body chart-block">
      <div class="flot-chart-container">
        <div class="flot-chart-placeholder" id="hidden-label-radius-flot-chart"></div>
      </div>
    </div>
  </div>
</div>
<div class="col-sm-12 col-xl-6 box-col-6">
  <div class="card">
    <div class="card-header pb-0">
      <h5>Tilted Pie chart</h5>
    </div>
    <div class="card-body chart-block">
      <div class="flot-chart-container">
        <div class="flot-chart-placeholder" id="title-pie-flot-chart"></div>
      </div>
    </div>
  </div>
</div>
<div class="col-sm-12 col-xl-6 box-col-6">
  <div class="card">
    <div class="card-header pb-0">
      <h5>Donut Hole chart</h5>
    </div>
    <div class="card-body chart-block">
      <div class="flot-chart-container">
        <div class="flot-chart-placeholder" id="dount-hole-flot-chart"></div>
      </div>
    </div>
  </div>
</div>