{% load static %}
{% load sass_tags %}
<div class="col-sm-12 col-xl-6 box-col-12">
  <div class="card">
    <div class="card-header pb-0">
      <h5>Real-Time Updates</h5>
    </div>
    <div class="card-body chart-block">
      <div class="flot-chart-container">
        <div class="flot-chart-placeholder" id="real-time-update"></div>
      </div>
    </div>
  </div>
</div>
<div class="col-sm-12 col-xl-6 box-col-12">
  <div class="card">
    <div class="card-header pb-0">
      <h5>Multiple Real-Time Updates</h5>
    </div>
    <div class="card-body chart-block">
      <div class="flot-chart-container">
        <div class="flot-chart-placeholder" id="multiple-real-timeupdate"></div>
      </div>
    </div>
  </div>
</div>
<div class="col-sm-12 col-xl-6 box-col-12">
  <div class="card">
    <div class="card-header pb-0">
      <h5>Error chart</h5>
    </div>
    <div class="card-body chart-block">
      <div class="flot-chart-container">
        <div class="flot-chart-placeholder" id="error-flot-chart"></div>
      </div>
    </div>
  </div>
</div>
<div class="col-sm-12 col-xl-6 box-col-12">
  <div class="card">
    <div class="card-header pb-0">
      <h5>Adding Annotations chart</h5>
    </div>
    <div class="card-body chart-block">
      <div class="flot-chart-container">
        <div class="flot-chart-placeholder" id="annotations-chart"></div>
      </div>
    </div>
  </div>
</div>
<div class="col-sm-12 col-xl-6 box-col-12">
  <div class="card">
    <div class="card-header pb-0">
      <h5>Basic chart</h5>
    </div>
    <div class="card-body chart-block">
      <div class="flot-chart-container">
        <div class="flot-chart-placeholder" id="flot-basic-chart"></div>
      </div>
    </div>
  </div>
</div>
<div class="col-sm-12 col-xl-6 box-col-12">
  <div class="card">
    <div class="card-header pb-0">
      <h5>Categories Chart</h5>
    </div>
    <div class="card-body chart-block">
      <div class="flot-chart-container">
        <div class="flot-chart-placeholder" id="flot-categories"></div>
      </div>
    </div>
  </div>
</div>
<div class="col-sm-12 col-xl-6 box-col-12">
  <div class="card">
    <div class="card-header pb-0">
      <h5>Toggling Series Chart</h5>
    </div>
    <div class="card-body chart-block">
      <div class="flot-chart-container">
        <div class="flot-chart-placeholder float-start" id="toggling-series-flot"></div>
        <p class="float-end" id="choices"></p>
      </div>
    </div>
  </div>
</div>
<div class="col-sm-12 col-xl-6 box-col-12">
  <div class="card">
    <div class="card-header pb-0">
      <h5>Stacking chart</h5>
    </div>
    <div class="card-body chart-block">
      <div class="flot-chart-container">
        <div class="flot-chart-placeholder" id="stacking-flot-chart"> </div>
      </div>
    </div>
  </div>
</div>