{% load static %}
{% load sass_tags %}
<div class="container-fluid">
  <div class="user-profile social-app-profile">
    <div class="row">
      <div class="col-sm-12">
        <div class="card profile-header"><img class="img-fluid bg-img-cover"
            src="{% static 'assets/images/user-profile/bg-profile.jpg' %}" alt="">
          <div class="profile-img-wrrap"><img class="img-fluid bg-img-cover"
              src="{% static 'assets/images/user-profile/bg-profile.jpg' %}" alt=""></div>
          <div class="userpro-box">
            <div class="img-wrraper">
              <div class="avatar"><img class="img-fluid" alt="" src="{% static 'assets/images/user/7.jpg' %}"></div><a
                class="icon-wrapper" href="/users_users_edit"><i class="icofont icofont-pencil-alt-5"> </i></a>
            </div>
            <div class="user-designation">
              <div class="title"><a target="_blank" href="">
                  <h4>Emay Walter</h4>
                  <h6>designer</h6>
                </a></div>
              <div class="social-media">
                <ul class="user-list-social">
                  <li><a href="https://www.facebook.com"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="https://accounts.google.com"><i class="fa fa-google-plus"></i></a></li>
                  <li><a href="https://twitter.com"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="https://www.instagram.com"><i class="fa fa-instagram"></i></a></li>
                  <li><a href="#"><i class="fa fa-rss"></i></a></li>
                </ul>
              </div>
              <div class="follow">
                <ul class="follow-list">
                  <li>
                    <div class="follow-num counter">325</div><span>Follower</span>
                  </li>
                  <li>
                    <div class="follow-num counter">450</div><span>Following</span>
                  </li>
                  <li>
                    <div class="follow-num counter">500</div><span>Likes </span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--  user profile first-style start-->
      <div class="col-sm-12 box-col-12">
        <div class="card">
          <div class="social-tab">
            <ul class="nav nav-tabs" id="top-tab" role="tablist">
              <li class="nav-item"><a class="nav-link active" id="top-timeline" data-bs-toggle="tab" href="#timeline"
                  role="tab" aria-controls="timeline" aria-selected="true"><i data-feather="clock"></i>Timline</a></li>
              <li class="nav-item"><a class="nav-link" id="top-about" data-bs-toggle="tab" href="#about" role="tab"
                  aria-controls="about" aria-selected="false"><i data-feather="alert-circle"></i>About </a></li>
              <li class="nav-item"><a class="nav-link" id="top-friends" data-bs-toggle="tab" href="#friends" role="tab"
                  aria-controls="friends" aria-selected="false"><i data-feather="users"></i>Friends</a></li>
              <li class="nav-item"><a class="nav-link" id="top-photos" data-bs-toggle="tab" href="#photos" role="tab"
                  aria-controls="photos" aria-selected="false"><i data-feather="image"></i>Photos</a></li>
            </ul>
            <div class="input-group">
              <input class="form-control" type="text" placeholder="Search......."><span class="input-group-text"> <i
                  class="fa fa-search"></i></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-content" id="top-tabContent">
      {% include 'social_app/components/timeline/timeline.html' %}
      {% include 'social_app/components/about/about.html' %}
      {% include 'social_app/components/friends/friends.html' %}
      {% include 'social_app/components/photos/photos.html' %}



    </div>
  </div>
  <!-- Container-fluid Ends-->
</div>