{% load static %}
{% load sass_tags %}
<div class="col-sm-12 col-md-12">
  <div class="card b-r-0">
    <div class="card-header pb-0">
      <h5>Document Extraction</h5>
      <div class="card-header-right">
        <ul class="setting-option">
          <li>
            <div class="setting-badge"><i class="fa fa-spin fa-cog font-primary"></i></div>
          </li>
          <!-- <li><i class="view-html fa fa-code font-primary"></i></li> -->
          <li><i class="icofont icofont-maximize full-card font-primary"></i></li>
          <li><i class="icofont icofont-minus minimize-card font-primary"></i></li>
          <!-- <li><i class="icofont icofont-refresh reload-card font-primary"></i></li> -->
          <!-- <li><i class="icofont icofont-error close-card font-primary"></i></li> -->
        </ul>
      </div>
    </div>
    <div class="card-body">
      <div class="btn-group col-md-12" role="group" aria-label="Basic example">
        <a class="btn btn-light btn-lg">Extract All Document &nbsp;<i class="fa fa-files-o"></i></a>
        <a class="btn btn-light btn-lg">Download JSON &nbsp;<i class="fa fa-file-code-o"></i></a>
        <a class="btn btn-light btn-lg">Download CSV &nbsp;<i class="fa fa-file-excel-o"></i></a>
      </div>
      <div class="table-responsive mt-3">
        <table class="table table-bordered table-sm">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">document</th>
              <th scope="col">Bank_Name</th>
              <th scope="col">Rekening_Number</th>
              <th scope="col">Luas_Lahan</th>
              <th scope="col">Telp</th>
              <th scope="col">Waktu_Sewa</th>
              <th scope="col">Rekening Number</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
              <td>Mark</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
              <td>Mark</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Larry</td>
              <td>the Bird</td>
              <td>@twitter</td>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
              <td>Mark</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>