{% extends 'base.html' %}{% load static %}
{% load sass_tags %}
{% block css %}
<!-- Plugins css start-->
<link rel="stylesheet" type="text/css" href="{% sass_src 'assets/scss/vendors/chartist.scss' %}">
<!-- Plugins css Ends-->
{% endblock css %}
{% block content %}
<div class="page-body">
  {% include 'layout/breadcrumb.html' %}
  <!-- Container-fluid starts-->
  <div class="container-fluid">
    <div class="row">
      {% include 'charts/chartist/components/charts-1.html' %}
      {% include 'charts/chartist/components/charts-2.html' %}
    </div>
  </div>
  <!-- Container-fluid Ends-->
</div>
{% endblock content %}
{% block scriptcontent %}
<!-- Plugins JS start-->
<script src="{% static 'assets/js/chart/chartist/chartist.js' %}"></script>
<script src="{% static 'assets/js/chart/chartist/chartist-plugin-tooltip.js' %}"></script>
<script src="{% static 'assets/js/chart/chartist/chartist-custom.js' %}"></script>
<!-- Plugins JS Ends-->
{% endblock scriptcontent %}