{% load static %}
{% load sass_tags %}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header pb-0">
          <h5>Become member</h5>
        </div>
        <div class="card-body row pricing-block">
          <div class="col-lg-3 col-md-6 box-col-6">
            <div class="pricingtable">
              <div class="pricing-header">
                <h3>Standard</h3>
              </div>
              <div class="pricing-content">
                <div class="price-value">
                  <div>
                    <h4>$10<span>/month </span></h4>
                  </div>
                </div>
                <ul class="pricing-list">
                  <li> <span>50GB</span>Disk Space</li>
                  <li> <span>50</span>Email Accounts</li>
                  <li> <span>50GB</span>Bandwidth</li>
                  <li> <span>10</span>Subdomains</li>
                  <li> <span>15</span>Domains</li>
                </ul>
                <div class="pricingtable-signup"><a class="btn btn-primary btn-lg" href="javascript:void(0)">Sign Up</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 box-col-6">
            <div class="pricingtable">
              <div class="pricing-header">
                <h3 class="title">Premium</h3>
              </div>
              <div class="pricing-content">
                <div class="price-value">
                  <div>
                    <h4>$20<span>/month</span></h4>
                  </div>
                </div>
                <ul class="pricing-list">
                  <li> <span>60GB</span>Disk Space</li>
                  <li> <span>60</span>Email Accounts</li>
                  <li> <span>60GB</span>Bandwidth</li>
                  <li> <span>20</span>Subdomains</li>
                  <li> <span>20</span>Domains</li>
                </ul>
                <div class="pricingtable-signup"><a class="btn btn-primary btn-lg" href="javascript:void(0)">Sign Up</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 box-col-6">
            <div class="pricingtable">
              <div class="pricing-header">
                <h3 class="title">Auther pack</h3>
              </div>
              <div class="pricing-content">
                <div class="price-value">
                  <div>
                    <h4>$30<span>/month</span></h4>
                  </div>
                </div>
                <ul class="pricing-list">
                  <li> <span>70GB</span>Disk Space</li>
                  <li> <span>70</span>Email Accounts</li>
                  <li> <span>70GB</span>Bandwidth</li>
                  <li> <span>25</span>Subdomains</li>
                  <li> <span>25</span>Domains</li>
                </ul>
                <div class="pricingtable-signup"><a class="btn btn-primary btn-lg" href="javascript:void(0)">Sign Up</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 box-col-6">
            <div class="pricingtable">
              <div class="pricing-header">
                <h3 class="title">business</h3>
              </div>
              <div class="pricing-content">
                <div class="price-value">
                  <div>
                    <h4>$40<span>/month</span></h4>
                  </div>
                </div>
                <ul class="pricing-list">
                  <li> <span>55GB</span>Disk Space</li>
                  <li> <span>102</span>Email Accounts</li>
                  <li> <span>65GB</span>Bandwidth</li>
                  <li> <span>30</span>Subdomains</li>
                  <li> <span>25</span>Domains</li>
                </ul>
                <div class="pricingtable-signup"><a class="btn btn-primary btn-lg" href="javascript:void(0)">Sign Up</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header pb-0">
          <h5>Simple Pricing Card</h5>
        </div>
        <div class="card-body row pricing-block">
          <div class="col-xl-3 col-sm-6 xl-50 box-col-6">
            <div class="pricing-simple">
              <div class="pricing-content">
                <h3>Standard</h3>
                <h1>$15</h1>
                <h6 class="mb-0">Lorum Ipsum</h6>
              </div><a class="btn btn-primary" href="javascript:void(0)">Purchase</a>
            </div>
          </div>
          <div class="col-xl-3 col-sm-6 xl-50 box-col-6">
            <div class="pricing-simple">
              <div class="pricing-content">
                <h3>Business</h3>
                <h1>$25</h1>
                <h6 class="mb-0">Lorum Ipsum</h6>
              </div><a class="btn btn-primary" href="javascript:void(0)"> Purchase</a>
            </div>
          </div>
          <div class="col-xl-3 col-sm-6 xl-50 box-col-6">
            <div class="pricing-simple">
              <div class="pricing-content">
                <h3>Premium</h3>
                <h1>$35</h1>
                <h6 class="mb-0">Lorum Ipsum</h6>
              </div><a class="btn btn-primary" href="javascript:void(0)"> Purchase</a>
            </div>
          </div>
          <div class="col-xl-3 col-sm-6 xl-50 box-col-6">
            <div class="pricing-simple">
              <div class="pricing-content">
                <h3>Extra</h3>
                <h1>$45</h1>
                <h6 class="mb-0">Lorum Ipsum</h6>
              </div><a class="btn btn-primary" href="javascript:void(0)"> Purchase</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>