{% extends 'base.html' %}{% load static %}
{% load sass_tags %}
{% block css %}
<!-- Plugins css start-->

<!-- Plugins css Ends-->
{% endblock css %}
{% block content %}
<div class="page-body">
  {% include 'layout/breadcrumb.html' %}
  <!-- Container-fluid starts-->
  {% include 'charts/chartjs/components/chartjs.html' %}
  <!-- Container-fluid Ends-->
</div>
{% endblock content %}
{% block scriptcontent %}
<!-- Plugins JS start-->
<script src="{% static 'assets/js/chart/chartjs/chart.min.js' %}"></script>
<script src="{% static 'assets/js/chart/chartjs/chart.custom.js' %}"></script>
<!-- Plugins JS Ends-->
{% endblock scriptcontent %}