{% extends 'base.html' %}{% load static %}
{% load sass_tags %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% sass_src 'assets/scss/vendors/todo.scss' %}">
{% endblock css %}
{% block content %}
<div class="page-body">
  {% include 'layout/breadcrumb.html' %}

  <!-- Container-fluid starts-->
  {% include 'to_do/components/to-do.html' %}
  <!-- Container-fluid ends                    -->
</div>
{% endblock content %}
{% block scriptcontent %}
<script src="{% static 'assets/js/todo/todo.js' %}"></script>

{% endblock scriptcontent %}