{% load static %}
{% load sass_tags %}
<div class="col-sm-12 col-md-6">
  <div class="card">
    <div class="card-header pb-0">
      <h5>Basic Card</h5>
      <div class="card-header-right">
        <ul class="setting-option">
          <li>
            <div class="setting-badge"><i class="fa fa-spin fa-cog font-primary"></i></div>
          </li>
          <li><i class="view-html fa fa-code font-primary"></i></li>
          <li><i class="icofont icofont-maximize full-card font-primary"></i></li>
          <li><i class="icofont icofont-minus minimize-card font-primary"></i></li>
          <li><i class="icofont icofont-refresh reload-card font-primary"></i></li>
          <li><i class="icofont icofont-error close-card font-primary"></i></li>
        </ul>
      </div>
    </div>
    <div class="card-body">
      <p class="mb-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
        scrambled. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
        industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
        scrambled.</p>
      <div class="code-box-copy">
        <button class="code-box-copy__btn btn-clipboard" data-clipboard-target="#example-head" title="Copy"><i
            class="icofont icofont-copy-alt"></i></button>
        <pre><code class="language-html" id="example-head">&lt;!-- Cod Box Copy begin --&gt;
&lt;p class="mb-0"&gt; Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled. &lt;/p&gt;
&lt;!-- Cod Box Copy end --&gt;</code></pre>
      </div>
    </div>
  </div>
</div>
<div class="col-sm-12 col-md-6">
  <div class="card b-r-0">
    <div class="card-header pb-0">
      <h5>Flat Card</h5>
      <div class="card-header-right">
        <ul class="setting-option">
          <li>
            <div class="setting-badge"><i class="fa fa-spin fa-cog font-primary"></i></div>
          </li>
          <li><i class="view-html fa fa-code font-primary"></i></li>
          <li><i class="icofont icofont-maximize full-card font-primary"></i></li>
          <li><i class="icofont icofont-minus minimize-card font-primary"></i></li>
          <li><i class="icofont icofont-refresh reload-card font-primary"></i></li>
          <li><i class="icofont icofont-error close-card font-primary"></i></li>
        </ul>
      </div>
    </div>
    <div class="card-body">
      <p class="mb-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
        scrambled. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
        industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
        scrambled.</p>
      <div class="code-box-copy">
        <button class="code-box-copy__btn btn-clipboard" data-clipboard-target="#example-head1" title="Copy"><i
            class="icofont icofont-copy-alt"></i></button>
        <pre><code class="language-html" id="example-head1">&lt;!-- Cod Box Copy begin --&gt;
&lt;p class="mb-0"&gt; Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled. &lt;/p&gt;
&lt;!-- Cod Box Copy end --&gt;</code></pre>
      </div>
    </div>
  </div>
</div>
<div class="col-sm-12 col-md-6">
  <div class="card shadow-0 border">
    <div class="card-header pb-0">
      <h5>Without shadow Card</h5>
    </div>
    <div class="card-body">
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled. Lorem
        Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.</p>
    </div>
  </div>
</div>
<div class="col-sm-12 col-md-6">
  <div class="card">
    <div class="card-header pb-0">
      <h5><i class="icofont icofont-truck me-2"></i> Icon in Heading</h5>
    </div>
    <div class="card-body">
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled. Lorem
        Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.</p>
    </div>
  </div>
</div>