{% extends 'base.html' %}{% load static %}
{% load sass_tags %}
{% block content %}
<div class="page-body">
  {% include 'layout/breadcrumb.html' %}
  <!-- Container-fluid starts-->
  {% include 'ecommerce/cart/components/cart.html' %}
  <!-- Container-fluid Ends-->
</div>
{% endblock content %}
{% block scriptcontent %}
<!-- Plugins JS start-->
<script src="{% static 'assets/js/touchspin/vendors.min.js' %}"></script>
<script src="{% static 'assets/js/touchspin/touchspin.js' %}"></script>
<script src="{% static 'assets/js/touchspin/input-groups.min.js' %}"></script>
<!-- Plugins JS Ends-->
{% endblock scriptcontent %}