{% extends 'base.html' %}{% load static %}
{% load sass_tags %}
{% block css %}
<!-- Plugins css start-->
<link rel="stylesheet" type="text/css" href="{% sass_src 'assets/scss/vendors/sticky.scss' %}">
<!-- Plugins css Ends-->
{% endblock css %}
{% block content %}
<div class="page-body">
  {% include 'layout/breadcrumb.html' %}
  <!-- Container-fluid starts                    -->
  {% include 'bonus_ui/sticky/components/sticky.html' %}
  <!-- Container-fluid Ends-->
</div>
{% endblock content %}
{% block scriptcontent %}
<!-- Plugins JS start-->
<script src="{% static 'assets/js/jquery.ui.min.js' %}"></script>
<script src="{% static 'assets/js/sticky/sticky.js' %}"></script>
<!-- Plugins JS Ends-->
{% endblock scriptcontent %}