{% load static %}
{% load sass_tags %}
<div class="form-horizontal generator theme-form">
  <div class="form-group row">
    <label class="col col-form-label">Buttons Text</label>
    <div class="col-lg-9">
      <input class="form-control button-text" type="text" value="Button">
    </div>
  </div>
  <div class="form-group row">
    <label class="col col-form-label">Element Type</label>
    <div class="col-lg-9">
      <div class="element-type grp-btns" data-bs-toggle="buttons">
        <label class="btn btn-light active">
          <input type="radio" name="type" value="a"> Anchor
        </label>
        <label class="btn btn-light">
          <input type="radio" name="type" value="button"> Button
        </label>
        <label class="btn btn-light">
          <input type="radio" name="type" value="input"> Input
        </label>
      </div>
    </div>
  </div>
</div>
<div class="form-group row">
  <label class="col col-form-label">Button Size</label>
  <div class="col-lg-9">
    <div class="button-size grp-btns" data-bs-toggle="buttons">
      <label class="btn btn-light active">
        <input type="radio" name="size" value="btn-lg"> Large
      </label>
      <label class="btn btn-light">
        <input type="radio" name="size" value=""> Default
      </label>
      <label class="btn btn-light">
        <input type="radio" name="size" value="btn-sm"> Mini
      </label>
    </div>
  </div>
</div>
<div class="form-group row">
  <label class="col col-form-label button-style">Button Style</label>
  <div class="col-lg-9">
    <div class="button-color-option">
      <label class="me-3">
        <input type="radio" name="color-option" checked="checked" value="bootstrap"> Bootstrap Inbuilt
      </label>
      <label>
        <input type="radio" name="color-option" value="custom"> Custom
      </label>
    </div>
  </div>
</div>
<div class="bootstrap-inbuilt-style">
  <div class="form-group row">
    <label class="col col-form-label">Button Type</label>
    <div class="col-lg-9">
      <div class="button-color grp-btns" data-bs-toggle="buttons">
        <label class="btn btn-primary">
          <input type="radio" name="color" value="btn btn-primary"> Primary
        </label>
        <label class="btn btn-secondary">
          <input type="radio" name="color" value="btn btn-secondary"> Seconadary
        </label>
        <label class="btn btn-success active">
          <input type="radio" name="color" value="btn btn-success"> Success
        </label>
        <label class="btn btn-info">
          <input type="radio" name="color" value="btn btn-info"> Info
        </label>
        <label class="btn btn-warning">
          <input type="radio" name="color" value="btn btn-warning"> Warning
        </label>
        <label class="btn btn-danger">
          <input type="radio" name="color" value="btn btn-danger"> Danger
        </label>
        <label class="btn btn-light">
          <input type="radio" name="color" value="btn btn-light"> Light
        </label>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col col-form-label">Button State</label>
    <div class="col-lg-9">
      <div class="button-state grp-btns" data-bs-toggle="buttons">
        <label class="btn btn-light active">
          <input type="radio" name="state" value="normal"> Normal
        </label>
        <label class="btn btn-light">
          <input type="radio" name="state" value="active"> Active
        </label>
        <label class="btn btn-light">
          <input type="radio" name="state" value="disabled"> Disabled
        </label>
      </div>
    </div>
  </div>
</div>
<div class="form-group row">
  <label class="col col-form-label">Button Width</label>
  <div class="col-lg-9">
    <div class="button-width grp-btns" data-bs-toggle="buttons">
      <label class="btn btn-light active">
        <input type="radio" name="width" value=""> Auto
      </label>
      <label class="btn btn-light">
        <input type="radio" name="width" value="btn-block"> Full Width
      </label>
    </div>
  </div>
</div>
<div class="custom-button-color">
  <div class="form-group row">
    <label class="col col-form-label" for="textColor">Text & Icon Color</label>
    <div class="col-lg-9">
      <input class="form-control input-sm pull-left" id="textColor" type="text" maxlength="6" size="6">
      <div class="color-slelector" id="colorSelector1">
        <div></div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col col-form-label" for="topColor">Gradient Top Color</label>
    <div class="col-lg-9">
      <input class="form-control input-sm pull-left" id="topColor" type="text" maxlength="6" size="6">
      <div class="color-slelector" id="colorSelector2">
        <div></div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col col-form-label" for="bottomColor">Gradient Bottom Color</label>
    <div class="col-lg-9">
      <input class="form-control input-sm pull-left" id="bottomColor" type="text" maxlength="6" size="6">
      <div class="color-slelector" id="colorSelector3">
        <div></div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col col-form-label" for="bgColor">Background Color</label>
    <div class="col-lg-9">
      <input class="form-control input-sm pull-left" id="bgColor" type="text" maxlength="6" size="6">
      <div class="color-slelector" id="colorSelector4">
        <div></div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col col-form-label" for="borderTopColor">Border Top Color</label>
    <div class="col-lg-9">
      <input class="form-control input-sm pull-left" id="borderTopColor" type="text" maxlength="6" size="6">
      <div class="color-slelector" id="colorSelector5">
        <div></div>
      </div>
      <label class="hint-label border-all">
        <input type="checkbox" name="border-all"> Use same color for all sides
      </label>
    </div>
  </div>
  <div class="border-color-separate">
    <div class="form-group row">
      <label class="col col-form-label" for="borderHrColor">Border Left & Right Color</label>
      <div class="col-lg-9">
        <input class="form-control input-sm pull-left" id="borderHrColor" type="text" maxlength="6" size="6">
        <div class="color-slelector" id="colorSelector6">
          <div></div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label class="col col-form-label" for="borderBottomColor">Border Bottom Color</label>
      <div class="col-lg-9">
        <input class="form-control input-sm pull-left" id="borderBottomColor" type="text" maxlength="6" size="6">
        <div class="color-slelector" id="colorSelector7">
          <div></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="form-group row" id="iconOption">
  <label class="col col-form-label">Icon</label>
  <div class="col-lg-9">
    <div class="include-icon grp-btns" data-bs-toggle="buttons">
      <label class="btn btn-light active">
        <input type="radio" name="includeicon" value="1"><span class="fa fa-check"></span>
      </label>
      <label class="btn btn-light">
        <input type="radio" name="includeicon" value="0"><span class="fa fa-times"></span>
      </label>
    </div>
  </div>
</div>
<div class="form-group row toggle">
  <label class="col col-form-label">Icon Position</label>
  <div class="col-lg-9">
    <div class="fa-position grp-btns" data-bs-toggle="buttons">
      <label class="btn btn-light active">
        <input type="radio" name="iconposition" value="left"><span class="fa fa-arrow-left"></span> Left
      </label>
      <label class="btn btn-light">
        <input type="radio" name="iconposition" value="right"> Right <span class="fa fa-arrow-right"></span>
      </label>
    </div>
  </div>
</div>