{% load static %}
{% load sass_tags %}
<div class="col-xl-12 box-col-12">
  <div class="card manage-invoice-sec">
    <div class="card-header pb-0">
      <h5>Manage Invoice</h5>
      <div class="card-header-right">
        <ul class="setting-option">
          <li>
            <div class="setting-badge"><i class="fa fa-spin fa-cog font-primary"></i></div>
          </li>
          <li><i class="view-html fa fa-code font-primary"></i></li>
          <li><i class="icofont icofont-maximize full-card font-primary"></i></li>
          <li><i class="icofont icofont-minus minimize-card font-primary"></i></li>
          <li><i class="icofont icofont-refresh reload-card font-primary"></i></li>
          <li><i class="icofont icofont-error close-card font-primary"></i></li>
        </ul>
      </div>
    </div>
    <div class="card-body">
      <div class="manage-invoice-table">
        <div class="item">
          <div class="table-responsive manage-invoice">
            <table class="table table-bordernone">
              <thead>
                <tr>
                  <th>Name </th>
                  <th>Date</th>
                  <th>Project</th>
                  <th>Contact Number</th>
                  <th>Country</th>
                  <th>Amount</th>
                  <th>Status</th>
                  <th>
                    <ul class="setting-option">
                      <li>
                        <div class="setting-badge"><i class="fa fa-spin fa-cog font-primary"></i></div>
                      </li>
                      <li><i class="view-html fa fa-code font-primary"></i></li>
                      <li><i class="icofont icofont-maximize full-card font-primary"></i></li>
                      <li><i class="icofont icofont-minus minimize-card font-primary"></i></li>
                      <li><i class="icofont icofont-refresh reload-card font-primary"></i></li>
                      <li><i class="icofont icofont-error close-card font-primary"></i></li>
                    </ul>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td> <span>01</span>
                    <div class="t-title"><img class="img-40 rounded-circle align-top"
                        src="{% static 'assets/images/dashboard-3/1_1.png' %}" alt="" data-original-title="" title="">
                      <div class="d-inline-block align-middle"><a href="/users_users_profile"><span
                            class="f-w-500">Smith johson Lorn</span></a></div>
                    </div>
                  </td>
                  <td>
                    <p>16 August,2019 5:10am</p>
                  </td>
                  <td> <span>Business Logo Create</span></td>
                  <td>
                    <p>+1(555) 4585 6859</p>
                  </td>
                  <td>
                    <p>United Kingdom</p>
                  </td>
                  <td>
                    <p>$8435.00</p>
                  </td>
                  <td>
                    <p>Past Due</p>
                  </td>
                  <td>
                    <div class="progress-showcase">
                      <div class="progress sm-progress-bar">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: 50%" aria-valuenow="25"
                          aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td> <span>02</span>
                    <div class="t-title"><img class="img-40 rounded-circle align-top"
                        src="{% static 'assets/images/dashboard-3/2_2.png' %}" alt="" data-original-title="" title="">
                      <div class="d-inline-block align-middle"><a href="/users_users_profile"><span
                            class="f-w-500">Brown Taylor Jeron</span></a></div>
                    </div>
                  </td>
                  <td>
                    <p>26 Mar,2019 2:10pm</p>
                  </td>
                  <td> <span>Apply Google Review</span></td>
                  <td>
                    <p>+880 8759 0013</p>
                  </td>
                  <td>
                    <p>Bangladesh</p>
                  </td>
                  <td>
                    <p>$4542.00</p>
                  </td>
                  <td>
                    <p>Paid</p>
                  </td>
                  <td>
                    <div class="progress-showcase">
                      <div class="progress sm-progress-bar">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 70%" aria-valuenow="25"
                          aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td> <span>03</span>
                    <div class="t-title"><img class="img-40 rounded-circle align-top"
                        src="{% static 'assets/images/dashboard-3/3_3.png' %}" alt="" data-original-title="" title="">
                      <div class="d-inline-block align-middle"><a href="/users_users_profile"><span
                            class="f-w-500">Admas Lopez Perry</span></a></div>
                    </div>
                  </td>
                  <td>
                    <p>06 Aug,2019 3:10am</p>
                  </td>
                  <td> <span>Recruitment Refrances</span></td>
                  <td>
                    <p>+613201 2546</p>
                  </td>
                  <td>
                    <p>Australia</p>
                  </td>
                  <td>
                    <p>$6140.00</p>
                  </td>
                  <td>
                    <p>Past Due</p>
                  </td>
                  <td>
                    <div class="progress-showcase">
                      <div class="progress sm-progress-bar">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: 90%" aria-valuenow="25"
                          aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td> <span>04</span>
                    <div class="t-title"><img class="img-40 rounded-circle align-top"
                        src="{% static 'assets/images/dashboard-3/4_4.png' %}" alt="" data-original-title="" title="">
                      <div class="d-inline-block align-middle"><a href="/users_users_profile"><span
                            class="f-w-500">Barker Cartor Ward</span></a></div>
                    </div>
                  </td>
                  <td>
                    <p>22 Sept,2019 2:10pm</p>
                  </td>
                  <td> <span>Project Research</span></td>
                  <td>
                    <p>+1-684 8759 0013</p>
                  </td>
                  <td>
                    <p>American Samoa</p>
                  </td>
                  <td>
                    <p>$1526.00</p>
                  </td>
                  <td>
                    <p>Paid</p>
                  </td>
                  <td>
                    <div class="progress-showcase">
                      <div class="progress sm-progress-bar">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 80%" aria-valuenow="25"
                          aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="code-box-copy">
        <button class="code-box-copy__btn btn-clipboard" data-clipboard-target="#manage-invoice" title="Copy"><i
            class="icofont icofont-copy-alt"></i></button>
        <pre><code class="language-html" id="manage-invoice">&lt;div class="card manage-invoice-sec"&gt;
&lt;div class="card-header pb-0"&gt;
&lt;h5&gt;Manage Invoice&lt;/h5&gt;
&lt;div class="card-header-right"&gt;
&lt;ul class="setting-option"&gt;
&lt;li&gt;
&lt;div class="setting-badge"&gt;&lt;i class="fa fa-spin fa-cog font-primary"&gt;&lt;/i&gt;&lt;/div&gt;
&lt;/li&gt;
&lt;li&gt;&lt;i class="view-html fa fa-code font-primary"&gt;&lt;/i&gt;&lt;/li&gt;
&lt;li&gt;&lt;i class="icofont icofont-maximize full-card font-primary"&gt;&lt;/i&gt;&lt;/li&gt;
&lt;li&gt;&lt;i class="icofont icofont-minus minimize-card font-primary"&gt;&lt;/i&gt;&lt;/li&gt;
&lt;li&gt;&lt;i class="icofont icofont-refresh reload-card font-primary"&gt;&lt;/i&gt;&lt;/li&gt;
&lt;li&gt;&lt;i class="icofont icofont-error close-card font-primary"&gt;&lt;/i&gt;&lt;/li&gt;
&lt;/ul&gt;
&lt;/div&gt;
&lt;/div&gt;
&lt;div class="card-body"&gt;
&lt;div class="manage-invoice-table"&gt;
&lt;div class="item"&gt;
&lt;div class="table-responsive manage-invoice"&gt;
&lt;table class="table table-bordernone"&gt;
&lt;thead&gt;
&lt;tr&gt;
&lt;th&gt;Name &lt;/th&gt;
&lt;th&gt;Date&lt;/th&gt;
&lt;th&gt;Project&lt;/th&gt;
&lt;th&gt;Contact Number&lt;/th&gt;
&lt;th&gt;Country&lt;/th&gt;
&lt;th&gt;Amount&lt;/th&gt;
&lt;th&gt;Status&lt;/th&gt;
&lt;th&gt;
 &lt;ul class="setting-option"&gt;
   &lt;li&gt;
     &lt;div class="setting-badge"&gt;&lt;i class="fa fa-spin fa-cog font-primary"&gt;&lt;/i&gt;&lt;/div&gt;
   &lt;/li&gt;
   &lt;li&gt;&lt;i class="view-html fa fa-code font-primary"&gt;&lt;/i&gt;&lt;/li&gt;
   &lt;li&gt;&lt;i class="icofont icofont-maximize full-card font-primary"&gt;&lt;/i&gt;&lt;/li&gt;
   &lt;li&gt;&lt;i class="icofont icofont-minus minimize-card font-primary"&gt;&lt;/i&gt;&lt;/li&gt;
   &lt;li&gt;&lt;i class="icofont icofont-refresh reload-card font-primary"&gt;&lt;/i&gt;&lt;/li&gt;
   &lt;li&gt;&lt;i class="icofont icofont-error close-card font-primary"&gt;&lt;/i&gt;&lt;/li&gt;
 &lt;/ul&gt;
&lt;/th&gt;
&lt;/tr&gt;
&lt;/thead&gt;
 &lt;tbody&gt;
     &lt;tr&gt;
       &lt;td&gt; 
         &lt;span&gt;01&lt;/span&gt;
         &lt;div class="t-title"&gt;&lt;img class="img-40 rounded-circle align-top" src="{% static 'assets/images/dashboard-3/1_1.png' %}" alt="" data-original-title="" title=""/&gt;
           &lt;div class="d-inline-block align-middle"&gt;&lt;a href="/users_users_profile' %}"&gt;&lt;span class="f-w-500"&gt;Smith johson Lorn&lt;/span&gt;&lt;/a&gt;&lt;/div&gt;
         &lt;/div&gt;
       &lt;/td&gt;
       &lt;td&gt;&lt;p&gt;16 August,2019 5:10am&lt;/p&gt;&lt;/td&gt;
       &lt;td&gt; &lt;span&gt;Business Logo Create&lt;/span&gt;&lt;/td&gt;
       &lt;td&gt; &lt;p&gt;+1(555) 4585 6859&lt;/p&gt;&lt;/td&gt;
       &lt;td&gt; &lt;p&gt;United Kingdom&lt;/p&gt;&lt;/td&gt;
       &lt;td&gt;&lt;p&gt;$8435.00&lt;/p&gt;&lt;/td&gt;
       &lt;td&gt;&lt;p&gt;Past Due&lt;/p&gt;&lt;/td&gt;
       &lt;td&gt;&lt;div class="progress-showcase"&gt;
         &lt;div class="progress sm-progress-bar"&gt;
           &lt;div class="progress-bar bg-primary" role="progressbar" style="width: 50%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"&gt;&lt;/div&gt;
           &lt;/div&gt;
         &lt;/div&gt;
       &lt;/td&gt;
     &lt;/tr&gt;
     &lt;tr&gt;
       &lt;td&gt; 
         &lt;span&gt;02&lt;/span&gt;
         &lt;div class="t-title"&gt;
           &lt;img class="img-40 rounded-circle align-top" src="{% static 'assets/images/dashboard-3/2_2.png' %}" alt="" data-original-title="" title=""/&gt;
           &lt;div class="d-inline-block align-middle"&gt;
             &lt;a href="/users_users_profile' %}"&gt;&lt;span class="f-w-500"&gt;Brown Taylor Jeron&lt;/span&gt;&lt;/a&gt;&lt;/div&gt;
         &lt;/div&gt;
       &lt;/td&gt;
       &lt;td&gt; 
         &lt;p&gt;26 Mar,2019 2:10pm&lt;/p&gt;
       &lt;/td&gt;
       &lt;td&gt; &lt;span&gt;Apply Google Review&lt;/span&gt;&lt;/td&gt;
       &lt;td&gt; &lt;p&gt;+880 8759 0013&lt;/p&gt;&lt;/td&gt;
       &lt;td&gt; &lt;p&gt;Bangladesh&lt;/p&gt;&lt;/td&gt;
       &lt;td&gt; &lt;p&gt;$4542.00&lt;/p&gt;&lt;/td&gt;
       &lt;td&gt; &lt;p&gt;Paid&lt;/p&gt;&lt;/td&gt;
       &lt;td&gt; &lt;div class="progress-showcase"&gt;
         &lt;div class="progress sm-progress-bar"&gt;
           &lt;div class="progress-bar bg-success" role="progressbar" style="width: 70%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"&gt;&lt;/div&gt;
         &lt;/div&gt;
         &lt;/div&gt;
       &lt;/td&gt;
     &lt;/tr&gt;
     &lt;tr&gt;
       &lt;td&gt; 
           &lt;span&gt;03&lt;/span&gt;
           &lt;div class="t-title"&gt;
             &lt;img class="img-40 rounded-circle align-top" src="{% static 'assets/images/dashboard-3/3_3.png' %}" alt="" data-original-title="" title=""/&gt;
           &lt;div class="d-inline-block align-middle"&gt;
             &lt;a href="/users_users_profile' %}"&gt;&lt;span class="f-w-500"&gt;Admas Lopez Perry&lt;/span&gt;&lt;/a&gt;&lt;/div&gt;
           &lt;/div&gt;
       &lt;/td&gt;
       &lt;td&gt; 
         &lt;p&gt;06 Aug,2019 3:10am&lt;/p&gt;
       &lt;/td&gt;
       &lt;td&gt; &lt;span&gt;Recruitment Refrances&lt;/span&gt;&lt;/td&gt;
       &lt;td&gt; &lt;p&gt;+613201 2546&lt;/p&gt;&lt;/td&gt;
       &lt;td&gt; &lt;p&gt;Australia&lt;/p&gt;&lt;/td&gt;
       &lt;td&gt; &lt;p&gt;$6140.00&lt;/p&gt;&lt;/td&gt;
       &lt;td&gt; &lt;p&gt;Past Due&lt;/p&gt;&lt;/td&gt;
       &lt;td&gt;
         &lt;div class="progress-showcase"&gt;
           &lt;div class="progress sm-progress-bar"&gt;
             &lt;div class="progress-bar bg-primary" role="progressbar" style="width: 90%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"&gt;&lt;/div&gt;
           &lt;/div&gt;
         &lt;/div&gt;
       &lt;/td&gt;
     &lt;/tr&gt;
     &lt;tr&gt;
       &lt;td&gt; &lt;span&gt;04&lt;/span&gt;
         &lt;div class="t-title"&gt;&lt;img class="img-40 rounded-circle align-top" src="{% static 'assets/images/dashboard-3/4_4.png' %}" alt="" data-original-title="" title=""/&gt;
           &lt;div class="d-inline-block align-middle"&gt;&lt;a href="/users_users_profile' %}"&gt;&lt;span class="f-w-500"&gt;Barker Cartor Ward&lt;/span&gt;&lt;/a&gt;&lt;/div&gt;
         &lt;/div&gt;
       &lt;/td&gt;
       &lt;td&gt; &lt;p&gt;22 Sept,2019 2:10pm&lt;/p&gt;&lt;/td&gt;
       &lt;td&gt; &lt;span&gt;Project Research&lt;/span&gt;&lt;/td&gt;
       &lt;td&gt; &lt;p&gt;+1-684 8759 0013&lt;/p&gt;&lt;/td&gt;
       &lt;td&gt; &lt;p&gt;American Samoa&lt;/p&gt;&lt;/td&gt;
       &lt;td&gt; &lt;p&gt;$1526.00&lt;/p&gt; &lt;/td&gt;
       &lt;td&gt; &lt;p&gt;Paid&lt;/p&gt;&lt;/td&gt;
       &lt;td&gt; 
         &lt;div class="progress-showcase"&gt;&lt;div class="progress sm-progress-bar"&gt;
             &lt;div class="progress-bar bg-success" role="progressbar" style="width: 80%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"&gt;&lt;/div&gt;
           &lt;/div&gt;
         &lt;/div&gt;
       &lt;/td&gt;
     &lt;/tr&gt;
   &lt;/tbody&gt;
 &lt;/table&gt;
 &lt;/div&gt;
&lt;/div&gt;
&lt;/div&gt;
&lt;/div&gt;
&lt;/div&gt;</code></pre>
      </div>
    </div>
  </div>
</div>