{% extends 'base-genai.html' %}{% load static %}
{% load sass_tags %}
{% block css %}
<!-- Plugins css start-->
<!-- <link rel="stylesheet" type="text/css" href="{% sass_src 'assets/scss/vendors/animate.scss' %}"> -->
<!-- <link rel="stylesheet" type="text/css" href="{% sass_src 'assets/scss/vendors/prism.scss' %}"> -->
<link rel="stylesheet" type="text/css" href="{% static 'assets/scss/vendors/sweetalert2.scss' %}">

<!-- Plugins css Ends-->
{% endblock css %}
{% block content %}
<div class="page-body">
  {% include 'layout/breadcrumb-dashboard-2.html' %}
  <!-- Container-fluid starts-->
  <div class="container-fluid default-dash">
    <div class="row">
        {% include 'theme_genai/document_extraction/components/index-1-top.html' %}
    </div>
  </div>
  <!-- Container-fluid Ends-->
</div>
{% endblock content %}
{% block scriptcontent %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="{% static 'assets/js/sweet-alert/sweetalert.min.js' %}"></script>
<script type="text/javascript">
  
$('[data-bs-target="#modalFile"').on('click', function() {
  console.log('doc_link: ' + $('[data-bs-target="#modalFile"').attr('data-link'));
  console.log('doc_file: ' + $('[data-bs-target="#modalFile"').attr('data-file'));
  $('.modal-title').html($('[data-bs-target="#modalFile"').attr('data-file'));

  $('#pdfFrame').attr("src", $('[data-bs-target="#modalFile"').attr('data-link') + "#view=VFit" + "&toolbar=0" + "&navpanes=0");
});

$('#btn_form_step1').click(function(){
    $(".new_doc").hide(); 
    if ($('#new_doc').get(0).files.length === 0) {
      $(".new_doc").show(); 
      console.log("No files selected.");
    }else{
      $("#btn_form_step1").prop('disabled', true)
      
      $("#display_conf").hide();
      $("#display_step4").hide();

      const formData = new FormData();
      
      const fileInput = document.getElementById('new_doc');
      const file = fileInput.files[0];
      var file_result = ""
      
      const reader = new FileReader();
      reader.onloadend = () => { 
      
        formData.append('new_doc', reader.result);
        formData.append('csrfmiddlewaretoken', $('[name="csrfmiddlewaretoken"]').val())

        fetch('ud_action_newdoc', {
          method: 'POST',
          body: formData
        })
        .then(response => response.json())
        .then(data_json => {
          console.log(data_json);
          if(data_json.status){
            swal("Poof! Your document flawlessly uploaded", {
              icon: "success"
            }).then((value) => {
              console.log(data_json);
              $("#btn_form_step1").prop('disabled', false)
              $('#form_step1')[0].reset();

              $('#processing_time').val(data_json.processing_time)
              $('#ocr_conf').val(data_json.ocr_conf)
              $('#preview_ocr_result').val(data_json.preview_ocr_result)   

              $('#form_step1')[0].reset();
            });
          }else{
            swal("Failed!", "The document test you sent failed to be processed!", "error");
          }
          $("#btn_form_step1").prop('disabled', false)
        });

      };
      reader.readAsDataURL(file);
    }
  });

  function ud_btn_docname(data){
    $("#display_conf").hide();
    $("#display_step4").hide();

    var docname = $(data).data('docname');
    $.ajax(
    {
        type:"GET",
        url: "ud_action_docname",
        data:{post_id: docname},
        success: function( data ) 
        {
          console.log(data);
          data_json = JSON.parse(data);

          $('#processing_time').val(data_json.processing_time)
          $('#ocr_conf').val(data_json.ocr_conf)
          $('#preview_ocr_result').val(data_json.preview_ocr_result)   
        }
    })
  };
  
  function ud_btn_del(request){
    $("#display_conf").hide();
    $("#display_step4").hide();
    
    swal({
        title: "Are you sure?",
        text: "Once deleted, you will not be able to recover this file!",
        icon: "warning",
        buttons: true,
        dangerMode: true,
    })
    .then((willDelete) => {
        if (willDelete) {
            var datadel = $(request).data('del');
            $.ajax(
            {
                type:"GET",
                url: "ud_action_docdel",
                data:{post_id: datadel},
                success: function( response ) 
                {
                  console.log(response);
                  data_json = JSON.parse(response);
                  $("#row-"+datadel).remove();
                  swal("Poof! Your file has been deleted!", {
                    icon: "success",
                  });
                }
            })
        } else {
            swal("Your file is safe!");
        }
    }) 
  };

  $('#ud_btn_showconf').click(function(){
    $("#display_conf").hide();
    $.ajax(
    {
        type:"POST",
        url: "ud_action_showconf",
        data: $('#form_step3').serialize(),
        success: function( response ) 
        {
          data_json = JSON.parse(response);
          console.log(data_json)
          console.log(data_json.dt_processing_time);
          console.log(data_json.dt_ocr_conf);
          console.log(data_json.dt_preview_ocr_result);
          $("#display_conf").show();
          $("#ocr_conf_score").html(data_json.result_conf)
          
        }
    })
  });
  
  $('#ud_btn_search').click(function(){
    $("#display_step4").hide();
    $.ajax(
    {
        type:"POST",
        url: "ud_action_search",
        data: $('#form_step4').serialize(),
        success: function( response )
        {
          console.log(response);
          data_json = JSON.parse(response);
          console.log(data_json.preview_ocr_result);
          $("#display_step4").show();
          $("#preview_prompt_result").val(String(data_json.preview_prompt_result))
          
        }
    })
  });
</script>

<!-- Plugins JS start-->
<script src="{% static 'assets/js/popover-custom.js' %}"></script>
<script src="{% static 'assets/js/form-validation-custom.js' %}"></script>
<script src="{% static 'assets/js/prism/prism.min.js' %}"></script>
<script src="{% static 'assets/js/clipboard/clipboard.min.js' %}"></script>
<script src="{% static 'assets/js/counter/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'assets/js/counter/jquery.counterup.min.js' %}"></script>
<script src="{% static 'assets/js/counter/counter-custom.js' %}"></script>
<script src="{% static 'assets/js/custom-card/custom-card.js' %}"></script>
<script src="{% static 'assets/js/notify/bootstrap-notify.min.js' %}"></script>
<!-- <script src="{% static 'assets/js/dashboard/default.js' %}"></script> -->
<script src="{% static 'assets/js/notify/index.js' %}"></script>
<script src="{% static 'assets/js/greeting.js' %}"></script>
<!-- Plugins JS Ends-->
{% endblock scriptcontent %}