{% extends 'base-genai.html' %}{% load static %}
{% load sass_tags %}
{% block css %}
<!-- Plugins css start-->
<link rel="stylesheet" type="text/css" href="{% sass_src 'assets/scss/vendors/animate.scss' %}">
<!-- <link rel="stylesheet" type="text/css" href="{% sass_src 'assets/scss/vendors/prism.scss' %}"> -->
<!-- Plugins css Ends-->
{% endblock css %}
{% block content %}
<div class="page-body">
  {% include 'layout/breadcrumb-dashboard-2.html' %}
  <!-- Container-fluid starts-->
  <div class="container-fluid default-dash">
    <div class="row">
      {% include 'theme_genai/document_extraction/components/index-3-top.html' %}
    </div>
  </div>
  <!-- Container-fluid Ends-->
</div>
{% endblock content %}
{% block scriptcontent %}
<!-- Plugins JS start-->
<script src="{% static 'assets/js/popover-custom.js' %}"></script>
<script src="{% static 'assets/js/form-validation-custom.js' %}"></script>
<script src="{% static 'assets/js/icons/icons-notify.js' %}"></script>
<script src="{% static 'assets/js/icons/icon-clipart.js' %}"></script>
<script src="{% static 'assets/js/prism/prism.min.js' %}"></script>
<script src="{% static 'assets/js/clipboard/clipboard.min.js' %}"></script>
<script src="{% static 'assets/js/counter/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'assets/js/counter/jquery.counterup.min.js' %}"></script>
<script src="{% static 'assets/js/counter/counter-custom.js' %}"></script>
<script src="{% static 'assets/js/custom-card/custom-card.js' %}"></script>
<script src="{% static 'assets/js/notify/bootstrap-notify.min.js' %}"></script>
<!-- <script src="{% static 'assets/js/dashboard/default.js' %}"></script> -->
<script src="{% static 'assets/js/notify/index.js' %}"></script>
<script src="{% static 'assets/js/greeting.js' %}"></script>
<!-- Plugins JS Ends-->
{% endblock scriptcontent %}