{% load static %}
{% load sass_tags %}
<div class="col-xl-3 col-lg-6 col-sm-6 xl-4">
  <div class="card">
    <div class="product-box">
      <div class="product-img">
        <div class="ribbon ribbon-danger">Sale</div><img class="img-fluid"
          src="{% static 'assets/images/ecommerce/02.jpg' %}" alt="">
        <div class="product-hover">
          <ul>
            <li><a href="/ecommerce_cart" data-bs-original-title="" title=""><i class="icon-shopping-cart"></i></a>
            </li>
            <li><a data-bs-toggle="modal" data-bs-target="#productmodal9" data-bs-original-title="" title=""><i
                  class="icon-eye"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="modal fade" id="productmodal9">
        <div class="modal-dialog modal-lg modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <div class="product-box row">
                <div class="col-lg-6"><img class="img-fluid" src="{% static 'assets/images/ecommerce/02.jpg' %}" alt="">
                </div>
                <div class="product-details col-lg-6 text-start"><a href="/ecommerce_product_page">
                    <h4>Wonder Woman</h4>
                  </a>
                  <ul class="rating-pro">
                    <li><i class="fa fa-star font-warning"></i></li>
                    <li><i class="fa fa-star font-warning"></i></li>
                    <li><i class="fa fa-star font-warning"></i></li>
                    <li><i class="fa fa-star font-warning"></i></li>
                    <li><i class="fa fa-star font-warning"></i></li>
                  </ul>
                  <div class="product-price">$26.00
                    <del>$35.00</del>
                  </div>
                  <div class="product-view">
                    <h6 class="f-w-600">Product Details</h6>
                    <p class="mb-0">Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium
                      doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo.</p>
                  </div>
                  <div class="product-size">
                    <ul>
                      <li>
                        <button class="btn btn-outline-light" type="button" data-bs-original-title=""
                          title="">M</button>
                      </li>
                      <li>
                        <button class="btn btn-outline-light" type="button" data-bs-original-title=""
                          title="">L</button>
                      </li>
                      <li>
                        <button class="btn btn-outline-light" type="button" data-bs-original-title=""
                          title="">Xl</button>
                      </li>
                    </ul>
                  </div>
                  <div class="product-qnty">
                    <h6 class="f-w-600">Quantity</h6>
                    <fieldset>
                      <div class="input-group">
                        <input class="touchspin text-center" type="text" value="5">
                      </div>
                    </fieldset>
                    <div class="addcart-btn"><a class="btn btn-primary" href="/ecommerce_cart" data-bs-original-title=""
                        title="">Add to Cart </a><a class="btn btn-primary" href="/ecommerce_product_page"
                        data-bs-original-title="" title="">View Details</a>
                    </div>
                  </div>
                </div>
              </div>
              <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
          </div>
        </div>
      </div>
      <div class="product-details"><a href="/ecommerce_product_page">
          <h4>Wonder Woman</h4>
        </a>
        <ul class="rating-pro">
          <li><i class="fa fa-star font-warning"></i></li>
          <li><i class="fa fa-star font-warning"></i></li>
          <li><i class="fa fa-star font-warning"></i></li>
          <li><i class="fa fa-star font-warning"></i></li>
          <li><i class="fa fa-star font-warning"></i></li>
        </ul>
        <p>Woman Round T-shirt</p>
        <div class="product-price">$26.00
          <del>$35.00</del>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-xl-3 col-lg-6 col-sm-6 xl-4">
  <div class="card">
    <div class="product-box">
      <div class="product-img"><img class="img-fluid" src="{% static 'assets/images/ecommerce/03.jpg' %}" alt="">
        <div class="product-hover">
          <ul>
            <li><a href="/ecommerce_cart" data-bs-original-title="" title=""><i class="icon-shopping-cart"></i></a>
            </li>
            <li><a data-bs-toggle="modal" data-bs-target="#productmodal10" data-bs-original-title="" title=""><i
                  class="icon-eye"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="modal fade" id="productmodal10">
        <div class="modal-dialog modal-lg modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <div class="product-box row">
                <div class="col-lg-6"><img class="img-fluid" src="{% static 'assets/images/ecommerce/03.jpg' %}" alt="">
                </div>
                <div class="product-details col-lg-6 text-start"><a href="/ecommerce_product_page">
                    <h4>Man's Jacket</h4>
                  </a>
                  <ul class="rating-pro">
                    <li><i class="fa fa-star font-warning"></i></li>
                    <li><i class="fa fa-star font-warning"></i></li>
                    <li><i class="fa fa-star font-warning"></i></li>
                    <li><i class="fa fa-star font-warning"></i></li>
                    <li><i class="fa fa-star font-warning"></i></li>
                  </ul>
                  <div class="product-price">$30.00
                    <del>$40.00</del>
                  </div>
                  <div class="product-view">
                    <h6 class="f-w-600">Product Details</h6>
                    <p class="mb-0">Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium
                      doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo.</p>
                  </div>
                  <div class="product-size">
                    <ul>
                      <li>
                        <button class="btn btn-outline-light" type="button" data-bs-original-title=""
                          title="">M</button>
                      </li>
                      <li>
                        <button class="btn btn-outline-light" type="button" data-bs-original-title=""
                          title="">L</button>
                      </li>
                      <li>
                        <button class="btn btn-outline-light" type="button" data-bs-original-title=""
                          title="">Xl</button>
                      </li>
                    </ul>
                  </div>
                  <div class="product-qnty">
                    <h6 class="f-w-600">Quantity</h6>
                    <fieldset>
                      <div class="input-group">
                        <input class="touchspin text-center" type="text" value="5">
                      </div>
                    </fieldset>
                    <div class="addcart-btn"><a class="btn btn-primary" href="/ecommerce_cart" data-bs-original-title=""
                        title="">Add to Cart </a><a class="btn btn-primary" href="/ecommerce_product_page"
                        data-bs-original-title="" title="">View Details</a>
                    </div>
                  </div>
                </div>
              </div>
              <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
          </div>
        </div>
      </div>
      <div class="product-details"><a href="/ecommerce_product_page">
          <h4>Man's Jacket </h4>
        </a>
        <ul class="rating-pro">
          <li><i class="fa fa-star font-warning"></i></li>
          <li><i class="fa fa-star font-warning"></i></li>
          <li><i class="fa fa-star font-warning"></i></li>
          <li><i class="fa fa-star font-warning"></i></li>
          <li><i class="fa fa-star font-warning"> </i></li>
        </ul>
        <p>Solid Denim Jacket</p>
        <div class="product-price">$30.00
          <del>$40.00</del>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-xl-3 col-lg-6 col-sm-6 xl-4">
  <div class="card">
    <div class="product-box">
      <div class="product-img">
        <div class="ribbon ribbon-success ribbon-right">50%</div><img class="img-fluid"
          src="{% static 'assets/images/ecommerce/04.jpg' %}" alt="">
        <div class="product-hover">
          <ul>
            <li><a href="/ecommerce_cart" data-bs-original-title="" title=""><i class="icon-shopping-cart"></i></a>
            </li>
            <li><a data-bs-toggle="modal" data-bs-target="#productmodal11" data-bs-original-title="" title=""><i
                  class="icon-eye"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="modal fade" id="productmodal11">
        <div class="modal-dialog modal-lg modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <div class="product-box row">
                <div class="col-lg-6"><img class="img-fluid" src="{% static 'assets/images/ecommerce/04.jpg' %}" alt="">
                </div>
                <div class="product-details col-lg-6 text-start"><a href="/ecommerce_product_page">
                    <h4>Roadster</h4>
                  </a>
                  <ul class="rating-pro">
                    <li><i class="fa fa-star font-warning"></i></li>
                    <li><i class="fa fa-star font-warning"></i></li>
                    <li><i class="fa fa-star font-warning"></i></li>
                    <li><i class="fa fa-star font-warning"></i></li>
                    <li><i class="fa fa-star font-warning"></i></li>
                  </ul>
                  <div class="product-price">$35.00
                    <del>$45.00</del>
                  </div>
                  <div class="product-view">
                    <h6 class="f-w-600">Product Details</h6>
                    <p class="mb-0">Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium
                      doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo.</p>
                  </div>
                  <div class="product-size">
                    <ul>
                      <li>
                        <button class="btn btn-outline-light" type="button" data-bs-original-title=""
                          title="">M</button>
                      </li>
                      <li>
                        <button class="btn btn-outline-light" type="button" data-bs-original-title=""
                          title="">L</button>
                      </li>
                      <li>
                        <button class="btn btn-outline-light" type="button" data-bs-original-title=""
                          title="">Xl</button>
                      </li>
                    </ul>
                  </div>
                  <div class="product-qnty">
                    <h6 class="f-w-600">Quantity</h6>
                    <fieldset>
                      <div class="input-group">
                        <input class="touchspin text-center" type="text" value="5">
                      </div>
                    </fieldset>
                    <div class="addcart-btn"><a class="btn btn-primary" href="/ecommerce_cart" data-bs-original-title=""
                        title="">Add to Cart </a><a class="btn btn-primary" href="/ecommerce_product_page"
                        data-bs-original-title="" title="">View Details</a>
                    </div>
                  </div>
                </div>
              </div>
              <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"> </button>
            </div>
          </div>
        </div>
      </div>
      <div class="product-details"><a href="/ecommerce_product_page">
          <h4>Roadster</h4>
        </a>
        <ul class="rating-pro">
          <li><i class="fa fa-star font-warning"></i></li>
          <li><i class="fa fa-star font-warning"></i></li>
          <li><i class="fa fa-star font-warning"></i></li>
          <li><i class="fa fa-star font-warning"></i></li>
          <li><i class="fa fa-star font-warning"></i></li>
        </ul>
        <p>Women Solid Denim Jacket</p>
        <div class="product-price">$35.00
          <del>$45.00</del>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-xl-3 col-lg-6 col-sm-6 xl-4">
  <div class="card">
    <div class="product-box">
      <div class="product-img"><img class="img-fluid" src="{% static 'assets/images/ecommerce/01.jpg' %}" alt="">
        <div class="product-hover">
          <ul>
            <li><a href="/ecommerce_cart" data-bs-original-title="" title=""><i class="icon-shopping-cart"></i></a>
            </li>
            <li><a data-bs-toggle="modal" data-bs-target="#productmodal12" data-bs-original-title="" title=""><i
                  class="icon-eye"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="modal fade" id="productmodal12">
        <div class="modal-dialog modal-lg modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <div class="product-box row">
                <div class="col-lg-6"><img class="img-fluid" src="{% static 'assets/images/ecommerce/01.jpg' %}" alt="">
                </div>
                <div class="product-details col-lg-6 text-start"><a href="/ecommerce_product_page">
                    <h4>Women Skirt</h4>
                  </a>
                  <ul class="rating-pro">
                    <li><i class="fa fa-star font-warning"></i></li>
                    <li><i class="fa fa-star font-warning"></i></li>
                    <li><i class="fa fa-star font-warning"></i></li>
                    <li><i class="fa fa-star font-warning"></i></li>
                    <li><i class="fa fa-star font-warning"></i></li>
                  </ul>
                  <div class="product-price">$48.00
                    <del>$50.00 </del>
                  </div>
                  <div class="product-view">
                    <h6 class="f-w-600">Product Details</h6>
                    <p class="mb-0">Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium
                      doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo.</p>
                  </div>
                  <div class="product-size">
                    <ul>
                      <li>
                        <button class="btn btn-outline-light" type="button" data-bs-original-title=""
                          title="">M</button>
                      </li>
                      <li>
                        <button class="btn btn-outline-light" type="button" data-bs-original-title=""
                          title="">L</button>
                      </li>
                      <li>
                        <button class="btn btn-outline-light" type="button" data-bs-original-title=""
                          title="">Xl</button>
                      </li>
                    </ul>
                  </div>
                  <div class="product-qnty">
                    <h6 class="f-w-600">Quantity</h6>
                    <fieldset>
                      <div class="input-group">
                        <input class="touchspin text-center" type="text" value="5">
                      </div>
                    </fieldset>
                    <div class="addcart-btn"><a class="btn btn-primary" href="/ecommerce_cart" data-bs-original-title=""
                        title="">Add to Cart </a><a class="btn btn-primary" href="/ecommerce_product_page"
                        data-bs-original-title="" title="">View Details</a>
                    </div>
                  </div>
                </div>
              </div>
              <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
          </div>
        </div>
      </div>
      <div class="product-details"><a href="/ecommerce_product_page">
          <h4>Women Skirt</h4>
        </a>
        <ul class="rating-pro">
          <li><i class="fa fa-star font-warning"></i></li>
          <li><i class="fa fa-star font-warning"></i></li>
          <li><i class="fa fa-star font-warning"></i></li>
          <li><i class="fa fa-star font-warning"></i></li>
          <li><i class="fa fa-star font-warning"></i></li>
        </ul>
        <p>Women Solid Peplum Skirt</p>
        <div class="product-price">$48.00
          <del>$60.00 </del>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-xl-3 col-lg-6 col-sm-6 xl-4">
  <div class="card">
    <div class="product-box">
      <div class="product-img">
        <div class="ribbon ribbon-success ribbon-right">50%</div><img class="img-fluid"
          src="{% static 'assets/images/ecommerce/04.jpg' %}" alt="">
        <div class="product-hover">
          <ul>
            <li><a href="/ecommerce_cart" data-bs-original-title="" title=""><i class="icon-shopping-cart"></i></a>
            </li>
            <li><a data-bs-toggle="modal" data-bs-target="#productmodal13" data-bs-original-title="" title=""><i
                  class="icon-eye"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="modal fade" id="productmodal13">
        <div class="modal-dialog modal-lg modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <div class="product-box row">
                <div class="col-lg-6"><img class="img-fluid" src="{% static 'assets/images/ecommerce/04.jpg' %}" alt="">
                </div>
                <div class="product-details col-lg-6 text-start"><a href="/ecommerce_product_page">
                    <h4>Roadster</h4>
                  </a>
                  <ul class="rating-pro">
                    <li><i class="fa fa-star font-warning"></i></li>
                    <li><i class="fa fa-star font-warning"></i></li>
                    <li><i class="fa fa-star font-warning"></i></li>
                    <li><i class="fa fa-star font-warning"></i></li>
                    <li><i class="fa fa-star font-warning"></i></li>
                  </ul>
                  <div class="product-price">$35.00
                    <del>$45.00</del>
                  </div>
                  <div class="product-view">
                    <h6 class="f-w-600">Product Details</h6>
                    <p class="mb-0">Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium
                      doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo.</p>
                  </div>
                  <div class="product-size">
                    <ul>
                      <li>
                        <button class="btn btn-outline-light" type="button" data-bs-original-title=""
                          title="">M</button>
                      </li>
                      <li>
                        <button class="btn btn-outline-light" type="button" data-bs-original-title=""
                          title="">L</button>
                      </li>
                      <li>
                        <button class="btn btn-outline-light" type="button" data-bs-original-title=""
                          title="">Xl</button>
                      </li>
                    </ul>
                  </div>
                  <div class="product-qnty">
                    <h6 class="f-w-600">Quantity</h6>
                    <fieldset>
                      <div class="input-group">
                        <input class="touchspin text-center" type="text" value="5">
                      </div>
                    </fieldset>
                    <div class="addcart-btn"><a class="btn btn-primary" href="/ecommerce_cart" data-bs-original-title=""
                        title="">Add to Cart </a><a class="btn btn-primary" href="/ecommerce_product_page"
                        data-bs-original-title="" title="">View Details</a>
                    </div>
                  </div>
                </div>
              </div>
              <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"> </button>
            </div>
          </div>
        </div>
      </div>
      <div class="product-details"><a href="/ecommerce_product_page">
          <h4>Roadster</h4>
        </a>
        <ul class="rating-pro">
          <li><i class="fa fa-star font-warning"></i></li>
          <li><i class="fa fa-star font-warning"></i></li>
          <li><i class="fa fa-star font-warning"></i></li>
          <li><i class="fa fa-star font-warning"></i></li>
          <li><i class="fa fa-star font-warning"></i></li>
        </ul>
        <p>Women Solid Denim Jacket</p>
        <div class="product-price">$35.00
          <del>$45.00</del>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-xl-3 col-lg-6 col-sm-6 xl-4">
  <div class="card">
    <div class="product-box">
      <div class="product-img"><img class="img-fluid" src="{% static 'assets/images/ecommerce/01.jpg' %}" alt="">
        <div class="product-hover">
          <ul>
            <li><a href="/ecommerce_cart" data-bs-original-title="" title=""><i class="icon-shopping-cart"></i></a>
            </li>
            <li><a data-bs-toggle="modal" data-bs-target="#productmodal14" data-bs-original-title="" title=""><i
                  class="icon-eye"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="modal fade" id="productmodal14">
        <div class="modal-dialog modal-lg modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <div class="product-box row">
                <div class="col-lg-6"><img class="img-fluid" src="{% static 'assets/images/ecommerce/01.jpg' %}" alt="">
                </div>
                <div class="product-details col-lg-6 text-start"><a href="/ecommerce_product_page">
                    <h4>Women Skirt</h4>
                  </a>
                  <ul class="rating-pro">
                    <li><i class="fa fa-star font-warning"></i></li>
                    <li><i class="fa fa-star font-warning"></i></li>
                    <li><i class="fa fa-star font-warning"></i></li>
                    <li><i class="fa fa-star font-warning"></i></li>
                    <li><i class="fa fa-star font-warning"></i></li>
                  </ul>
                  <div class="product-price">$48.00
                    <del>$50.00 </del>
                  </div>
                  <div class="product-view">
                    <h6 class="f-w-600">Product Details</h6>
                    <p class="mb-0">Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium
                      doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo.</p>
                  </div>
                  <div class="product-size">
                    <ul>
                      <li>
                        <button class="btn btn-outline-light" type="button" data-bs-original-title=""
                          title="">M</button>
                      </li>
                      <li>
                        <button class="btn btn-outline-light" type="button" data-bs-original-title=""
                          title="">L</button>
                      </li>
                      <li>
                        <button class="btn btn-outline-light" type="button" data-bs-original-title=""
                          title="">Xl</button>
                      </li>
                    </ul>
                  </div>
                  <div class="product-qnty">
                    <h6 class="f-w-600">Quantity</h6>
                    <fieldset>
                      <div class="input-group">
                        <input class="touchspin text-center" type="text" value="5">
                      </div>
                    </fieldset>
                    <div class="addcart-btn"><a class="btn btn-primary" href="/ecommerce_cart" data-bs-original-title=""
                        title="">Add to Cart </a><a class="btn btn-primary" href="/ecommerce_product_page"
                        data-bs-original-title="" title="">View Details</a>
                    </div>
                  </div>
                </div>
              </div>
              <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
          </div>
        </div>
      </div>
      <div class="product-details"><a href="/ecommerce_product_page">
          <h4>Women Skirt</h4>
        </a>
        <ul class="rating-pro">
          <li><i class="fa fa-star font-warning"></i></li>
          <li><i class="fa fa-star font-warning"></i></li>
          <li><i class="fa fa-star font-warning"></i></li>
          <li><i class="fa fa-star font-warning"></i></li>
          <li><i class="fa fa-star font-warning"></i></li>
        </ul>
        <p>Women Solid Peplum Skirt</p>
        <div class="product-price">$48.00
          <del>$60.00 </del>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-xl-3 col-lg-6 col-sm-6 xl-4">
  <div class="card">
    <div class="product-box">
      <div class="product-img">
        <div class="ribbon ribbon-danger">Sale</div><img class="img-fluid"
          src="{% static 'assets/images/ecommerce/02.jpg' %}" alt="">
        <div class="product-hover">
          <ul>
            <li><a href="/ecommerce_cart" data-bs-original-title="" title=""><i class="icon-shopping-cart"></i></a>
            </li>
            <li><a data-bs-toggle="modal" data-bs-target="#productmodal15" data-bs-original-title="" title=""><i
                  class="icon-eye"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="modal fade" id="productmodal15">
        <div class="modal-dialog modal-lg modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <div class="product-box row">
                <div class="col-lg-6"><img class="img-fluid" src="{% static 'assets/images/ecommerce/02.jpg' %}" alt="">
                </div>
                <div class="product-details col-lg-6 text-start"><a href="/ecommerce_product_page">
                    <h4>Wonder Woman</h4>
                  </a>
                  <ul class="rating-pro">
                    <li><i class="fa fa-star font-warning"></i></li>
                    <li><i class="fa fa-star font-warning"></i></li>
                    <li><i class="fa fa-star font-warning"></i></li>
                    <li><i class="fa fa-star font-warning"></i></li>
                    <li><i class="fa fa-star font-warning"></i></li>
                  </ul>
                  <div class="product-price">$26.00
                    <del>$35.00</del>
                  </div>
                  <div class="product-view">
                    <h6 class="f-w-600">Product Details</h6>
                    <p class="mb-0">Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium
                      doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo.</p>
                  </div>
                  <div class="product-size">
                    <ul>
                      <li>
                        <button class="btn btn-outline-light" type="button" data-bs-original-title=""
                          title="">M</button>
                      </li>
                      <li>
                        <button class="btn btn-outline-light" type="button" data-bs-original-title=""
                          title="">L</button>
                      </li>
                      <li>
                        <button class="btn btn-outline-light" type="button" data-bs-original-title=""
                          title="">Xl</button>
                      </li>
                    </ul>
                  </div>
                  <div class="product-qnty">
                    <h6 class="f-w-600">Quantity</h6>
                    <fieldset>
                      <div class="input-group">
                        <input class="touchspin text-center" type="text" value="5">
                      </div>
                    </fieldset>
                    <div class="addcart-btn"><a class="btn btn-primary" href="/ecommerce_cart" data-bs-original-title=""
                        title="">Add to Cart </a><a class="btn btn-primary" href="/ecommerce_product_page"
                        data-bs-original-title="" title="">View Details</a>
                    </div>
                  </div>
                </div>
              </div>
              <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
          </div>
        </div>
      </div>
      <div class="product-details"><a href="/ecommerce_product_page">
          <h4>Wonder Woman</h4>
        </a>
        <ul class="rating-pro">
          <li><i class="fa fa-star font-warning"></i></li>
          <li><i class="fa fa-star font-warning"></i></li>
          <li><i class="fa fa-star font-warning"></i></li>
          <li><i class="fa fa-star font-warning"></i></li>
          <li><i class="fa fa-star font-warning"></i></li>
        </ul>
        <p>Woman Round T-shirt</p>
        <div class="product-price">$26.00
          <del>$35.00</del>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-xl-3 col-lg-6 col-sm-6 xl-4">
  <div class="card">
    <div class="product-box">
      <div class="product-img"><img class="img-fluid" src="{% static 'assets/images/ecommerce/03.jpg' %}" alt="">
        <div class="product-hover">
          <ul>
            <li><a href="/ecommerce_cart" data-bs-original-title="" title=""><i class="icon-shopping-cart"></i></a>
            </li>
            <li><a data-bs-toggle="modal" data-bs-target="#productmodal16" data-bs-original-title="" title=""><i
                  class="icon-eye"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="modal fade" id="productmodal16">
        <div class="modal-dialog modal-lg modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <div class="product-box row">
                <div class="col-lg-6"><img class="img-fluid" src="{% static 'assets/images/ecommerce/03.jpg' %}" alt="">
                </div>
                <div class="product-details col-lg-6 text-start"><a href="/ecommerce_product_page">
                    <h4>Man's Jacket</h4>
                  </a>
                  <ul class="rating-pro">
                    <li><i class="fa fa-star font-warning"></i></li>
                    <li><i class="fa fa-star font-warning"></i></li>
                    <li><i class="fa fa-star font-warning"></i></li>
                    <li><i class="fa fa-star font-warning"></i></li>
                    <li><i class="fa fa-star font-warning"></i></li>
                  </ul>
                  <div class="product-price">$30.00
                    <del>$40.00</del>
                  </div>
                  <div class="product-view">
                    <h6 class="f-w-600">Product Details</h6>
                    <p class="mb-0">Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium
                      doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo.</p>
                  </div>
                  <div class="product-size">
                    <ul>
                      <li>
                        <button class="btn btn-outline-light" type="button" data-bs-original-title=""
                          title="">M</button>
                      </li>
                      <li>
                        <button class="btn btn-outline-light" type="button" data-bs-original-title=""
                          title="">L</button>
                      </li>
                      <li>
                        <button class="btn btn-outline-light" type="button" data-bs-original-title=""
                          title="">Xl</button>
                      </li>
                    </ul>
                  </div>
                  <div class="product-qnty">
                    <h6 class="f-w-600">Quantity</h6>
                    <fieldset>
                      <div class="input-group">
                        <input class="touchspin text-center" type="text" value="5">
                      </div>
                    </fieldset>
                    <div class="addcart-btn"><a class="btn btn-primary" href="/ecommerce_cart" data-bs-original-title=""
                        title="">Add to Cart </a><a class="btn btn-primary" href="/ecommerce_product_page"
                        data-bs-original-title="" title="">View Details</a>
                    </div>
                  </div>
                </div>
              </div>
              <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
          </div>
        </div>
      </div>
      <div class="product-details"><a href="/ecommerce_product_page">
          <h4>Man's Jacket </h4>
        </a>
        <ul class="rating-pro">
          <li><i class="fa fa-star font-warning"></i></li>
          <li><i class="fa fa-star font-warning"></i></li>
          <li><i class="fa fa-star font-warning"></i></li>
          <li><i class="fa fa-star font-warning"></i></li>
          <li><i class="fa fa-star font-warning"> </i></li>
        </ul>
        <p>Solid Denim Jacket</p>
        <div class="product-price">$30.00
          <del>$40.00</del>
        </div>
      </div>
    </div>
  </div>
</div>