{% load static %}
{% load sass_tags %}
<div class="col-sm-12 col-xl-6 box-col-6">
  <div class="card">
    <div class="card-header pb-0">
      <h5>Basic Area Chart </h5>
    </div>
    <div class="card-body">
      <div id="basic-apex"></div>
    </div>
  </div>
</div>
<div class="col-sm-12 col-xl-6 box-col-6">
  <div class="card">
    <div class="card-header pb-0">
      <h5>Area Spaline Chart </h5>
    </div>
    <div class="card-body">
      <div id="area-spaline"></div>
    </div>
  </div>
</div>
<div class="col-sm-12 col-xl-6 box-col-6">
  <div class="card">
    <div class="card-header pb-0">
      <h5>Bar chart</h5>
    </div>
    <div class="card-body">
      <div id="basic-bar"></div>
    </div>
  </div>
</div>
<div class="col-sm-12 col-xl-6 box-col-6">
  <div class="card">
    <div class="card-header pb-0">
      <h5>Column Chart </h5>
    </div>
    <div class="card-body">
      <div id="column-chart"></div>
    </div>
  </div>
</div>
<div class="col-sm-12 col-xl-6 box-col-12">
  <div class="card">
    <div class="card-header pb-0">
      <h5>
        3d Bubble Chart </h5>
    </div>
    <div class="card-body">
      <div id="chart-bubble"></div>
    </div>
  </div>
</div>
<div class="col-sm-12 col-xl-6 box-col-6">
  <div class="card">
    <div class="card-header pb-0">
      <h5>Stepline Chart </h5>
    </div>
    <div class="card-body">
      <div id="stepline"></div>
    </div>
  </div>
</div>
<div class="col-sm-12 col-xl-12 box-col-6">
  <div class="card">
    <div class="card-header pb-0">
      <h5>Column Chart</h5>
    </div>
    <div class="card-body">
      <div id="annotationchart"></div>
    </div>
  </div>
</div>