{% extends 'base.html' %}{% load static %}
{% load sass_tags %}
{% block content %}
<div class="page-body">
  {% include 'layout/breadcrumb.html' %}
  <!-- Container-fluid starts-->
  <div class="container-fluid">
    <div class="row">
      {% include 'chat/video_chat/components/chat-side.html' %}
      {% include 'chat/video_chat/components/chat-main.html' %}
    </div>
  </div>
  <!-- Container-fluid Ends-->
</div>
{% endblock content %}
{% block scriptcontent %}
<!-- Plugins JS start-->
<script src="{% static 'assets/js/fullscreen.js' %}"></script>
<!-- Plugins JS Ends-->
{% endblock scriptcontent %}