{% load static %}
{% load sass_tags %}
<div class="col-xl-6">
  <div class="card">
    <div class="card-header pb-0">
      <h5>Clock</h5>
    </div>
    <div class="card-body">
      <div class="knob-block text-center knob-chart">
        <div class="chart-clock-main">
          <div class="clock-large">
            <input class="knob hour" data-min="0" data-max="24" data-bgcolor="#eeeeee" data-fgcolor="#4d8aff"
              data-displayinput="false" data-width="300" data-height="300" data-thickness=".2">
          </div>
          <div class="clock-medium">
            <input class="knob minute" data-min="0" data-max="60" data-bgcolor="#eeeeee" data-fgcolor="#f73164"
              data-displayinput="false" data-width="200" data-height="200" data-thickness=".20">
          </div>
          <div class="clock-small">
            <input class="knob second" data-min="0" data-max="60" data-bgcolor="#eeeeee" data-fgcolor="#46d15e"
              data-displayinput="false" data-width="100" data-height="100" data-thickness=".2">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-xl-6">
  <div class="card">
    <div class="card-header pb-0">
      <h5>Tron</h5>
    </div>
    <div class="card-body">
      <div class="knob-block text-center">
        <input class="knob" data-width="295" data-height="295" data-angleoffset="180" data-fgcolor="#4d8aff"
          data-skin="tron" data-thickness=".1" value="35">
      </div>
    </div>
  </div>
</div>