{% load static %}
{% load sass_tags %}
<div class="card">
  <div class="card-header pb-0">
    <h5>Disabled buttons</h5>
    <div class="card-header-right">
      <ul class="setting-option">
        <li>
          <div class="setting-badge"><i class="fa fa-spin fa-cog font-primary"></i></div>
        </li>
        <li><i class="view-html fa fa-code font-primary"></i></li>
        <li><i class="icofont icofont-maximize full-card font-primary"></i></li>
        <li><i class="icofont icofont-minus minimize-card font-primary"></i></li>
        <li><i class="icofont icofont-refresh reload-card font-primary"></i></li>
        <li><i class="icofont icofont-error close-card font-primary"></i></li>
        <li><i class="icofont icofont-error close-card font-primary"></i></li>
      </ul>
    </div><span>Add <code>.disabled</code> class or <code>disabled="disabled"</code> attribute for disabled
      button</span>
  </div>
  <div class="card-body btn-showcase">
    <button class="btn btn-pill btn-primary disabled" type="button">Disabled</button>
    <button class="btn btn-pill btn-secondary disabled" type="button">Disabled</button>
    <button class="btn btn-pill btn-success disabled" type="button">Disabled</button>
    <button class="btn btn-pill btn-info disabled" type="button">Disabled</button>
    <button class="btn btn-pill btn-warning disabled" type="button">Disabled</button>
    <button class="btn btn-pill btn-danger disabled" type="button">Disabled</button>
    <button class="btn btn-pill btn-light disabled" type="button">Disabled</button>
    <div class="code-box-copy">
      <button class="code-box-copy__btn btn-clipboard" data-clipboard-target="#example-head4" title="Copy"><i
          class="icofont icofont-copy-alt"></i></button>
      <pre><code class="language-html" id="example-head4">&lt;!-- Cod Box Copy begin --&gt;
&lt;button type="button" class="btn btn-pill btn-primary disabled"&gt;Disabled&lt;/button&gt;
&lt;button type="button" class="btn btn-pill btn-secondary disabled"&gt;Disabled&lt;/button&gt;
&lt;button type="button" class="btn btn-pill btn-success disabled"&gt;Disabled&lt;/button&gt;
&lt;button type="button" class="btn btn-pill btn-info disabled"&gt;Disabled&lt;/button&gt;
&lt;button type="button" class="btn btn-pill btn-warning disabled"&gt;Disabled&lt;/button&gt;
&lt;button type="button" class="btn btn-pill btn-danger disabled"&gt;Disabled&lt;/button&gt;
&lt;button type="button" class="btn btn-pill btn-light disabled"&gt;Disabled&lt;/button&gt; 
&lt;!-- Cod Box Copy end --&gt;</code></pre>
    </div>
  </div>
</div>
<div class="card">
  <div class="card-header pb-0">
    <h5>Custom state buttons</h5>
    <div class="card-header-right">
      <ul class="setting-option">
        <li>
          <div class="setting-badge"><i class="fa fa-spin fa-cog font-primary"></i></div>
        </li>
        <li><i class="view-html fa fa-code font-primary"></i></li>
        <li><i class="icofont icofont-maximize full-card font-primary"></i></li>
        <li><i class="icofont icofont-minus minimize-card font-primary"></i></li>
        <li><i class="icofont icofont-refresh reload-card font-primary"></i></li>
        <li><i class="icofont icofont-error close-card font-primary"></i></li>
        <li><i class="icofont icofont-error close-card font-primary"></i></li>
      </ul>
    </div><span>The <code>.btn</code> class used with <code>&lt;button&gt;</code>, <code>&lt;a&gt;</code> and
      <code>&lt;input&gt;</code> elements.</span>
  </div>
  <div class="card-body btn-showcase"><a class="btn btn-pill btn-primary" href="javascript:void(0)"
      data-bs-toggle="tooltip" title="btn btn-primary" role="button">Link</a>
    <input class="btn btn-pill btn-secondary" type="button" value="Input" data-bs-toggle="tooltip"
      title="btn btn-secondary">
    <input class="btn btn-pill btn-success" type="submit" value="Submit" data-bs-toggle="tooltip"
      title="btn btn-success">
    <button class="btn btn-pill btn-info" type="submit">Button</button>
    <div class="code-box-copy">
      <button class="code-box-copy__btn btn-clipboard" data-clipboard-target="#example-head5" title="Copy"><i
          class="icofont icofont-copy-alt"></i></button>
      <pre><code class="language-html" id="example-head5">&lt;!-- Cod Box Copy begin --&gt;
&lt;a class=&quot;btn btn-pill btn-primary&quot; href=&quot;#&quot; data-bs-toggle=&quot;tooltip;&quot; title=&quot;btn btn-primary&quot; role=&quot;button&quot;&gt;link&lt;/button&gt;
&lt;input class=&quot;btn btn-pill btn-primary&quot; type=&quot;button&quot; value=&quot;Input&quot;  data-bs-toggle=&quot;tooltip;&quot; title=&quot;btn btn-secondary&quot;&gt;
&lt;input class=&quot;btn btn-pill btn-success&quot; type=&quot;submit&quot; value=&quot;Submit&quot; data-bs-toggle=&quot;tooltip&quot; title=&quot;btn btn-success&quot;&gt;
&lt;button class=&quot;btn btn-pill btn-info&quot; type=&quot;submit&quot;&gt;Button&lt;/button&gt; 
&lt;!-- Cod Box Copy end --&gt;</code></pre>
    </div>
  </div>
</div>
<div class="card">
  <div class="card-header pb-0">
    <h5>outline buttons</h5>
    <div class="card-header-right">
      <ul class="setting-option">
        <li>
          <div class="setting-badge"><i class="fa fa-spin fa-cog font-primary"></i></div>
        </li>
        <li><i class="view-html fa fa-code font-primary"></i></li>
        <li><i class="icofont icofont-maximize full-card font-primary"></i></li>
        <li><i class="icofont icofont-minus minimize-card font-primary"></i></li>
        <li><i class="icofont icofont-refresh reload-card font-primary"></i></li>
        <li><i class="icofont icofont-error close-card font-primary"></i></li>
        <li><i class="icofont icofont-error close-card font-primary"></i></li>
      </ul>
    </div><span>Add <code>.btn-pill</code> and <code>.btn-outline-*</code> class for button with outline</span>
  </div>
  <div class="card-body btn-showcase">
    <button class="btn btn-pill btn-outline-primary" type="button">Primary Button</button>
    <button class="btn btn-pill btn-outline-secondary" type="button">Secondary Button</button>
    <button class="btn btn-pill btn-outline-success" type="button">Success Button</button>
    <button class="btn btn-pill btn-outline-info" type="button">Info Button</button>
    <button class="btn btn-pill btn-outline-warning" type="button">Warning Button</button>
    <button class="btn btn-pill btn-outline-danger" type="button">Danger Button</button>
    <button class="btn btn-pill btn-outline-light txt-dark" type="button">Light Button</button>
    <div class="code-box-copy">
      <button class="code-box-copy__btn btn-clipboard" data-clipboard-target="#example-head6" title="Copy"><i
          class="icofont icofont-copy-alt"></i></button>
      <pre><code class="language-html" id="example-head6">&lt;!-- Cod Box Copy begin --&gt;
&lt;button type="button" class="btn btn-pill btn-outline-primary"&gt;primary button&lt;/button&gt;
&lt;button type="button" class="btn btn-pill btn-outline-secondary"&gt;secondary button&lt;/button&gt;
&lt;button type="button" class="btn btn-pill btn-outline-success"&gt;Success button&lt;/button&gt;
&lt;button type="button" class="btn btn-pill btn-outline-info"&gt;Info button&lt;/button&gt;
&lt;button type="button" class="btn btn-pill btn-outline-warning"&gt;warning button&lt;/button&gt;
&lt;button type="button" class="btn btn-pill btn-outline-danger"&gt;danger button&lt;/button&gt;
&lt;button type="button" class="btn btn-pill btn-outline-light txt-dark"&gt;light button&lt;/button&gt;
&lt;!-- Cod Box Copy end --&gt;</code></pre>
    </div>
  </div>
</div>
<div class="card">
  <div class="card-header pb-0">
    <h5>bold Border outline buttons</h5>
    <div class="card-header-right">
      <ul class="setting-option">
        <li>
          <div class="setting-badge"><i class="fa fa-spin fa-cog font-primary"></i></div>
        </li>
        <li><i class="view-html fa fa-code font-primary"></i></li>
        <li><i class="icofont icofont-maximize full-card font-primary"></i></li>
        <li><i class="icofont icofont-minus minimize-card font-primary"></i></li>
        <li><i class="icofont icofont-refresh reload-card font-primary"></i></li>
        <li><i class="icofont icofont-error close-card font-primary"></i></li>
        <li><i class="icofont icofont-error close-card font-primary"></i></li>
      </ul>
    </div><span>Add <code>.btn-pill</code> and <code>.btn-outline-*-2x</code> class for button with bold outline</span>
  </div>
  <div class="card-body btn-showcase">
    <button class="btn btn-pill btn-outline-primary-2x" type="button">Primary Button</button>
    <button class="btn btn-pill btn-outline-secondary-2x" type="button">Secondary Button</button>
    <button class="btn btn-pill btn-outline-success-2x" type="button">Success Button</button>
    <button class="btn btn-pill btn-outline-info-2x" type="button">Info Button</button>
    <button class="btn btn-pill btn-outline-warning-2x" type="button">Warning Button</button>
    <button class="btn btn-pill btn-outline-danger-2x" type="button">Danger Button</button>
    <button class="btn btn-pill btn-outline-light-2x txt-dark" type="button">Light Button</button>
    <div class="code-box-copy">
      <button class="code-box-copy__btn btn-clipboard" data-clipboard-target="#example-head7" title="Copy"><i
          class="icofont icofont-copy-alt"></i></button>
      <pre><code class="language-html" id="example-head7">&lt;!-- Cod Box Copy begin --&gt;
&lt;button type="button" class="btn btn-pill btn-outline-primary-2x"&gt;primary button&lt;/button&gt;
&lt;button type="button" class="btn btn-pill btn-outline-secondary-2x"&gt;secondary button&lt;/button&gt;
&lt;button type="button" class="btn btn-pill btn-outline-success-2x"&gt;Success button&lt;/button&gt;
&lt;button type="button" class="btn btn-pill btn-outline-info-2x"&gt;Info button&lt;/button&gt;
&lt;button type="button" class="btn btn-pill btn-outline-warning-2x"&gt;warning button&lt;/button&gt;
&lt;button type="button" class="btn btn-pill btn-outline-danger-2x"&gt;danger button&lt;/button&gt;
&lt;button type="button" class="btn btn-pill btn-outline-light-2x txt-dark"&gt;light button&lt;/button&gt; 
&lt;!-- Cod Box Copy end --&gt;</code></pre>
    </div>
  </div>
</div>