{% load static %}
{% load sass_tags %}
<div class="card">
  <div class="card-header pb-0">
    <h5>outline Large buttons</h5>
    <div class="card-header-right">
      <ul class="setting-option">
        <li>
          <div class="setting-badge"><i class="fa fa-spin fa-cog font-primary"></i></div>
        </li>
        <li><i class="view-html fa fa-code font-primary"></i></li>
        <li><i class="icofont icofont-maximize full-card font-primary"></i></li>
        <li><i class="icofont icofont-minus minimize-card font-primary"></i></li>
        <li><i class="icofont icofont-refresh reload-card font-primary"></i></li>
        <li><i class="icofont icofont-error close-card font-primary"></i></li>
        <li><i class="icofont icofont-error close-card font-primary"></i></li>
      </ul>
    </div><span>Add <code>.btn-pill</code>,<code>.btn-outline-*</code> and <code>.btn-lg</code> class for large
      button</span>
  </div>
  <div class="card-body btn-showcase">
    <button class="btn btn-pill btn-outline-primary btn-lg" type="button">Primary Button</button>
    <button class="btn btn-pill btn-outline-secondary btn-lg" type="button">Secondary Button</button>
    <button class="btn btn-pill btn-outline-success btn-lg" type="button">Success Button</button>
    <button class="btn btn-pill btn-outline-info btn-lg" type="button">Info Button</button>
    <button class="btn btn-pill btn-outline-warning btn-lg" type="button">Warning Button</button>
    <button class="btn btn-pill btn-outline-danger btn-lg" type="button">Danger Button</button>
    <button class="btn btn-pill btn-outline-light btn-lg txt-dark" type="button">Light Button</button>
    <div class="code-box-copy">
      <button class="code-box-copy__btn btn-clipboard" data-clipboard-target="#example-head8" title="Copy"><i
          class="icofont icofont-copy-alt"></i></button>
      <pre><code class="language-html" id="example-head8">&lt;!-- Cod Box Copy begin --&gt;
&lt;button type="button" class="btn btn-pill btn-outline-primary btn-lg"&gt;primary button&lt;/button&gt;
&lt;button type="button" class="btn btn-pill btn-outline-secondary btn-lg"&gt;secondary button&lt;/button&gt;
&lt;button type="button" class="btn btn-pill btn-outline-success btn-lg"&gt;Success button&lt;/button&gt;
&lt;button type="button" class="btn btn-pill btn-outline-info btn-lg"&gt;Info button&lt;/button&gt;
&lt;button type="button" class="btn btn-pill btn-outline-warning btn-lg"&gt;warning button&lt;/button&gt;
&lt;button type="button" class="btn btn-pill btn-outline-danger btn-lg"&gt;danger button&lt;/button&gt;
&lt;button type="button" class="btn btn-pill btn-outline-light btn-lg txt-dark"&gt;light button&lt;/button&gt; 
&lt;!-- Cod Box Copy end --&gt;</code></pre>
    </div>
  </div>
</div>
<div class="card">
  <div class="card-header pb-0">
    <h5>outline small buttons</h5>
    <div class="card-header-right">
      <ul class="setting-option">
        <li>
          <div class="setting-badge"><i class="fa fa-spin fa-cog font-primary"></i></div>
        </li>
        <li><i class="view-html fa fa-code font-primary"></i></li>
        <li><i class="icofont icofont-maximize full-card font-primary"></i></li>
        <li><i class="icofont icofont-minus minimize-card font-primary"></i></li>
        <li><i class="icofont icofont-refresh reload-card font-primary"></i></li>
        <li><i class="icofont icofont-error close-card font-primary"></i></li>
        <li><i class="icofont icofont-error close-card font-primary"></i></li>
      </ul>
    </div><span>Add <code>.btn-pill</code>,<code>.btn-outline-*</code> and <code>.btn-sm</code> class for small
      button</span>
  </div>
  <div class="card-body btn-showcase">
    <button class="btn btn-pill btn-outline-primary btn-sm" type="button">Primary Button</button>
    <button class="btn btn-pill btn-outline-secondary btn-sm" type="button">Secondary Button</button>
    <button class="btn btn-pill btn-outline-success btn-sm" type="button">Success Button</button>
    <button class="btn btn-pill btn-outline-info btn-sm" type="button">Info Button</button>
    <button class="btn btn-pill btn-outline-warning btn-sm" type="button">Warning Button</button>
    <button class="btn btn-pill btn-outline-danger btn-sm" type="button">Danger Button</button>
    <button class="btn btn-pill btn-outline-light btn-sm txt-dark" type="button">Light Button</button>
    <div class="code-box-copy">
      <button class="code-box-copy__btn btn-clipboard" data-clipboard-target="#example-head9" title="Copy"><i
          class="icofont icofont-copy-alt"></i></button>
      <pre><code class="language-html" id="example-head9">&lt;!-- Cod Box Copy begin --&gt;
&lt;button type="button" class="btn btn-pill btn-outline-primary btn-sm"&gt;primary button&lt;/button&gt;
&lt;button type="button" class="btn btn-pill btn-outline-secondary btn-sm"&gt;secondary button&lt;/button&gt;
&lt;button type="button" class="btn btn-pill btn-outline-success btn-sm"&gt;Success button&lt;/button&gt;
&lt;button type="button" class="btn btn-pill btn-outline-info btn-sm"&gt;Info button&lt;/button&gt;
&lt;button type="button" class="btn btn-pill btn-outline-warning btn-sm"&gt;warning button&lt;/button&gt;
&lt;button type="button" class="btn btn-pill btn-outline-danger btn-sm"&gt;danger button&lt;/button&gt;
&lt;button type="button" class="btn btn-pill btn-outline-light btn-sm txt-dark"&gt;light button&lt;/button&gt; 
&lt;!-- Cod Box Copy end --&gt;</code></pre>
    </div>
  </div>
</div>
<div class="card">
  <div class="card-header pb-0">
    <h5>Outline extra small buttons</h5>
    <div class="card-header-right">
      <ul class="setting-option">
        <li>
          <div class="setting-badge"><i class="fa fa-spin fa-cog font-primary"></i></div>
        </li>
        <li><i class="view-html fa fa-code font-primary"></i></li>
        <li><i class="icofont icofont-maximize full-card font-primary"></i></li>
        <li><i class="icofont icofont-minus minimize-card font-primary"></i></li>
        <li><i class="icofont icofont-refresh reload-card font-primary"></i></li>
        <li><i class="icofont icofont-error close-card font-primary"></i></li>
        <li><i class="icofont icofont-error close-card font-primary"></i></li>
      </ul>
    </div><span>Add <code>.btn-pill</code>,<code>.btn-outline-*</code> and <code>.btn-xs</code> class for extra small
      button</span>
  </div>
  <div class="card-body btn-showcase">
    <button class="btn btn-pill btn-outline-primary btn-xs" type="button">Primary Button</button>
    <button class="btn btn-pill btn-outline-secondary btn-xs" type="button">Secondary Button</button>
    <button class="btn btn-pill btn-outline-success btn-xs" type="button">Success Button</button>
    <button class="btn btn-pill btn-outline-info btn-xs" type="button">Info Button</button>
    <button class="btn btn-pill btn-outline-warning btn-xs" type="button">Warning Button</button>
    <button class="btn btn-pill btn-outline-danger btn-xs" type="button">Danger Button</button>
    <button class="btn btn-pill btn-outline-light btn-xs txt-dark" type="button">Light Button</button>
    <div class="code-box-copy">
      <button class="code-box-copy__btn btn-clipboard" data-clipboard-target="#example-head10" title="Copy"><i
          class="icofont icofont-copy-alt"></i></button>
      <pre><code class="language-html" id="example-head10">&lt;!-- Cod Box Copy begin --&gt;
&lt;button type="button" class="btn btn-pill btn-outline-primary btn-xs"&gt;primary button&lt;/button&gt;
&lt;button type="button" class="btn btn-pill btn-outline-secondary btn-xs"&gt;secondary button&lt;/button&gt;
&lt;button type="button" class="btn btn-pill btn-outline-success btn-xs"&gt;Success button&lt;/button&gt;
&lt;button type="button" class="btn btn-pill btn-outline-info btn-xs"&gt;Info button&lt;/button&gt;
&lt;button type="button" class="btn btn-pill btn-outline-warning btn-xs"&gt;warning button&lt;/button&gt;
&lt;button type="button" class="btn btn-pill btn-outline-danger btn-xs"&gt;danger button&lt;/button&gt;
&lt;button type="button" class="btn btn-pill btn-outline-light btn-xs txt-dark"&gt;light button&lt;/button&gt; 
&lt;!-- Cod Box Copy end --&gt;</code></pre>
    </div>
  </div>
</div>
<div class="card">
  <div class="card-header pb-0">
    <h5>Disabled outline buttons</h5>
    <div class="card-header-right">
      <ul class="setting-option">
        <li>
          <div class="setting-badge"><i class="fa fa-spin fa-cog font-primary"></i></div>
        </li>
        <li><i class="view-html fa fa-code font-primary"></i></li>
        <li><i class="icofont icofont-maximize full-card font-primary"></i></li>
        <li><i class="icofont icofont-minus minimize-card font-primary"></i></li>
        <li><i class="icofont icofont-refresh reload-card font-primary"></i></li>
        <li><i class="icofont icofont-error close-card font-primary"></i></li>
        <li><i class="icofont icofont-error close-card font-primary"></i></li>
      </ul>
    </div><span>Add <code>.disabled</code> class or <code>disabled="disabled"</code> attribute for disabled
      button</span>
  </div>
  <div class="card-body btn-showcase">
    <button class="btn btn-pill btn-outline-primary disabled" type="button">Disabled</button>
    <button class="btn btn-pill btn-outline-secondary disabled" type="button">Disabled</button>
    <button class="btn btn-pill btn-outline-success disabled" type="button">Disabled</button>
    <button class="btn btn-pill btn-outline-info disabled" type="button">Disabled</button>
    <button class="btn btn-pill btn-outline-warning disabled" type="button">Disabled</button>
    <button class="btn btn-pill btn-outline-danger disabled" type="button">Disabled</button>
    <button class="btn btn-pill btn-outline-light disabled txt-dark" type="button">Disabled</button>
    <div class="code-box-copy">
      <button class="code-box-copy__btn btn-clipboard" data-clipboard-target="#example-head11" title="Copy"><i
          class="icofont icofont-copy-alt"></i></button>
      <pre><code class="language-html" id="example-head11">&lt;!-- Cod Box Copy begin --&gt;
&lt;button type="button" class="btn btn-pill btn-outline-primary disabled"&gt;Disabled&lt;/button&gt;
&lt;button type="button" class="btn btn-pill btn-outline-secondary disabled"&gt;Disabled&lt;/button&gt;
&lt;button type="button" class="btn btn-pill btn-outline-success disabled"&gt;Disabled&lt;/button&gt;
&lt;button type="button" class="btn btn-pill btn-outline-info disabled"&gt;Disabled&lt;/button&gt;
&lt;button type="button" class="btn btn-pill btn-outline-warning disabled"&gt;Disabled&lt;/button&gt;
&lt;button type="button" class="btn btn-pill btn-outline-danger disabled"&gt;Disabled&lt;/button&gt;
&lt;button type="button" class="btn btn-pill btn-outline-light disabled txt-dark"&gt;Disabled&lt;/button&gt; 
&lt;!-- Cod Box Copy end --&gt;</code></pre>
    </div>
  </div>
</div>
<div class="card">
  <div class="card-header pb-0">
    <h5>Gradien buttons</h5>
    <div class="card-header-right">
      <ul class="setting-option">
        <li>
          <div class="setting-badge"><i class="fa fa-spin fa-cog font-primary"></i></div>
        </li>
        <li><i class="view-html fa fa-code font-primary"></i></li>
        <li><i class="icofont icofont-maximize full-card font-primary"></i></li>
        <li><i class="icofont icofont-minus minimize-card font-primary"></i></li>
        <li><i class="icofont icofont-refresh reload-card font-primary"></i></li>
        <li><i class="icofont icofont-error close-card font-primary"></i></li>
        <li><i class="icofont icofont-error close-card font-primary"></i></li>
      </ul>
    </div><span>Add <code>.btn-pill</code> and <code>.btn-*-gradien</code>class for gradien button</span>
  </div>
  <div class="card-body btn-showcase">
    <button class="btn btn-pill btn-primary-gradien" type="button">Primary Button</button>
    <button class="btn btn-pill btn-secondary-gradien" type="button">Secondary Button</button>
    <button class="btn btn-pill btn-success-gradien" type="button">Success Button</button>
    <button class="btn btn-pill btn-info-gradien" type="button">Info Button</button>
    <button class="btn btn-pill btn-warning-gradien" type="button">Warning Button</button>
    <button class="btn btn-pill btn-danger-gradien" type="button">Danger Button</button>
    <button class="btn btn-pill btn-light-gradien txt-dark" type="button">Light Button</button>
    <div class="code-box-copy">
      <button class="code-box-copy__btn btn-clipboard" data-clipboard-target="#example-head12" title="Copy"><i
          class="icofont icofont-copy-alt"></i></button>
      <pre><code class="language-html" id="example-head12">&lt;!-- Cod Box Copy begin --&gt;
&lt;button type="button" class="btn btn-pill btn-primary-gradien"&gt;primary button&lt;/button&gt;
&lt;button type="button" class="btn btn-pill btn-secondary-gradien"&gt;secondary button&lt;/button&gt;
&lt;button type="button" class="btn btn-pill btn-success-gradien"&gt;Success button&lt;/button&gt;
&lt;button type="button" class="btn btn-pill btn-info-gradien"&gt;Info button&lt;/button&gt;
&lt;button type="button" class="btn btn-pill btn-warning-gradien"&gt;warning button&lt;/button&gt;
&lt;button type="button" class="btn btn-pill btn-danger-gradien"&gt;danger button&lt;/button&gt;
&lt;button type="button" class="btn btn-pill btn-light-gradien.txt-dark"&gt;light button&lt;/button&gt; 
&lt;!-- Cod Box Copy end --&gt;</code></pre>
    </div>
  </div>
</div>