{% load static %}
{% load sass_tags %}
<div class="col-sm-6 col-xl-3 box-col-6 des-xl-50">
  <div class="card">
    <div class="blog-box blog-grid">
      <div class="blog-wrraper"><a href="/blog_single"><img class="img-fluid top-radius-blog"
            src="{% static 'assets/images/blog/blog-5.jpg' %}" alt=""></a></div>
      <div class="blog-details-second">
        <div class="blog-post-date"><span class="blg-month">apr</span><span class="blg-date">10</span></div><a
          href="/blog_single">
          <h6 class="blog-bottom-details">Perspiciatis unde omnis.</h6>
        </a>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
        <div class="detail-footer">
          <ul class="social-list">
            <li><i class="fa fa-user-o"></i>admin</li>
            <li><i class="fa fa-comments-o"></i>5</li>
            <li><i class="fa fa-thumbs-o-up"></i>2 like</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-sm-6 col-xl-3 box-col-6 des-xl-50">
  <div class="card">
    <div class="blog-box blog-grid">
      <div class="blog-wrraper"><a href="/blog_single"><img class="img-fluid top-radius-blog"
            src="{% static 'assets/images/blog/blog-6.jpg' %}" alt=""></a></div>
      <div class="blog-details-second">
        <div class="blog-post-date"><span class="blg-month">apr</span><span class="blg-date">10</span></div><a
          href="/blog_single">
          <h6 class="blog-bottom-details">Perspiciatis unde omnis.</h6>
        </a>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
        <div class="detail-footer">
          <ul class="social-list">
            <li><i class="fa fa-user-o"></i>admin</li>
            <li><i class="fa fa-comments-o"></i>5</li>
            <li><i class="fa fa-thumbs-o-up"></i>2 like</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-sm-6 col-xl-3 box-col-6 des-xl-50">
  <div class="card">
    <div class="blog-box blog-grid">
      <div class="blog-wrraper"><a href="/blog_single"><img class="img-fluid top-radius-blog"
            src="{% static 'assets/images/blog/blog-5.jpg' %}" alt=""></a></div>
      <div class="blog-details-second">
        <div class="blog-post-date"><span class="blg-month">apr</span><span class="blg-date">10</span></div><a
          href="/blog_single">
          <h6 class="blog-bottom-details">Perspiciatis unde omnis.</h6>
        </a>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
        <div class="detail-footer">
          <ul class="social-list">
            <li><i class="fa fa-user-o"></i>admin</li>
            <li><i class="fa fa-comments-o"></i>5</li>
            <li><i class="fa fa-thumbs-o-up"></i>2 like</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-sm-6 col-xl-3 box-col-6 des-xl-50">
  <div class="card">
    <div class="blog-box blog-grid">
      <div class="blog-wrraper"><a href="/blog_single"><img class="img-fluid top-radius-blog"
            src="{% static 'assets/images/blog/blog-6.jpg' %}" alt=""></a></div>
      <div class="blog-details-second">
        <div class="blog-post-date"><span class="blg-month">apr</span><span class="blg-date">10</span></div><a
          href="/blog_single">
          <h6 class="blog-bottom-details">Perspiciatis unde omnis.</h6>
        </a>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
        <div class="detail-footer">
          <ul class="social-list">
            <li><i class="fa fa-user-o"></i>admin</li>
            <li><i class="fa fa-comments-o"></i>5</li>
            <li><i class="fa fa-thumbs-o-up"></i>2 like</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>