{% extends 'base.html' %}{% load static %}
{% load sass_tags %}
{% block content %}
<div class="page-body">
  {% include 'layout/breadcrumb.html' %}
  <!-- Container-fluid starts-->
  <div class="container-fluid">
    <!-- Bootstrap TouchSpin Spinners start-->
    <div class="bootstrap-touchspin">
      <div class="row">
        {% include 'forms/form_widgets/touchspin/components/top-section.html' %}
        {% include 'forms/form_widgets/touchspin/components/middle-section.html' %}
        {% include 'forms/form_widgets/touchspin/components/bottom-section.html' %}
      </div>
    </div>
    <!-- Container-fluid Ends-->
  </div>
</div>
{% endblock content %}
{% block scriptcontent %}
<!-- Plugins JS start-->
<script src="{% static 'assets/js/touchspin/vendors.min.js' %}"></script>
<script src="{% static 'assets/js/touchspin/touchspin.js' %}"></script>
<script src="{% static 'assets/js/touchspin/input-groups.min.js' %}"></script>
<!-- Plugins JS Ends-->
{% endblock scriptcontent %}