{% load static %}
{% load sass_tags %}
<div class="col call-chat-sidebar">
  <div class="card">
    <div class="card-body chat-body">
      <div class="chat-box">
        <!-- Chat left side Start-->
        <div class="chat-left-aside">
          <div class="media"><img class="rounded-circle user-image" src="{% static 'assets/images/user/12.png' %}"
              alt="">
            <div class="about">
              <div class="name f-w-600">Mark Jecno</div>
              <div class="status">Status...</div>
            </div>
          </div>
          <div class="people-list" id="people-list">
            <div class="search">
              <form class="theme-form">
                <div class="form-group">
                  <input class="form-control" type="text" placeholder="search"><i class="fa fa-search"></i>
                </div>
              </form>
            </div>
            <ul class="list custom-scrollbar">
              <li class="clearfix">
                <div class="media"><img class="rounded-circle user-image" src="{% static 'assets/images/user/1.jpg' %}"
                    alt="">
                  <div class="status-circle away"></div>
                  <div class="media-body">
                    <div class="about">
                      <div class="name">Vincent Porter</div>
                      <div class="status">Hello Name</div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="clearfix">
                <div class="media"><img class="rounded-circle user-image" src="{% static 'assets/images/user/2.png' %}"
                    alt="">
                  <div class="status-circle online"></div>
                  <div class="media-body">
                    <div class="about">
                      <div class="name">Aiden Chavez</div>
                      <div class="status">Out is my favorite.</div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="clearfix">
                <div class="media"><img class="rounded-circle user-image" src="{% static 'assets/images/user/8.jpg' %}"
                    alt="">
                  <div class="status-circle online"></div>
                  <div class="media-body">
                    <div class="about">
                      <div class="name">Prasanth Anand</div>
                      <div class="status">Change for anyone.</div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="clearfix">
                <div class="media"><img class="rounded-circle user-image" src="{% static 'assets/images/user/4.jpg' %}"
                    alt="">
                  <div class="status-circle offline"></div>
                  <div class="media-body">
                    <div class="about">
                      <div class="name">Venkata Satyamu</div>
                      <div class="status">First bun like a sun.</div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="clearfix">
                <div class="media"><img class="rounded-circle user-image" src="{% static 'assets/images/user/5.jpg' %}"
                    alt="">
                  <div class="status-circle online"></div>
                  <div class="media-body">
                    <div class="about">
                      <div class="name">Ginger Johnston</div>
                      <div class="status">it's my life. Mind it.</div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="clearfix">
                <div class="media"><img class="rounded-circle user-image" src="{% static 'assets/images/user/8.jpg' %}"
                    alt="">
                  <div class="status-circle offline"></div>
                  <div class="media-body">
                    <div class="about">
                      <div class="name">Kori Thomas</div>
                      <div class="status">Change for anyone.</div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="clearfix">
                <div class="media"><img class="rounded-circle user-image" src="{% static 'assets/images/user/1.jpg' %}"
                    alt="">
                  <div class="status-circle online"></div>
                  <div class="media-body">
                    <div class="about">
                      <div class="name">Vincent Porter</div>
                      <div class="status">Hello Name</div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="clearfix">
                <div class="media"><img class="rounded-circle user-image" src="{% static 'assets/images/user/8.jpg' %}"
                    alt="">
                  <div class="status-circle online"></div>
                  <div class="media-body">
                    <div class="about">
                      <div class="name">Kori Thomas</div>
                      <div class="status">Change for anyone.</div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <!-- Chat left side Ends-->
      </div>
    </div>
  </div>
</div>