{% load static %}
{% load sass_tags %}
<div class="card">
  <div class="card-header pb-0">
    <h5>Basic Example</h5>
  </div>
  <div class="card-body">
    <div class="owl-carousel owl-theme" id="owl-carousel-1">
      <div class="item"><img src="{% static 'assets/images/slider/1.jpg' %}" alt=""></div>
      <div class="item"><img src="{% static 'assets/images/slider/1.jpg' %}" alt=""></div>
      <div class="item"><img src="{% static 'assets/images/slider/2.jpg' %}" alt=""></div>
      <div class="item"><img src="{% static 'assets/images/slider/3.jpg' %}" alt=""></div>
      <div class="item"><img src="{% static 'assets/images/slider/4.jpg' %}" alt=""></div>
      <div class="item"><img src="{% static 'assets/images/slider/5.jpg' %}" alt=""></div>
      <div class="item"><img src="{% static 'assets/images/slider/6.jpg' %}" alt=""></div>
      <div class="item"><img src="{% static 'assets/images/slider/7.jpg' %}" alt=""></div>
      <div class="item"><img src="{% static 'assets/images/slider/8.jpg' %}" alt=""></div>
      <div class="item"><img src="{% static 'assets/images/slider/9.jpg' %}" alt=""></div>
      <div class="item"><img src="{% static 'assets/images/slider/10.jpg' %}" alt=""></div>
      <div class="item"><img src="{% static 'assets/images/slider/11.jpg' %}" alt=""></div>
    </div>
  </div>
</div>
<div class="card">
  <div class="card-header pb-0">
    <h5>Responsive Example</h5>
  </div>
  <div class="card-body">
    <div class="owl-carousel owl-theme" id="owl-carousel-2">
      <div class="item"><img src="{% static 'assets/images/slider/1.jpg' %}" alt=""></div>
      <div class="item"><img src="{% static 'assets/images/slider/1.jpg' %}" alt=""></div>
      <div class="item"><img src="{% static 'assets/images/slider/2.jpg' %}" alt=""></div>
      <div class="item"><img src="{% static 'assets/images/slider/3.jpg' %}" alt=""></div>
      <div class="item"><img src="{% static 'assets/images/slider/4.jpg' %}" alt=""></div>
      <div class="item"><img src="{% static 'assets/images/slider/5.jpg' %}" alt=""></div>
      <div class="item"><img src="{% static 'assets/images/slider/6.jpg' %}" alt=""></div>
      <div class="item"><img src="{% static 'assets/images/slider/7.jpg' %}" alt=""></div>
      <div class="item"><img src="{% static 'assets/images/slider/8.jpg' %}" alt=""></div>
      <div class="item"><img src="{% static 'assets/images/slider/9.jpg' %}" alt=""></div>
      <div class="item"><img src="{% static 'assets/images/slider/10.jpg' %}" alt=""></div>
      <div class="item"><img src="{% static 'assets/images/slider/11.jpg' %}" alt=""></div>
    </div>
  </div>
</div>
<div class="card">
  <div class="card-header pb-0">
    <h5>Center Example</h5>
  </div>
  <div class="card-body">
    <div class="owl-carousel owl-theme" id="owl-carousel-3">
      <div class="item"><img src="{% static 'assets/images/slider/1.jpg' %}" alt=""></div>
      <div class="item"><img src="{% static 'assets/images/slider/1.jpg' %}" alt=""></div>
      <div class="item"><img src="{% static 'assets/images/slider/2.jpg' %}" alt=""></div>
      <div class="item"><img src="{% static 'assets/images/slider/3.jpg' %}" alt=""></div>
      <div class="item"><img src="{% static 'assets/images/slider/4.jpg' %}" alt=""></div>
      <div class="item"><img src="{% static 'assets/images/slider/5.jpg' %}" alt=""></div>
      <div class="item"><img src="{% static 'assets/images/slider/6.jpg' %}" alt=""></div>
      <div class="item"><img src="{% static 'assets/images/slider/7.jpg' %}" alt=""></div>
      <div class="item"><img src="{% static 'assets/images/slider/8.jpg' %}" alt=""></div>
      <div class="item"><img src="{% static 'assets/images/slider/9.jpg' %}" alt=""></div>
      <div class="item"><img src="{% static 'assets/images/slider/10.jpg' %}" alt=""></div>
      <div class="item"><img src="{% static 'assets/images/slider/11.jpg' %}" alt=""></div>
    </div>
  </div>
</div>
<div class="card">
  <div class="card-header pb-0">
    <h5>Merge Example</h5>
  </div>
  <div class="card-body">
    <div class="owl-carousel owl-theme" id="owl-carousel-4">
      <div class="item"><img src="{% static 'assets/images/slider/1.jpg' %}" alt=""></div>
      <div class="item"><img src="{% static 'assets/images/slider/2.jpg' %}" alt=""></div>
      <div class="item"><img src="{% static 'assets/images/slider/3.jpg' %}" alt=""></div>
      <div class="item"><img src="{% static 'assets/images/slider/4.jpg' %}" alt=""></div>
      <div class="item"><img src="{% static 'assets/images/slider/5.jpg' %}" alt=""></div>
      <div class="item"><img src="{% static 'assets/images/slider/6.jpg' %}" alt=""></div>
      <div class="item"><img src="{% static 'assets/images/slider/7.jpg' %}" alt=""></div>
      <div class="item"><img src="{% static 'assets/images/slider/8.jpg' %}" alt=""></div>
      <div class="item"><img src="{% static 'assets/images/slider/9.jpg' %}" alt=""></div>
      <div class="item"><img src="{% static 'assets/images/slider/10.jpg' %}" alt=""></div>
      <div class="item"><img src="{% static 'assets/images/slider/11.jpg' %}" alt=""></div>
    </div>
  </div>
</div>