{% load static %}
{% load sass_tags %}
<div class="col-md-6">
  <div class="card">
    <div class="card-header pb-0">
      <h5>Set options in javascript, instead of data-* :</h5>
    </div>
    <div class="card-body">
      <form class="theme-form">
        <div>
          <div class="input-group clockpicker" data-placement="top" data-align="left" data-donetext="Done">
            <input class="form-control" type="text" value="18:00"><span class="input-group-addon"><span
                class="glyphicon glyphicon-time"></span></span>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>