{% load static %}
{% load sass_tags %}

<!-- page Header Start -->
<div class="page-main-header">
  <div class="main-header-right row m-0">
    <div class="main-header-left">
      <div class="logo-wrapper"><a href="/dashboard_default"><img class="img-fluid"
            src="https://avatars.githubusercontent.com/u/18357950?s=200&v=4" width="50" alt="img"></a></div>
    </div>
    <div class="toggle-sidebar"><i class="status_toggle middle" data-feather="align-center" id="sidebar-toggle"></i>
    </div>
    <div class="left-menu-header col">
      Document Digitalization Solutions
    </div>
    <div class="nav-right col pull-right right-menu">
      <ul class="nav-menus">
        <li>
          <div class="mode"><i class="fa fa-moon-o"></i></div>
        </li>
        <li><a class="text-dark" href="#!" onclick="javascript:toggleFullScreen()"><i data-feather="maximize"></i></a>
        </li>
        <li class="onhover-dropdown">
          <div class="media profile-media">
              <img class="rounded-circle"
              src="https://i.pravatar.cc/35" alt="">
          </div>
          <ul class="profile-dropdown onhover-show-div">
            <li><a href="/users_users_profile"><i data-feather="user"></i><span>Account </span></a></li>
            <li><a href="/users_users_edit"><i data-feather="settings"></i><span>Settings</span></a></li>
            <li><a class="btn btn-light w-100" href="/logout_view">Log out</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="d-lg-none col mobile-toggle pull-right"><i data-feather="more-horizontal"></i></div>
  </div>
</div>
<!-- page Header End-->