{% load static %}
{% load sass_tags %}
<div class="col-xl-12 col-md-12 des-xl-50 box-col-12">
  <div class="card profile-greeting">
    <div class="card-decore">
      <div class="main"><img class="img-fluid" src="{% static 'assets/images/dashboard/1.png' %}"
          alt="Image description"></div>
      <div class="dot dot1"></div>
      <div class="dot dot2"> </div>
      <div class="dot dot3"> </div>
      <div class="dot dot4"></div>
      <div class="cross cross1"> </div>
      <div class="cross cross2"> </div>
      <div class="cross cross3"> </div>
    </div>
    <div class="card-body">
      <div class="media">
        <ul class="setting-option bg-transparent">
          <li>
            <div class="setting-badge light-badge"><i class="fa fa-cog"></i></div>
          </li>
          <li><i class="view-html fa fa-code"></i></li>
          <li><i class="icofont icofont-maximize full-card"></i></li>
          <li><i class="icofont icofont-minus minimize-card"></i></li>
          <li><i class="icofont icofont-refresh reload-card"></i></li>
          <li><i class="icofont icofont-error close-card"></i></li>
        </ul>
      </div>
      <div class="greeting-user text-left" style="padding-left:5%">
        <div>
          <h1>Welcome </h1>
          <h5 style="font-family: 'Montserrat', sans-serif;font-weight: 400;">{{request.user.get_full_name}}</h5>
          <p style="padding:0;font-family: 'Montserrat', sans-serif;font-weight:200;font-size:16px">Let's see the gorgeous journey about document artificial intelligence with us. We're sure you'll love it!
          <!-- </p><a class="btn btn-light" href="#" data-original-title="" title="">Check Update</a> -->
        </div>
      </div>
    </div>
    <canvas id="confetti"></canvas>
  </div>
</div>