{% load static %}
{% load sass_tags %}
<div class="col-xl-2 col-md-4 col-sm-6 box-col-3">
  <div class="prooduct-details-box">
    <div class="media"><a href="/ecommerce_product_page"><img class="align-self-center img-fluid"
          src="{% static 'assets/images/ecommerce/05.jpg' %}" alt="#"></a>
      <div class="media-body">
        <div class="product-name"><a href="/ecommerce_product_page">
            <h6>Fancy Women's Cotton</h6>
          </a></div>
        <ul class="rating">
          <li><i class="fa fa-star"></i></li>
          <li><i class="fa fa-star"></i></li>
          <li><i class="fa fa-star"></i></li>
          <li><i class="fa fa-star"></i></li>
          <li><i class="fa fa-star"></i></li>
        </ul>
        <div class="price">Price<span>: 210$</span></div>
        <div class="avaiabilty">
          <div class="text-success">In stock</div>
        </div><a class="btn btn-primary btn-xs" href="#">Move to Cart</a>
      </div>
    </div>
  </div>
</div>
<div class="col-xl-2 col-md-4 col-sm-6 box-col-3">
  <div class="prooduct-details-box">
    <div class="media"><a href="/ecommerce_product_page"><img class="align-self-center img-fluid"
          src="{% static 'assets/images/ecommerce/07.jpg' %}" alt="#"></a>
      <div class="media-body">
        <div class="product-name"><a href="/ecommerce_product_page">
            <h6>Fancy Women's Cotton</h6>
          </a></div>
        <ul class="rating">
          <li><i class="fa fa-star"></i></li>
          <li><i class="fa fa-star"></i></li>
          <li><i class="fa fa-star"></i></li>
          <li><i class="fa fa-star"></i></li>
          <li><i class="fa fa-star"></i></li>
        </ul>
        <div class="price">Price<span>: 210$</span></div>
        <div class="avaiabilty">
          <div class="text-success">In stock</div>
        </div><a class="btn btn-primary btn-xs" href="#">Move to Cart</a>
      </div>
    </div>
  </div>
</div>

<div class="col-xl-2 col-md-4 col-sm-6 box-col-3">
  <div class="prooduct-details-box">
    <div class="media"><a href="/ecommerce_product_page"><img class="align-self-center img-fluid"
          src="{% static 'assets/images/ecommerce/08.jpg' %}" alt="#"></a>
      <div class="media-body">
        <div class="product-name"><a href="/ecommerce_product_page">
            <h6>Fancy Women's Cotton</h6>
          </a></div>
        <ul class="rating">
          <li><i class="fa fa-star"></i></li>
          <li><i class="fa fa-star"></i></li>
          <li><i class="fa fa-star"></i></li>
          <li><i class="fa fa-star"></i></li>
          <li><i class="fa fa-star"></i></li>
        </ul>
        <div class="price">Price<span>: 210$</span></div>
        <div class="avaiabilty">
          <div class="text-success">In stock</div>
        </div><a class="btn btn-primary btn-xs" href="#">Move to Cart</a>
      </div>
    </div>
  </div>
</div>
<div class="col-xl-2 col-md-4 col-sm-6 box-col-3">
  <div class="prooduct-details-box">
    <div class="media"><a href="/ecommerce_product_page"><img class="align-self-center img-fluid"
          src="{% static 'assets/images/ecommerce/01.jpg' %}" alt="#"></a>
      <div class="media-body">
        <div class="product-name"><a href="/ecommerce_product_page">
            <h6>Fancy Women's Cotton</h6>
          </a></div>
        <ul class="rating">
          <li><i class="fa fa-star"></i></li>
          <li><i class="fa fa-star"></i></li>
          <li><i class="fa fa-star"></i></li>
          <li><i class="fa fa-star"></i></li>
          <li><i class="fa fa-star"></i></li>
        </ul>
        <div class="price">Price<span>: 210$</span></div>
        <div class="avaiabilty">
          <div class="text-success">In stock</div>
        </div><a class="btn btn-primary btn-xs" href="#">Move to Cart</a>
      </div>
    </div>
  </div>
</div>
<div class="col-xl-2 col-md-4 col-sm-6 box-col-3">
  <div class="prooduct-details-box">
    <div class="media"><a href="/ecommerce_product_page"><img class="align-self-center img-fluid"
          src="{% static 'assets/images/ecommerce/02.jpg' %}" alt="#"></a>
      <div class="media-body">
        <div class="product-name"><a href="/ecommerce_product_page">
            <h6>Fancy Women's Cotton</h6>
          </a></div>
        <ul class="rating">
          <li><i class="fa fa-star"></i></li>
          <li><i class="fa fa-star"></i></li>
          <li><i class="fa fa-star"></i></li>
          <li><i class="fa fa-star"></i></li>
          <li><i class="fa fa-star"></i></li>
        </ul>
        <div class="price">Price<span>: 210$</span></div>
        <div class="avaiabilty">
          <div class="text-success">In stock</div>
        </div><a class="btn btn-primary btn-xs" href="#">Move to Cart</a>
      </div>
    </div>
  </div>
</div>
<div class="col-xl-2 col-md-4 col-sm-6 box-col-3">
  <div class="prooduct-details-box">
    <div class="media"><a href="/ecommerce_product_page"><img class="align-self-center img-fluid"
          src="{% static 'assets/images/ecommerce/03.jpg' %}" alt="#"></a>
      <div class="media-body">
        <div class="product-name"><a href="/ecommerce_product_page">
            <h6>Fancy Women's Cotton</h6>
          </a></div>
        <ul class="rating">
          <li><i class="fa fa-star"></i></li>
          <li><i class="fa fa-star"></i></li>
          <li><i class="fa fa-star"></i></li>
          <li><i class="fa fa-star"></i></li>
          <li><i class="fa fa-star"></i></li>
        </ul>
        <div class="price">Price<span>: 210$</span></div>
        <div class="avaiabilty">
          <div class="text-success">In stock</div>
        </div><a class="btn btn-primary btn-xs" href="#">Move to Cart</a>
      </div>
    </div>
  </div>
</div>