{% extends 'base.html' %}{% load static %}
{% load sass_tags %}
{% block content %}
<div class="page-body">
  {% include 'layout/breadcrumb.html' %}
  <!-- Container-fluid starts-->
  <div class="container-fluid">
    <div class="row">
      {% include 'job_search/job_details/components/job-details-side.html' %}
      <div class="col-xl-9 xl-60 box-col-7">
        {% include 'job_search/job_details/components/job-details-main-top.html' %}
        {% include 'job_search/job_details/components/job-details-main-bottom.html' %}
      </div>
    </div>
  </div>
  <!-- Container-fluid Ends-->
</div>
{% endblock content %}