{% load static %}
{% load sass_tags %}
<div class="col-sm-6">
  <div class="card">
    <div class="card-header pb-0">
      <h5>Click and Drag</h5>
    </div>
    <div class="card-body">
      <div class="scroll-bar-wrap">
        <div class="click-drag-handler scroll-demo p-0"><img src="{% static 'assets/images/banner/2.jpg' %}" alt=""
            width="800" height="600"></div>
      </div>
    </div>
  </div>
</div>
<div class="col-sm-6">
  <div class="card">
    <div class="card-header pb-0">
      <h5>Small Size Scroll</h5>
    </div>
    <div class="card-body">
      <div class="scroll-bar-wrap">
        <div class="scrollbar-margins large-margin scroll-demo p-0"><img src="{% static 'assets/images/banner/3.jpg' %}"
            alt="girl" width="800" height="600"></div>
      </div>
    </div>
  </div>
</div>