{% load static %}
{% load sass_tags %}
<div class="tab-pane contact-tab-1 tab-content-child fade" id="v-pills-profile" role="tabpanel"
  aria-labelledby="v-pills-profile-tab">
  <div class="profile-mail">
    <div class="media"><img class="img-100 img-fluid m-r-20 rounded-circle update_img_1"
        src="{% static 'assets/images/user/8.jpg' %}" alt="">
      <input class="updateimg" type="file" name="img" onchange="readURL(this,1)">
      <div class="media-body mt-0">
        <h5><span class="first_name_1">Comeren </span><span class="last_name_1">Diaz</span></h5>
        <p class="email_add_1">comeren@gmail.com</p>
        <ul>
          <li><a href="javascript:void(0)" onclick="editContact(1)">Edit</a></li>
          <li><a href="javascript:void(0)" onclick="deleteContact(1)">Delete</a></li>
          <li><a href="javascript:void(0)" onclick="history(1)">History</a></li>
          <li><a href="javascript:void(0)" onclick="printContact(1)" data-bs-toggle="modal"
              data-bs-target="#printModal">Print</a></li>
        </ul>
      </div>
    </div>
    <div class="email-general">
      <h6 class="mb-3">General</h6>
      <ul>
        <li>Name <span class="font-primary first_name_1">Comeren</span></li>
        <li>Gender <span class="font-primary">Female</span></li>
        <li>Birthday<span class="font-primary"> <span class="birth_day_1">7</span><span
              class="birth_month_1 ms-1">Feb</span><span class="birth_year_1 ms-1">1995</span></span></li>
        <li>Personality<span class="font-primary personality_1">Cool</span></li>
        <li>City<span class="font-primary city_1">Delhi</span></li>
        <li>Mobile No<span class="font-primary mobile_num_1">+0 1800 55812</span></li>
        <li>Email Address <span class="font-primary email_add_1">comeren@gmail.com</span></li>
        <li>Website<span class="font-primary url_add_1">www.cometest@.com</span></li>
        <li>Interest<span class="font-primary interest_1">sports</span></li>
      </ul>
    </div>
  </div>
</div>