{% load static %}
{% load sass_tags %}
<div class="tab-pane contact-tab-5 tab-content-child fade" id="v-pills-contact8" role="tabpanel"
  aria-labelledby="v-pills-contact1-tab">
  <div class="profile-mail">
    <div class="media"><img class="img-100 img-fluid m-r-20 rounded-circle update_img_5"
        src="{% static 'assets/images/avtar/11.jpg' %}" alt="">
      <input class="updateimg" type="file" name="img" onchange="readURL(this,5)">
      <div class="media-body mt-0">
        <h5> <span class="first_name_5">Monty </span><span class="last_name_5">Carlo</span></h5>
        <p class="email_add_5">monty@gmail.com</p>
        <ul>
          <li><a href="javascript:void(0)" onclick="editContact(5)">Edit</a></li>
          <li><a href="javascript:void(0)" onclick="deleteContact(5)">Delete</a></li>
          <li><a href="javascript:void(0)" onclick="history(5)">History</a></li>
          <li><a href="javascript:void(0)" onclick="printContact(5)" data-bs-toggle="modal"
              data-bs-target="#printModal">Print</a></li>
        </ul>
      </div>
    </div>
    <div class="email-general">
      <h6 class="mb-3">General</h6>
      <ul>
        <li>Name <span class="font-primary first_name_5">Monty</span></li>
        <li>Gender <span class="font-primary">Male</span></li>
        <li>Birthday<span class="font-primary"> <span class="birth_day_5">12</span><span
              class="birth_month_5 ms-1">Nov</span><span class="birth_year_5 ms-1">1994</span></span></li>
        <li>Personality<span class="font-primary personality_5">Cool</span></li>
        <li>City<span class="font-primary city_5">Amreli</span></li>
        <li>Mobile No<span class="font-primary mobile_num_5">+0 1800 87944</span></li>
        <li>Email Address <span class="font-primary email_add_5">monty@gmail.com</span></li>
        <li>Website<span class="font-primary url_add_5">www.mon@.com</span></li>
        <li>Interest<span class="font-primary interest_5">sports</span></li>
      </ul>
    </div>
  </div>
</div>