{% load static %}
{% load sass_tags %}
<div class="col-xl-6 col-md-12 col-sm-12 box-col-12">
  <div class="card">
    <div class="card-header pb-0">
      <h5>Stacked bar chart</h5>
    </div>
    <div class="card-body">
      <div class="ct-10 flot-chart-container"></div>
    </div>
  </div>
</div>

<div class="col-xl-6 col-md-12 col-sm-12 box-col-12">
  <div class="card">
    <div class="card-header pb-0">
      <h5>Horizontal bar chart</h5>
    </div>
    <div class="card-body">
      <div class="ct-11 flot-chart-container"></div>
    </div>
  </div>
</div>
<div class="col-xl-6 col-md-12 col-sm-12 box-col-12">
  <div class="card">
    <div class="card-header pb-0">
      <h5>Extreme responsive configuration</h5>
    </div>
    <div class="card-body">
      <div class="ct-12 flot-chart-container"></div>
    </div>
  </div>
</div>
<div class="col-xl-6 col-md-12 col-sm-12 box-col-12">
  <div class="card">
    <div class="card-header pb-0">
      <h5>Simple line chart</h5>
    </div>
    <div class="card-body">
      <div class="ct-1 flot-chart-container"></div>
    </div>
  </div>
</div>
<div class="col-xl-6 col-md-12 col-sm-12 box-col-12">
  <div class="card">
    <div class="card-header pb-0">
      <h5>Holes in data</h5>
    </div>
    <div class="card-body">
      <div class="ct-2 flot-chart-container"></div>
    </div>
  </div>
</div>
<div class="col-xl-6 col-md-12 col-sm-12 box-col-12">
  <div class="card">
    <div class="card-header pb-0">
      <h5>Filled holes in data</h5>
    </div>
    <div class="card-body">
      <div class="ct-3 flot-chart-container"></div>
    </div>
  </div>
</div>