{% load static %}
{% load sass_tags %}
<!-- Browser uses and website visiter widget Start-->
<div class="row">
  <!-- browser uses widget chart Start-->
  <div class="col-sm-12 box-col-12">
    <div class="donut-chart-widget">
      <div class="card">
        <div class="card-header">
          <div class="media">
            <div class="media-body">
              <h5>Browser Uses</h5>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div id="chart-widget13"></div>
          <div class="code-box-copy">
            <button class="code-box-copy__btn btn-clipboard" data-clipboard-target="#example-head4" title="Copy"><i
                class="icofont icofont-copy-alt"></i></button>
            <pre><code class="language-html" id="example-head4">&lt;!-- Cod Box Copy begin --&gt;
&lt;div id="#chart-widget13"&gt;&lt;/div&gt;
&lt;!-- Cod Box Copy end --&gt;</code></pre>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- browser uses widget chart Endss-->