{% extends 'base.html' %}{% load static %}
{% load sass_tags %}
{% block content %}
<div class="page-body">
  {% include 'layout/breadcrumb.html' %}

  <!-- Container-fluid starts-->
  <div class="container-fluid">
    {% include 'forms/form_layout/form_wizard_2/components/form-wizard-and-validation.html' %}


  </div>
  <!-- Container-fluid Ends-->
</div>
{% endblock content %}
{% block scriptcontent %}
<!-- Plugins JS start-->
<script src="{% static 'assets/js/form-wizard/form-wizard-two.js' %}"></script>
<!-- Plugins JS Ends-->
{% endblock scriptcontent %}