{% extends 'base.html' %}{% load static %}
{% load sass_tags %}
{% block content %}
<div class="page-body">
  {% include 'layout/breadcrumb.html' %}
  <!-- Container-fluid starts-->
  <div class="container-fluid">
    {% include 'forms/form_layout/form_wizard_3/components/form-wizard-with-icon.html' %}
  </div>
  <!-- Container-fluid Ends-->
</div>
{% endblock content %}
{% block scriptcontent %}
<!-- Plugins JS start-->
<script src="{% static 'assets/js/form-wizard/form-wizard-three.js' %}"></script>
<script src="{% static 'assets/js/form-wizard/jquery.backstretch.min.js' %}"></script>
<script src="{% static 'assets/js/tooltip-init.js' %}"></script>
<!-- Plugins JS Ends-->
{% endblock scriptcontent %}